<script >

   $(document).ready(function() {
    simpleCart.empty();
    localStorage.clear();
   });

</script>

<div class="base col-88">
<div class="col-86 rowfixed exito">
<h2>Tu pedido fue solicitado con 
exito!</h2>
<img src="img/logo_success.svg">
<p>En breve se comunicará nuestro asesor de ventas.<br>
Gracias por darnos tu confianza!</p>
<img src="img/logoL.png">
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div> 