@charset "UTF-8";
/*///////////////////// 8aDG | D.G. Matias Ochoa Payva ///////////////////////*/
/*-------------------------| matias8adg@gmail.com |---------------------------*/
/*                                                                            */
/*////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------| FUENTES |---------------------------------*/
/*TITULOS*/
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
/*TEXTOS EN GRAL*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@font-face {
  font-family: 'gorrasiUI';
  src: url("../fonts/font3425.woff") format("woff"), url("../fonts/font3425.ttf") format("truetype"), url("../fonts/font3425.svg#font3425") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 70, ../sass/base.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'gorrasiUI';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.menuinterno {background:none;padding-top: 56px;}
.fuentemenu {
	font-family: 'Open Sans',sans-serif;font-weight: 300;
color: #2d2d2d;
padding: 5px;
text-align: center;
font-size: 1.2vw;
margin-bottom: 5px;
white-space: nowrap;}
#frmSearch{background-color:white}
/* line 84, ../sass/base.scss */
.icon-usuario:before {
  content: "k";
  font-size: 2.25em; }
 .ch {
    display: none; }
/*---------------------------------| RESET |----------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 96, ../sass/base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  /*=========== Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, */
/* line 120, ../sass/base.scss */
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 124, ../sass/base.scss */
ol, ul {
  list-style: none !important; }

/* line 127, ../sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 131, ../sass/base.scss */
a {
  text-decoration: none !important; }

/*---------------| BORRA RECTANGULOS A LOS LINKS MOBILE |---------------------*/


 a, a:active, a:focus {
outline: none!important;
-moz-outline-style: none!important;
text-decoration: none;
font-family: 'Open Sans', sans-serif;

}

  * {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); and
-webkit-focus-ring-color: rgba(0, 0, 0, 0);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

/*---------------------------| Acordeon 8aDG |--------------------------------*/
/* line 154, ../sass/base.scss */
* {
  font-family: sans-serif;
  margin: 0; }
  
  /* line 139, ../sass/base.scss */
dl {
  margin: 0px auto;
  width: 100%;
}

/* line 140, ../sass/base.scss */
dt, dd {
  padding: 20px;
}

/* line 141, ../sass/base.scss */
dt {
  background: #333333;
  color: #fff;
  border-bottom: 1px solid #141414;
  border-top: 1px solid #4E4E4E;
  cursor: pointer;
}

/* line 142, ../sass/base.scss */
dd {
  background: #F5F5F5;
  display: none;
  line-height: 1.6em;
  text-align: center;
}

/* line 143, ../sass/base.scss */
dt.activo, dt:hover {
  background: #424242;
}

/* line 144, ../sass/base.scss */
dd:first-child {
  display: block;
}

/* line 145, ../sass/base.scss */
dt:before {
  content: "▸";
  margin-right: 10px;
}

/* line 146, ../sass/base.scss */
dt.activo:before {
  content: "▾";
}

/* line 155, ../sass/base.scss */

/*-------------------------GridContainer 8aDG---------------------------------*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


html, body {
  height: 100%;

  margin: 0 auto;
  padding: 0px;
  background: #fff; }

 body{
     overflow-x: hidden;
 } 

/* line 168, ../sass/base.scss */
.grid-container {
  width: 100%;
  height: 100%;
  /*max-width: 1360px;*/
  /*background-color: rgba(255,0,0 ,0.2);*/
  /*display: table;*/
  clear: both;
  margin: 0 auto;
  padding: 0px; }

/*-- our cleafix hack -- */
/* line 181, ../sass/base.scss */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

/* line 188, ../sass/base.scss */
.rowfixed {
  display: table !important;
  width: 75%!important;
  margin: 0 12.5% !important; }

/* line 195, ../sass/base.scss */
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  /*-- our gutter -- */
  /*background-color: $clr_bs_top;*/ }
  
  [class*='colIGM-'] {
  float: RIGHT;
  min-height: 1px;
  width: 16.66%;
  /*-- our gutter -- */
  /*background-color: $clr_bs_top;*/ }

/*---------------------- cuadrados perfectos para las columnas ------------------------------*/
/* line 205, ../sass/base.scss */
.square {
  height: 0;
  padding-bottom: 12.5%; }

/* line 210, ../sass/base.scss */
.square1 {
  height: 0;
  padding-bottom: 16.66667%; }

/* line 211, ../sass/base.scss */
.square2 {
  height: 0;
  padding-bottom: 33.33333%; }

/* line 212, ../sass/base.scss */
.square3 {
  height: 0;
  padding-bottom: 50%; }

/* line 213, ../sass/base.scss */
.square4 {
  height: 0;
  padding-bottom: 66.66667%; }

/* line 214, ../sass/base.scss */
.square5 {
  height: 0;
  padding-bottom: 83.33333%; }

/* line 215, ../sass/base.scss */
.square6 {
  height: 0;
  padding-bottom: 100%; }

/*----------------------          menu de lista ------------------------------*/
/*----------------------sistema de columnas 8aDG------------------------------*/
/* line 223, ../sass/base.scss */
.col-1 {
  width: 16.66667%; }
.col-carrito
{width: 10%; float: left !important}
.col-menu 
{width: 65% }
/* line 224, ../sass/base.scss */
.col-2 {
  width: 33.33333%; }

/* line 225, ../sass/base.scss */
.col-3 {
  width: 50%; }

/* line 226, ../sass/base.scss */
.col-4 {
  width: 66.66667%; }

/* line 227, ../sass/base.scss */
.col-5 {
  width: 83.33333%; }

/* line 228, ../sass/base.scss */
.col-6 {
  width: 100%; }

/* line 229, ../sass/base.scss */
.col-81 {
  width: 12.5%; }

/* line 230, ../sass/base.scss */
.col-82 {
  width: 25%; }

/* line 231, ../sass/base.scss */
.col-83 {
  width: 37.50%; }

  .col-84 {
  width: 50%; }

 .col-85 {
  width: 62.50%; }
/* line 232, ../sass/base.scss */
.col-86 {
  width: 75%; }

/* line 233, ../sass/base.scss */
.col-88 {
  width: 100%; }

/* line 234, ../sass/base.scss */
.outline, .outline * {
  outline: 1px solid #F6A1A1; }

/*---------------------------| MENOS DE 800PX |-------------------------------*/
@media all and (max-width: 800px) {
  /* line 241, ../sass/base.scss */
 #busqueda { position:absolute;top:117px;}
  .col-0 {
    width: 33.33%; }
.hdr {    min-height: 140px !important;}
.gd {
    display: none; }
.menu {margin-top: 44px;display:inline}
.menu ul {
 
  font-size: 1.1vw !important;
  }

#nav-icon4 {width:70px !important;margin-top: 30% ;margin-top: 68px !important;}
  /* line 242, ../sass/base.scss */
  .col-1 {
    width: 33.33%; }

  /* line 243, ../sass/base.scss */
  .col-2 {
    width: 50%; }

  /* line 244, ../sass/base.scss */
  .col-3 {
    width: 83.33%; }

  /* line 245, ../sass/base.scss */
  .col-4 {
    width: 100%; }

  /* line 246, ../sass/base.scss */
  .col-5 {
    width: 100%; }

  /* line 247, ../sass/base.scss */
  .col-6 {
    width: 100%; }

  /* line 248, ../sass/base.scss */
  .col-81 {
    width: 50%; }

  /* line 249, ../sass/base.scss */
  .col-82 {
    width: 100%; }

  /* line 250, ../sass/base.scss */
  .col-84 {
    width: 100%; }

  /* line 251, ../sass/base.scss */
  .col-86 {
    width: 100%; }

  /* line 252, ../sass/base.scss */
  .col-88 {
    width: 100%; }

  /* line 253, ../sass/base.scss */
  ul li {
    width: 100%; }

  /* line 254, ../sass/base.scss */
  .row .col-2:last-of-type {
    width: 100%; }

    .rowfixed {
  display: table !important;
  margin: 0 5% !important; }

  /* line 258, ../sass/base.scss */
  .row .col-5 ~ .col-1 {
    width: 100%; }

  /* line 261, ../sass/base.scss */
  .ch {
    display: block !important; }
header.ch{display: grid!important;margin-top: 0px !important;}
.box-search {display:none !important;}
/*navegacion*/
nav {
  width: 100%!important;
  margin: 0;
  background: #ee8d03;
  position:absolute!important;
  top:0px!important;
  z-index: 10;
  left:-100%;
  padding-top: 100px;
}


 nav ul li {
  display: block;
  float: none;
  border-bottom:1px solid #AF6702;
}

 nav ul li a {
color: #fff;
padding: 15px 9px;
display: block;
text-decoration: none;
background: #AF6702;
}

 nav ul li span{
margin-right: 5px;
}

 nav ul li a:hover {

  background: #7D4A01;
}

nav ul li a.active{
  background: #D8BE3B;
}

.menu-bar{
position: fixed;
z-index: 80;
display: block;
width: 100%;
background: #ee8d03;
}

.menu-bar .bt-menu {
  display: block;
  padding: 10px;
  background: #ee8d03;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  height: 100px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.menu-bar span{
margin: 25px;
  float: right;
  font-size: 20px;
}

#container{
margin-top:50px;
}
#container .mix {
    padding: 5px;
}
.box {

    margin:0px;
}

.imapromo {

    display:none;
}

.prod_cont{
width: 90%!important;
  }
  
.modalDialog > div {
    width: 80%!important;
    min-width: 350px!important;
  }

  .cantidad {
    position: relative;
    top: -2px!important;
    right: -45px!important;
    color: #000!important;
  }

  #cpa {
display: none!important;
}

.cont_int h2{
font: normal normal 300 1.25em/15px 'Open Sans', sans-serif!important;
padding: 50px 0;
}

#logo_movil {
      height: 80px;
    z-index: 10;
    position: absolute;
    top: 10px;
    left: 10px;
}

 h2{
font: normal normal 300 1.25em/28px 'Open Sans', sans-serif!important;
    }

.exito {padding: 0 0!important;}

.img_frame_modal {
   /* width: 100px;
    height: 100px;
    */
	 width: 300px;
    height: 300px;
    
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header{
    display: grid!important;
    grid-template-columns: 5fr 1fr;
    height: 115px!important; 
    border-bottom: 2px solid #607d8b;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 990;
	margin-top: 0px !important;

}

header:nth-child(2) {
    grid-column-end: end;
}

.nav {
    height: 100%;
    width: 280px;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: 999;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-280px,0);
}
.ssm-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
    display: none;
    z-index: 998;
}

* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 40px;
  height: 35px;
  position: relative;
  margin: 50% auto;
  margin-rigt:20% !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #607d8b;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}



dl {
  margin: 0px auto;
  width: 100%; }

/* line 156, ../sass/base.scss */


/* line 157, ../sass/base.scss */
.nav ul li a {
  padding: 12px!important;
  background: #fafafa;
  color: #000!important;
  text-align: left;
  /*border-bottom: 1px solid #141414;
  border-top: 1px solid #4E4E4E;*/
  cursor: pointer;
  border-bottom: 1px solid #a7a7a7;
  display: block;
   }

/* line 158, ../sass/base.scss */
dd {
  background: #F5F5F5;
  display: none;
  text-align: center; }

/* line 159, ../sass/base.scss */
.nav ul li a:active , ul li a:hover {
  background: #d6d6d6!important; }

/* line 160, ../sass/base.scss */
dd:first-child {
  display: block; }

/* line 161, ../sass/base.scss */
dt:before {
  content: "▸";
  margin-right: 12px; 
color:#333333;
}

/* line 162, ../sass/base.scss */
dt.activo:before {
  content: "▾"; 
}


dt.solo:before {
  content: "•"!important;
  margin-right: 12px; }

/* line 162, ../sass/base.scss */
dt.solo.activo:before {
  content: "•"!important; }
  /*-----------------| contenido personalizado medium 8aDG |--------------------*/ }

/*----------------------------| MENOS DE 650PX |------------------------------*/
@media all and (max-width: 650px) {
  /* line 273, ../sass/base.scss */
  #busqueda { position:absolute;top:116px;}
  .col-0 {
    width: 50%; }
#nav-icon4 {width:60px !important;margin-top: 60px !important;}
.gd, .display{
    display: none; }


  /* line 274, ../sass/base.scss */
  .col-1 {
    width: 100%; }

  /* line 275, ../sass/base.scss */
  .col-2 {
    width: 100%; }

  /* line 276, ../sass/base.scss */
  .col-3 {
    width: 100%; }

  /* line 277, ../sass/base.scss */
  .col-4 {
    width: 100%; }

  /* line 278, ../sass/base.scss */
  .col-5 {
    width: 100%; }

  /* line 279, ../sass/base.scss */
  .col-6 {
    width: 100%; }

  /* line 280, ../sass/base.scss */
  .col-ch {
    width: 100%; }

  /* line 281, ../sass/base.scss */
  ul li {
    width: 100% !important; }

      .col-81 {
    width: 50%; }

  /* line 249, ../sass/base.scss */
  .col-82 {
    width: 100%; }

  /* line 250, ../sass/base.scss */
  .col-84 {
    width: 100%; }

  /* line 251, ../sass/base.scss */
  .col-86 {
    width: 100%; }

  /* line 252, ../sass/base.scss */
  .col-88 {
    width: 100%; }

       .rowfixed {
  display: table !important;
  width: 90%!important;
  margin: 0 5% !important; }

  .titulo_rot {
  font: normal 100 10vw 'Roboto', sans-serif!important;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }

  /*--------------| MUESTRA SOLO EN RESOLUCIIONES GRANDES 8aDG |----------------*/
  /* line 285, ../sass/base.scss */
  .gd {
    display: none; }

  /* line 286, ../sass/base.scss */
  .ch {
    display: block !important; 
	margin-top: 0px !important;
	}


    .swiper-slide {
        background-size: contain !important;
        background-repeat: no-repeat;
        background-position: 0 50px !important;
        min-height: 200px!important;
    }


.promo{
    padding:0px!important;
    background-size: 200%!important;
}



  /*-----------------| contenido personalizado mobile 8aDG |--------------------*/ }
/*-------------------| fin sistema de columnas 8aDG |-------------------------*/
/*--------------------------| input busqueda|----------------------------*/
/* line 297, ../sass/base.scss */
.box-search {
  padding: 4px;margin:0px!important;display: block;}

/* line 302, ../sass/base.scss */
.container-4 {
  overflow: hidden;
  width: 400px;
  vertical-align: middle;
  white-space: nowrap; }

/* line 309, ../sass/base.scss */
.container-4 input#search {
  width: 400px;
  height: 20px;
  background: #D8DEE6;
  border: none;
  font-size: 10pt;
  float: left;
  color: #232833;
  padding-left: 15px; }

/* line 321, ../sass/base.scss */
.container-4 input#search::-webkit-input-placeholder {
  color: #434D54; }

/* line 325, ../sass/base.scss */
.container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #434D54; }

/* line 329, ../sass/base.scss */
.container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #434D54; }

/* line 333, ../sass/base.scss */
.container-4 input#search:-ms-input-placeholder {
  color: #434D54; }

/* line 337, ../sass/base.scss */
.container-4 button.icon {
  border: none;
  background: white;
  height: 20px;
  width: 100px;
  color: black;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; }

/* line 354, ../sass/base.scss */
.container-4 button.icon span {
  font: normal normal 600 14px/150% 'Open Sans', sans-serif; }

/* line 356, ../sass/base.scss */
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -100px;
  cursor: pointer; }

/* line 363, ../sass/base.scss */
.container-4:hover button.icon:hover {
  background: black;
  color: white;
  cursor: pointer; }

/*/desde  
/* line 302, ../sass/base.scss */
.container-5 {
  overflow: hidden;
  width: 200%;
  
  white-space: nowrap; }

/* line 309, ../sass/base.scss */
.container-5 input#search {
  width: 37%;
  height: 40px;
  background: #D8DEE6;
  border: none;
  font-size: 10pt;
  float: left;
  color: #232833;
  padding-left: 15px; }

/* line 321, ../sass/base.scss */
.container-5 input#search::-webkit-input-placeholder {
  color: #434D54; }

/* line 325, ../sass/base.scss */
.container-5 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #434D54; }

/* line 329, ../sass/base.scss */
.container-5 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #434D54; }

/* line 333, ../sass/base.scss */
.container-5 input#search:-ms-input-placeholder {
  color: #434D54; }

/* line 337, ../sass/base.scss */
.container-5 button.icon {
  border: none;
  background: #f29208;
  height: 40px;
  width: 100px;
  color: #fafafa;
  opacity: 1;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; }

/* line 354, ../sass/base.scss */
.container-5 button.icon span {
  font: normal normal 600 14px/150% 'Open Sans', sans-serif; }

/* line 356, ../sass/base.scss */
/*
.container-5:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -100px;
  cursor: pointer; }
*/
/* line 363, ../sass/base.scss */
.container-5:hover button.icon:hover {
  background: white;
  color: #232833;
  cursor: pointer; }  
  
  
/*--------------------------| sinput_compra|----------------------------*/

.box_mas_comprar a{
background:#f27743;
display: block;
margin: 10px 60px;
padding: 10px;
color: #000;
    border-radius: 5px;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; 
}

.bot_comprar {
  text-align: center;
background: #ee8d03;
display: block;
margin:  5px 40px 5px 0px;
padding: 10px;
color: #000;
cursor: pointer;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; 
}

.bot_comprar:hover{
  cursor: pointer;
background: #462901!important;
color: #fff!important;
}


.box_mas_comprar a:hover{
background: #462901!important;
color: #fff!important;
}

/* line 302, ../sass/base.scss */
.box_compra {
  overflow: hidden;
  width: 100px;
  margin: 0 80px;
  vertical-align: middle;
  white-space: nowrap; }

/* line 309, ../sass/base.scss */
.box_compra input#add {
  width: 115px;
  height: 40px;
  background:#f0f0f0;
  border: none;
  font-size: 15pt;
  float: left;
  color: #232833;
  padding-left:15px; }

/* line 321, ../sass/base.scss */
.box_compra input#add::-webkit-input-placeholder {
  color: #434D54; }

/* line 325, ../sass/base.scss */
.box_compra input#add:-moz-placeholder {
  /* Firefox 18- */
  color: #434D54; }

/* line 329, ../sass/base.scss */
.box_compra input#add::-moz-placeholder {
  /* Firefox 19+ */
  color: #434D54; }

/* line 333, ../sass/base.scss */
.box_compra input#add:-ms-input-placeholder {
  color: #434D54; }

/* line 337, ../sass/base.scss */
.box_compra button.icon {
  border: none;
  background: #232833;
  height: 42px;
  width: 50px;
  color: #fafafa;
  opacity: 0;
  padding: 0px;
  font-size: 15pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; }

/* line 354, ../sass/base.scss */
.box_compra button.icon span {
  font: normal normal 600 14px/150% 'Open Sans', sans-serif; }

/* line 356, ../sass/base.scss */
.box_compra:hover button.icon, .box_compra:active button.icon, .box_compra:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left:-80px;
  cursor: pointer; }

/* line 363, ../sass/base.scss */
.box_compra:hover button.icon:hover {
  background: #ee8d03;
  color: #232833;
  cursor: pointer; }

  .slide-togg{
    cursor: pointer;
  }

  .cont_carro{
  position: absolute;
  top: 148px;
  right: 10px;
  width: 300px;
  z-index: 999;
  background: #fff;
   padding: 10px 10px 0px 10px ;
    color: rgb(69, 69, 69);
  }

  .carrito{
    padding: 0 5px;
    display: inline-flex;
  }

  .item-name{
    font: normal 300 1.25em/12px 'PT Sans', sans-serif;
     white-space: nowrap;
  }
  
/*.simpleCart_increment , .simpleCart_decrement, .item-decrement, .item-increment{
    display: none!important;
  }*/

.item-decrement, .item-quantity, .item-increment, .item-total, .item-remove {
    display: inline-flex;
    height: 40px;
    margin: 10px 0;
    padding: 0 3px;}

.itemRow {
    margin: 10px 0;
    padding: 10px 15px;
}


.simpleCart_increment , .simpleCart_decrement {
    font: normal 0.75em sans-serif;
    color:#55007F;
}

.item-quantity {
    width: 12px;
}

.item-total {
    position: relative;
    font: normal 700 1em/12px 'PT Sans', sans-serif;
    width: 120px;
    padding-left: 50px;
}

.item-remove a {
    color: #55007F;

}


.boton-checkout {
    text-align: center;
    background: rgb(44, 44, 41) none repeat scroll 0% 0%;
    margin: 10px 0px;
}

.boton-checkout a {
    padding: 10px;
    display: block;
    text-align: center;
    color: rgb(255, 241, 167);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.headerRow{display: none;}

.simpleCart_empty {
font:#55007F normal 100 12px/12px 'PT Sans', sans-serif!important;
}
/*  [class*='item-']{
    text-align: left;
    font-size: 1vw;
  }*/
/*--------------------------| slider multi noticias|----------------------------*/
/*.nav {
position:relative;
top: -50px;
width: $eventw;
height: 50px;
text-align: center;
background: #CDCEC2;
color: #fff;
font:normal 100 1em 'Roboto', sans-serif;
}*/
/* line 385, ../sass/base.scss */
.nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  text-align: center;
  position: relative;
  bottom: 3px; }

/* line 394, ../sass/base.scss */
#left, #right {
  position: absolute;
  cursor: pointer;
  margin: 0 10px;
  font: normal 100 5em 'Roboto', sans-serif;
  color: #424242;
  font-weight: 100;
  width: 2px;
  z-index: 999;
  top: 130px; }

/* line 406, ../sass/base.scss */
#left {
  left: 20px; }

/* line 410, ../sass/base.scss */
#right {
  right: 40px; }

/* line 414, ../sass/base.scss */
#event_rotator {
  width: 100vw;
  height: 375px;
  position: relative;
  overflow: hidden;
  max-width: 1360px; }

/* line 422, ../sass/base.scss */
#slider {
  position: absolute;
  height: 375px;
  left: 0;
  width: 99999%; }

/* line 428, ../sass/base.scss */
.event {
  color: #fff;
  font: normal 300 1em 'Roboto', sans-serif;
  background: #e0e1d3;
  float: left;
  width: 100vw;
  height: 375px;
  max-width: 1360px; }

/* line 437, ../sass/base.scss */
.event:nth-child(odd) {
  background: #D8D9CD; }

/* line 441, ../sass/base.scss */
.contenido {
  padding: 50px;
  text-align: left; }

/* line 446, ../sass/base.scss */
.contenido p {
  font-size: 1.5em; }

/* line 449, ../sass/base.scss */
.titulo_rot {
  font: normal 400 5vw 'Roboto', sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }

/*--------------------------| slider multi noticias|----------------------------*/
/* line 464, ../sass/base.scss */
.cont_int{
height: 100%;
min-height: 450px !important;
}
.cont_int h2{
font: normal normal 300 3em/15px 'Open Sans', sans-serif;
padding: 50px 0;
}

#cartTotal {
  text-align: center;
}

.topper {
  background: #f27743;
  min-height: 20px; }

/* line 470, ../sass/base.scss */
.top {
  background: #043b7b;
  min-height: 50px !important; }

/* line 474, ../sass/base.scss */
.hdr {
  background: #fafafa;
  min-height: 100px  }

/* line 478, ../sass/base.scss */
.menu {
  background: #f27743;
  text-align: center;
 /* margin: 30px 0px;
*/
   }

/* line 482, ../sass/base.scss */
.sldr {
  background: #e5e5e5;
  min-height: 375px !important;
  text-align: center; }

/* line 487, ../sass/base.scss */
.promo {
  margin: 0 auto;
  padding: 160px 0px;
  text-align: center;
  background: rgb(0, 68, 85) repeat center ; 
background:no-repeat top/100% url(../img/entregafeliz.jpg)
}

/* line 492, ../sass/base.scss */
.promo h2 {
  font: italic 700 2.5em 'Open Sans', sans-serif;
  color: #141414;
  padding: 100px 0; }

/* line 498, ../sass/base.scss */
.productos {
  background: #fff;
  min-height:1032px!important; 
}

.base {
  background: #fff;
  min-height:100%!important; 
}

.submenu {
  background: #E6E6E6;
  /*min-height:50px!important; */
}
/* line 503, ../sass/base.scss */
.footer {
  background: #1D1D1D;
  min-height: 300px !important;
  color: #ee8d03;
  font-family: 'Roboto',sans-serif;
  font-weight: 300; 
  background-image:url("../img/fondo.jpg");
  background-size: cover;
  }

/* line 510, ../sass/base.scss */
.footer h3 {
  font-family: 'Roboto',sans-serif; }


.footer ul li a{
  color:#ee8d03!important;
}
/* line 514, ../sass/base.scss */
.bottom {
  background: #043b7b;
  min-height: 50px !important; }

/* line 519, ../sass/base.scss */
.der {
  float: right; }

/* line 522, ../sass/base.scss */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
  font-size: 1.1vw ;
  display: inline-flex; }


  .topper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: .9vmax;
  -webkit-justify-content: flex-end;
 justify-content: flex-end;
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

/* line 530, ../sass/base.scss */
.topper ul li, .menu ul li {
  margin: 0;
  padding: 0; }

/* line 536, ../sass/base.scss */
.topper a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 8px;
  text-align: center;
  color: #fff; }

/* line 545, ../sass/base.scss */
.menu a {
  background: #f27743;
  text-decoration: none;
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  color: #fff; }

/* line 557, ../sass/base.scss */
.menu a:hover, a:active, a:focus {
  background: #fff;
  color: #000000; }

/* line 562, ../sass/base.scss */
.topper a:hover {
  color: #fff; }

/* line 567, ../sass/base.scss */
.menu ul li ul {
  padding: 0;
  position: absolute;
min-width: 250px!important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index: 999; }

/* line 584, ../sass/base.scss */

.menu ul li ul li {
  background: #fff;
  display: block;
  }


    .menu ul li a:focus {
  background: #fff;
  color: #3E3E3E;
  }

.menu ul li:hover > a {
  background: #fff;
  color: #3E3E3E;
}

.menu ul li ul li a{
  background: #fff;
  display: block;
  color: #3E3E3E;
  padding: 15px; 
  text-align: left;}

/* line 590, ../sass/base.scss */


  .menu ul li ul li a:hover {
  background:#C6C6C6;
color:#313131;
   }

/* line 591, ../sass/base.scss */
.menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

/* line 597, ../sass/base.scss */
.vivo a {
  color: #8d141c; }

/* line 601, ../sass/base.scss */
.contenidos a {
  color: #0f335f; }

/* line 605, ../sass/base.scss */
.grilla a {
  color: #0188c8; }

/* line 609, ../sass/base.scss */
.canal a {
  color: #0f335f; }

/* line 613, ../sass/base.scss */
.cont_video {
  min-height: 380px; }

/* line 617, ../sass/base.scss */
.logo {
  font-weight: bold;
  font-family: sans-serif; }

/* line 623, ../sass/base.scss */
.logo img {
  margin: 10px 0px;
  width:90%;
 }

/* line 629, ../sass/base.scss */
.logo span {
  position: relative;
  top: -48px;
  left: 10px; }

/* line 635, ../sass/base.scss */

/* line 642, ../sass/base.scss */
.item_cantidad {
  width: 80%;
  height: 40px; }

/* line 647, ../sass/base.scss */


/* line 690, ../sass/base.scss */


/* line 703, ../sass/base.scss */
.ui {
  font-family: 'gorrasiUI';
  font-size: 2.5em; }

/* line 708, ../sass/base.scss */
.color1 {
  color: #fff; }

/* line 712, ../sass/base.scss */
.usuario {
  padding: 44px 0;
  display: block;
  white-space: nowrap;
  text-align: right; }

/* line 719, ../sass/base.scss */
.bag {
  font-size: 3em; }

/* line 723, ../sass/base.scss */
.n_usuario {
  position: relative;
  top: -7px;
  font-size: 14px;
  color: #3E3E3E;
  white-space: nowrap; }

/* line 731, ../sass/base.scss 
.cantidad {
  position: relative;
  top: -12px;
  font: normal normal 700 1.25em/150% 'Open Sans';
  right: 32px;
 text-shadow: -1px -1px 3px rgba(0,0,0, 0.5);
  color: #aa0000; }*/

/* line 739, ../sass/base.scss */
.pos-qt {
  text-align: center;
  padding: 33px 0px; }

/* line 744, ../sass/base.scss */
.contactos {
  position: relative;
  color: #3E3E3E;
  font: normal 600 0.95em 'Open Sans', sans-serif; }

/* line 749, ../sass/base.scss */
#iconos_contacto {
  font-size: 1.5em;
  color: #3E3E3E;
  position: relative;
  top: 6px; }

/* line 753, ../sass/base.scss */
.titulo_buscar {
  position: relative;
  font: normal 400 0.75em "Open Sans", sans-serif !important;
  top: -38px;
  left: 40px !important;
  width: 50% !important; }

/**** producto***/
/* line 763, ../sass/base.scss */
.img_frame {
  width: 200px;
  height: 200px;
  /*border-radius: 50%;*/
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* line 774, ../sass/base.scss */
.prod_cont {
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  margin: 5px;
  padding: 10px;
  text-align: center !important;
  /*background: #f7f7f7;*/
-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.13);
-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.13);
box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.13);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; 
height: 450px;
max-height: 450px;
}

/* line 787, ../sass/base.scss */
.prod_cont:hover, .prod_cont:active, .prod_cont:focus {
 background: #fff; 

}

/* line 791, ../sass/base.scss */
.item_name {
  color: #454545;
  font-weight: 600;
  font-stretch: normal;
  font-size: 22px!important;
  margin: 8px 0 5px;
  font-family: 'PT Sans', sans-serif!important;
  /*text-transform: lowercase !important;*/ }

/* line 801, ../sass/base.scss */
.desc {
  color: #ee8d03;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  /*text-align: left;*/
  line-height: 125%;
  /*margin-left: 38px;*/

  /*min-height: 70px;*/ }

  
  .desc1 {
  color: #7e7e7e;
  font-size: 13px;
  /*text-align: left;*/
  line-height: 125%;


  /*min-height: 70px;*/ }
  
  
    .indice {
  font-weight: bold;
  font-size: 13px;
  text-align: right;
   padding: 10px 10px;
  /*text-align: left;*/
/*line-height: 125%;*/
  /*margin-left: 38px;*/

  /*min-height: 70px;*/ }
  
  
  
  
  .descIndice {
  color: #ee8d03;
  /*text-align: left;*/
/*line-height: 125%;*/
  /*margin-left: 38px;*/

  /*min-height: 70px;*/ }
  
  
  
/* line 810, ../sass/base.scss */
.desc p {
  padding: 5px; }

/* line 814, ../sass/base.scss */
.item_price {
  font-weight: 600;
  font-stretch: normal;
  font-size: 22.5px;
  color: #000000;
  margin: 8px 0 8px; }
  
  .item_price1 {
 
  color: #7e7e7e;
  font-size: 15px;
  margin: 8px 0 8px; }

/* line 823, ../sass/base.scss */

/* line 829, ../sass/base.scss */


/* line 846, ../sass/base.scss */


/* line 852, ../sass/base.scss */


/* line 862, ../sass/base.scss */
.custom {
  background: #f7f7f7; }

/* line 867, ../sass/base.scss */
.caja_promo {
  fill: #f27743 !important; }

/* line 871, ../sass/base.scss */
.flecha_caja_promo {
  fill: #573301 !important; }

/* line 875, ../sass/base.scss */
.imapromo {
position: relative;
z-index: 888;
top: -420px;
left: 85px; }

/* line 881, ../sass/base.scss */
.tope {
  padding-top: 50px; }

.exito {
color:#5F5F5F;
  text-align: center;
  padding: 100px 0;
  }

.exito h2{
font: normal normal 300 3em/15px 'Open Sans', sans-serif;
padding: 50px 0;
    }

h2.item_name {
font: normal normal  'Open Sans', sans-serif;
padding: 5px 0;
height: 50px;
    }

h2.item_price {
font: normal normal 300 2em/20px 'Open Sans', sans-serif;
padding: 5px 0;
    }
	
	


    .exito p{
padding: 20px 0;

    }


    .simprod {
color:#5F5F5F;
  text-align: center;
  padding: 100px 0;
  }

.simprod h2{
font: normal normal 300 2em/25px 'Open Sans', sans-serif;
padding: 10px 0;
    }

h2 .simprod .item_name {
font: normal normal  'Open Sans', sans-serif;
padding: 5px 0;
height: 50px;
    }

h2 .simprod .item_price {
font: normal normal 300 2em/20px 'Open Sans', sans-serif;
padding: 5px 0;
    }


   .simprod p{
padding: 20px 0;

    }
 
/*------------------------form------------------------*/


/*-----------------------modal------------------------*/
   .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
   width: 750px;
   min-width: 750px;
height: 550px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;

    background: #fff;
}

.close {
    color: #ee8d03;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 25px;
    text-decoration: none;
    font-weight: bold;

}
.close:hover {
    color: #000;
}
/*-----------------------modal------------------------*/


/*-----------------------mixitUP----------------------*/

  .container .mix{
  display: none;
}

#container .mix{
    display: none;
}

#paginadr .pager-list .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 1;
  background: #dadada;
  padding: 1em 1em;
  margin: 0;
  min-width: 40px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #747474FF;
  border: 0 none;
  display: inline-block;

  -webkit-appearance: none;
}
#paginadr .pager-list .btn:hover {
  background: #BEBEBE;
}

#paginadr .pager-list .btn:focus{
  outline: 0 none;
}
#paginadr .pager-list .btn:disabled {
  background: #f2f2f2 !important;
  border-bottom: transparent;
  border-top: 1px solid #e2e2e2 !important;
  color: #999999;
  cursor: default;
}

#paginadr .pager-list .btn.active {background: #ee8d03!important;color: #000;}


#paginadr{
background: #fff;
text-align: center!important;
padding: 10px;

}

    /*-----------------------mixitUP----------------------*/
.frase_envio{
color: #ee8d03;
text-align: left !important;
font-size: 12px;
line-height: 9px;
}

.deepF{
text-align: left !important;
}



.frase_envio1{
/*font-size: 7px;
line-height: 7px;*/
}

.frase_envio11{
margin-top:auto;
font-size: 8px;
line-height: 8px;

}


.simplegallery {
  margin: 0 auto;
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.simplegallery .content {
  background: #fff;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.simplegallery .content img {
  width: 527px;
}

.simplegallery .thumbnail { margin-top: 15px; }

.simplegallery .thumbnail .thumb {
  display:inline-flex;
  width: 100px;
  height: 100px;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.simplegallery .thumbnail .thumb img {
  width: 100px;
}

.simplegallery .thumbnail .last { margin: 0; }


.subcat nav ul li {
display: inline-flex;
/* height: 50px; */
}

.subcat nav ul li a{
text-decoration: none;
font-size: 12px;
  padding: 15px 15px;
  color: #3D3D3D;
}

#input{
    width: 98%;
    height: 30px;
    border: 0px none;
    background-color:#fff;
    font-size: 1em;
    color: #3D3D3D;
    padding: 1%;
    position: relative;
    top: 0px;
    z-index: 90;
    -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

#input:focus {
 background-color: #9B9B9B;
 color: #fff;
}

#cpa {
position: relative;left: 280px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


.container-46 {
  overflow: hidden;
  width: 250px;
  vertical-align: middle;
  white-space: nowrap; }

  .container-47 {
  overflow: hidden;
 width: 250px;
  vertical-align: middle;
  white-space: nowrap; }

/* line 309, ../sass/base.scss */
.container-46 input#search {
  width: 250px;
  height: 40px;
  background: #D8DEE6;
  border: none;
  font-size: 10pt;
  float: left;
  color: #232833;
  padding-left: 15px; }

/* line 321, ../sass/base.scss */
.container-46 input#search::-webkit-input-placeholder {
  color: #434D54; }

/* line 325, ../sass/base.scss */
.container-46 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #434D54; }

/* line 329, ../sass/base.scss */
.container-46 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #434D54; }

/* line 333, ../sass/base.scss */
.container-46 input#search:-ms-input-placeholder {
  color: #434D54; }

/* line 337, ../sass/base.scss */
.container-46 button.icon {
  border: none;
  background: #232833;
  height: 40px;
  width: 100px;
  color: #fafafa;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; }

/* line 354, ../sass/base.scss */
.container-46 button.icon span {
  font: normal normal 600 14px/150% 'Open Sans', sans-serif; }

/* line 356, ../sass/base.scss */
.container-46:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -100px;
  cursor: pointer; }

/* line 363, ../sass/base.scss */
.container-46:hover button.icon:hover {
  background: white;
  color: #232833;
  cursor: pointer; }
  

.innobrand a{
font-family: "Open Sans", sans-serif;
color: #fff;
position: relative;
font-size: 10px;
bottom: 15px;
left: 20px;
opacity: 0.30;
text-decoration: none;
-webkit-transition: all .55s ease;
-moz-transition: all .55s ease;
-ms-transition: all .55s ease;
-o-transition: all .55s ease;
transition: all .55s ease;
}


.innobrand img {
  width: 120px;
  align-content: center;
  position: relative;
top: 8px;
}

.innobrand a:hover {
opacity: 0.80;
}

.swiper-slide{
  min-height: 380px;
  width: 100%;
}


.tope .simpleCart_shelfItem{ box-shadow:0px 4px 50px -10px rgba(12,12,12,0.51); }


/* boton de compra */

form .box_compra {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 163px;
}

form .item_add {
    background-color:#ee8d03;
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 1.7em;
    padding: 8px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    text-align: center;
}

form .item_Quantity {
    border: none;
    width: 110px;
    height: 140%;
    background:#f7f6f6;
    text-align: center;
    color: rgb(69, 69, 69);
    font: normal normal 600 20px/150% 'Open Sans', Helvetica, sans-serif;
}



/**
 * Sliding swipe menu CSS
 */

