:root {
    --fondo-base: #F9F9F9;
    --neutro-01: #F1F1F1;
    --blanco: #fff;
    --color-texto-mobile: #2b2b2b;
    --swiper-pagination-bottom: -8px!important;
    /* COLOR BASE */
    --color-base-alt-01: #E691A9;
    --color-base-alt-02: #991195;
    --color-base-alt-03: #07c2e3;
    --color-base-alt-04: #0c8296;
    --color-base-primario: #191497;
    --color-base-primario-01: #4B48A8;
    --color-base-primario-02: #A2A0EE;
    --color-base-primario-03: #D3D2F3;
    --color-base-primario-04: #dedcf9;
    /* MARCHA DE PRIMARIO */
    --color-primario-a10: #d6cceb;
    --color-primario-a20: #ae9bd7;
    --color-primario-a30: #846dc2;
    --color-primario-a40: #5740ad;
    --color-primario-a50: #191497;
    --color-primario-a60: #1c1377;
    --color-primario-a70: #1c1159;
    --color-primario-a80: #180f3c;
    --color-primario-a90: #130821;
    /* COMPUESTOS */
    --color-comp-01: #A3883E;
    --color-comp-02: #715F2E;
    --color-comp-03: #f3ecdb;
    --color-comp-04: #fdf8ee;
    /* ---------- */
    --color-comp-04: #6F623F;
    --color-comp-05: #938661;
    --color-comp-06: #B9B29D;
    --color-comp-07: #eae7dd;
    /* ---------- */
    --color-theme-b: #8E0DA3;
    --color-b00: #f4ebf6;
    --color-b10: #e6c7e8;
    --color-b20: #cb91d2;
    --color-b30: #ae59ba;
    --color-b50: #8e0da3;
    --color-b60: #691578;
    --color-b70: #47154f;
    --color-b80: #27112a;
    --color-b90: #000000;
    /* COMPUESTOS */
    /* ANALOGOS */
    --color-theme-c: #550EAD;
    --color-c05: #f5effa;
    --color-c10: #d8c3ec;
    --color-c20: #b089d8;
    --color-c30: #8551c3;
    --color-c50: #550ead;
    --color-c60: #42127f;
    --color-c70: #2f1254;
    --color-c80: #1c0e2c;
    --color-c90: #000000;
    /* ---------- */
    --color-theme-d: #0E48AD;
    --color-d00: #e9eafc;
    --color-d10: #cccdeb;
    --color-d20: #989ed7;
    --color-d30: #6271c2;
    --color-d50: #0e48ad;
    --color-d60: #19377f;
    --color-d70: #192653;
    --color-d80: #13172c;
    --color-d90: #000000;
    /* ---------- */
    --color-theme-e: #007DA3;
    --color-e00: #e4f4fe;
    --color-e10: #cbdde8;
    --color-e20: #96bcd0;
    --color-e30: #5f9cba;
    --color-e50: #007da3;
    --color-e60: #155d78;
    --color-e70: #173e4f;
    --color-e80: #122229;
    --color-titulo: #005273;
    --color-subtitulo: #7270A9;
    --color-base: #6A6A6A;
    --color-base0: #ebe8db;
    --swiper-theme-color: #EF8903!important;
    --color-base1: #EF8903;
    --color-base-grad: repeating-linear-gradient(45deg, #fafafa92, #fafafa92 10px, #f4f3f1 10px, #f4f3f1 30px);
    background-color: #ffffff;
    --color-base-grad-3: linear-gradient(183deg, #b7e9eb 15%, #c6f7f4 15%);
    --color-base-grad-4: linear-gradient(183deg, #fc8d7f 11%, #ffe5e2 11%);
    --color-base-grad-5: radial-gradient(circle at 50% 930%, var(--color-base10) 0%, var(--color-base10) 90%, var(--color-base9) 70%);
    --color-base-grad-6: linear-gradient(183deg, rgba(247, 179, 170, 1) 16%, rgba(236, 166, 157, 1) 16%, rgba(236, 166, 157, 1) 84%, rgba(247, 179, 170, 1) -84%);
    --color-base-grad-7: linear-gradient(183deg, rgba(247, 179, 170, 1) 16%, rgba(247, 202, 196, 1) 16%, rgba(247, 202, 196, 1) 84%, rgba(247, 179, 170, 1) 84%);
    /* 9FB2C0*/
    --grad-base: repeating-linear-gradient( -45deg, #9CB8CD, #9CB8CD 5px, #90ACC1 5px, #90ACC1 25px);
    --grad-base-2: linear-gradient(4deg, rgba(183, 233, 235, 1) 40%, rgba(198, 247, 244, 1) 40%);
    --color-base2: #FFEDD9;
    --color-base3: #EF007B;
    /* titulos y tipo */
    --color-base4: #84d9d8;
    --color-base5: #B8C0C3;
    --color-base6: #A0A8AB;
    --color-base7: #CED2D3;
    --color-base8: #727C7E;
    --color-base9: #ffe5e2;
    --color-base10: #F9F9F9;
    --light-gray: #f5f5f5;
    --trama-01: repeating-linear-gradient( 45deg, var(--color-base1), var(--color-base1) 5px, var(--color-base0) 5px, var(--color-base0) 25px);
    --trama-02: repeating-linear-gradient( 45deg, var(--color-subtitulo), var(--color-subtitulo) 5px, var(--color-base0) 5px, var(--color-base0) 25px);
    --trama-03: url(../images/trama-2.svg) center right / 10% no-repeat;
}


/* ANIMACIONES */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html:focus-within {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: red;
    z-index: 999;
    text-align: center;
}


/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 1;
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes oscila {
    0% {
        transform: rotate(0);
        transform-origin: 59% 27%;
    }
    25% {
        transform: rotate(8deg);
        transform-origin: 59% 27%;
    }
    50% {
        transform: rotate(0);
        transform-origin: 59% 27%;
    }
    75% {
        transform: rotate(-8deg);
        transform-origin: 59% 27%;
    }
    100% {
        transform: rotate(0);
        transform-origin: 59% 27%;
    }
}

@keyframes oscilab {
    0% {
        transform: rotate(0);
        transform-origin: 10% 72%;
    }
    25% {
        transform: rotate(5deg);
        transform-origin: 10% 72%;
    }
    50% {
        transform: rotate(0);
        transform-origin: 10% 72%;
    }
    75% {
        transform: rotate(-1deg);
        transform-origin: 10% 72%;
    }
    100% {
        transform: rotate(0);
        transform-origin: 10% 72%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* AUXILIARES GENERICOS  */

._bck-base {
    background: var(--fondo-base);
}

._bck-bot-1 {
    background: var(--color-base3);
}

._no-border {
    box-shadow: none!important;
}

._no-deco {
    text-decoration: none;
}

._txt-center {
text-align: center;
}

._txt-left{
    text-align: left;
    }

._txt-right{
        text-align: right;
        }    
    


._color-comp-06 {
    background-color: var(--color-comp-06);
    color: var(--color-comp-04);
}

._color-comp-03 {
    background-color: var(--color-comp-03);
    color: var(--color-comp-04)!important;
}

._no-line {
    line-height: 0;
}

._s-lineHeiht {
    line-height: 1rem;
}

._cover {
    background-size: cover!important;
}

._marg-card {
    margin: var(--altura-base) 0 0 0;
}

._margin-9 {
    padding-top: calc( var(--altura-base) * 1);
    padding-left: calc( var(--altura-base) * 3);
    padding-bottom: calc( var(--altura-base) * 2);
    padding-right: calc( var(--altura-base) * 3);
}

._padd-9 {
    padding: calc( var(--altura-base) * 1);
}

._pad-left-9 {
    padding-left: calc( var(--altura-base) * 1)!important;
}

._margin-9-lr {
    padding: 0 calc( var(--altura-base) * 2);
}

._marg-9 {
    margin: calc( var(--altura-base) * 1) 0;
}

._marg-9-lr {
    margin: 0 calc( var(--altura-base) * 1);
}

._rounded {
    border-radius: calc( var(--altura-base) * 1)!important;
}

._rounded-btm-9 {
    border-radius: 0 0 calc( var(--altura-base) * 6) calc( var(--altura-base) * 1);
}

._rounded-btm-54 {
    border-radius: 0 0 calc( var(--altura-base) * 6) calc( var(--altura-base) * 6);
}

._rounded-btm-18 {
    border-radius: 0 0 calc( var(--altura-base) * 3) calc( var(--altura-base) * 3);
}

._bottom {
    align-content: flex-end;
    justify-content: center;
}

.bot-gen {
    padding: calc( var(--altura-base) * 2.5) calc( var(--altura-base) * 3);
    /*border: 2px solid;*/
    box-shadow: 0 0 0 2px;
    font-weight: 500;
    /*text-align: center;*/
    box-sizing: border-box;
    max-height: calc( var(--altura-base) * 3)!important;
    display: inline-grid;
}

.bot-gen.active,
.bot-gen:hover,
.bot-gen:active,
.bot-gen:focus,
.bot-gen:target {
    text-decoration: none;
    transform: all;
}

._submenu:hover,
._submenu:active,
._submenu:focus,
._submenu:target {
    text-decoration: none;
    transform: all;
}

._bot-noborde {
    box-shadow: 0 0 0 0!important;
}

._card {
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #EBEBEB;
    border-radius: 6px;
    overflow: hidden;
}

._card-aside {
    width: calc(80vw/4)
}

._card-aside a div {
    padding-left: calc(var(--altura-base) / 2)
}

._w100 {
    width: 100%;
}

._hide {
    transition: all;
    opacity: 0;
}

._show {
    display: grid;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

._borde-blanco {
    border-color: var(--blanco);
}

._txt-blanco {
    color: var(--blanco);
}

._txt-sec {
    color: var(--color-base3);
}

._txt-base {
    color: var(--color-base);
    font-size: 16px;
}

._txt-center {
    text-align: center;
}

._borde-base1 {
    border-color: var(--color-base3);
}

._borde-base01 {
    border-color: var(--blanco);
}

._nav-float>div>._borde-base01 {
    border-color: var(--color-base3);
}

._nav-float>div>._txt-base03 {
    color: var(--color-base3)!important;
}

._txt-base1 {
    color: var(--color-base1);
}

._txt-base11 {
    color: var(--color-base55);
}

._txt-base2 {
    color: var(--color-base1);
}

._txt-base3 {
    color: var(--color-base3);
}

._color-base-3 {
    color: var(--color-base3);
}

._color-titulo {
    color: var(--color-titulo);
}

._color-subtitulo {
    color: var(--color-subtitulo);
}

._txt-base03 {
    color: var(--blanco);
}

._txt-base6 {
    color: var(--color-base6);
}

._color-base6 {
    background-color: var(--color-base6);
}

._fondo-base-grad {
    background: var(--color-base-grad);
}

._fondo-base-grad-3 {
    background: var(--color-base-grad-3);
}

._fondo-base-grad-4 {
    background: var(--color-base-grad-7);
}

._fondo-base1 {
    background-color: var(--color-base2);
}

._fondo-base2 {
    background-color: var(--color-base1);
}

._fondo-base3 {
    background-color: var(--color-titulo);
}

._fondo-prim04 {
    background-color: var(--color-base-primario-04);
    color: var(--color-base-primario-01);
}

._color-c05 {
    background: var(--color-c05);
    color: var(--color-c50);
}

._fondo-base-neuto-01 {
    background-color: var(--neutro-01);
}

._fondo-base-hover:hover {
    background-color: var(--color-base1);
    color: var(--color-titulo);
}

._svg-color-base6 {
    fill: var(--color-base6);
}

._svg-color-base-w {
    fill: var(--blanco);
}

._borde-base6 {
    border-color: var(--color-base6);
    stroke: var(--color-base6);
}

._txt-base4 {
    color: var(--color-base8);
}

._bkg-base-w {
    background: var(--blanco);
}

._trans {
    transition: all;
}

._trama {
    background: var(--trama-03), var(--color-base-grad-6);
}

._flecha-sec {
    position: absolute;
    bottom: -25%;
    left: 49.9%;
}

._no-marg-top {
    margin-top: 0!important;
}

._no-marg {
    margin: 0!important;
}

._sticky {
    position: fixed!important;
    position: -webkit-sticky;
    height: 100vh!important;
    box-sizing: border-box;
    width: 25vw;
    overflow-y: auto;
    scrollbar-color: #fff transparent;
}

._move-top {
    top: calc( var(--altura-base) * 3)!important;
}


/* SKELETON LOADER */

.line {
    background-color: var(--gray);
    height: 13px;
    border-radius: 18px;
    margin: 14px 0;
}

.card-description .line:nth-child(1) {
    width: 90%;
}

.card-description .line:nth-child(3) {
    width: 80%;
}

.card-description .line:nth-child(4) {
    width: 40%;
}

.loading:nth-child(1) {
    width: 40%;
}

.loading {
    height: 1rem;
    background-color: var(--gray);
    color: transparent;
    background-image: linear-gradient(to right, #b8b8b865, #55555565, #b8b8b865);
    background-size: 200% 100%;
    animation: loading 1.6s linear infinite;
    border-radius: 18px;
    margin: 18px 0;
    opacity: 0.5;
}

p.loading {
    display: none;
}

._none {
    display: none;
}

@keyframes loading {
    100% {
        background-position: -200% 0%;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    text-align: center;
}


/*logo animado*/

#uno,
#dos,
#tres {
    animation: float 10s infinite linear;
}

#uno {
    animation-delay: 0.5s;
}

#dos {
    animation-delay: 1s;
}

#tres {
    animation-delay: 3s;
}

#tipo {
    transform-origin: 50% 50%;
    animation-delay: 21.5s;
    fill: #fc8d7f;
}

@keyframes float {
    0% {
        transform: translatey(0px) scale(0.3);
    }
    25% {
        transform: translatey(-1%) scale(0.3);
    }
    50% {
        transform: translatey(0px) scale(0.34);
    }
    75% {
        transform: translatey(-1%) scale(0.29);
    }
    100% {
        transform: translatey(0px) scale(0.3);
    }
}


/* ----------------------------------------------
* Generated by Animista on 2022-1-26 0:26:8
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */


/**
* ----------------------------------------
* animation vibrate-1
* ----------------------------------------
*/

@keyframes vibrate {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-6px, 6px);
        transform: translate(-6px, 6px);
    }
    40% {
        -webkit-transform: translate(-6px, -6px);
        transform: translate(-6px, -6px);
    }
    60% {
        -webkit-transform: translate(6px, 6px);
        transform: translate(6px, 6px);
    }
    80% {
        -webkit-transform: translate(6px, -6px);
        transform: translate(6px, -6px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

#loader svg g {
    animation: vibrate 10s 2 linear;
    transform-origin: 50% 50%;
}

#loader svg path {
    transform: scale(0.3);
    -moz-transform: scale(0.3);
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@keyframes tipo {
    0%,
    80% {
        transform: translate(0, 50px) scale(0.3);
        opacity: 0;
        fill: none;
    }
    100% {
        transform: translate(0, 0) scale(0.3);
        fill: #fc8d7f!important;
        opacity: 1;
    }
}


/* EFECTOS DE IMAGEN  */

._opacity20 {
    opacity: 0.2;
}

._opacity50 {
    opacity: 0.5;
}

._gray {
    filter: grayscale(100%);
}

._saturate {
    filter: saturate(30%);
}

._multiply {
    mix-blend-mode: multiply;
}

._50op {
    filter: opacity(50%);
}

._invert {
    filter: invert(100%);
}

.breadcrumb {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 9px;
    color: var(--color-titulo);
}

.solapado {
    position: relative;
    overflow: hidden;
    z-index: 10;
    top: -27px;
}

ul.breadcrumb li a:first-child {
    text-decoration: none!important;
    font-weight: 500;
}


/* SECCIONES BASE  */

svg path.iso-8a {
    fill: var(--color-base3);
}

._logo>img {
    height: calc( var(--altura-base) * 2);
}

header._head-int {
    height: calc( var(--altura-base) * 3)!important;
}

header>nav._nav-main {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100vw;
}

._fixed {
    position: fixed!important;
    z-index: 2;
    top: 0;
    width: 100%;
}

._nav-float {
    position: fixed!important;
    /*background: var(--color-base1);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.37);*/
    z-index: 2;
    width: 100%;
    top: -100px!important;
    border-radius: 0 0 9px 9px;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

header>div>div:nth-child(1) {
    background: transparent;
}

header>div>div:nth-child(2) {
    background: transparent;
    overflow: hidden;
}

.agenda {
    background: var(--color-base3);
}

.agenda>div:nth-child(1) {
    background: var(--color-base3);
}

.agenda>div:nth-child(2) {
    background: repeating-linear-gradient(45deg, #1a3b54, #1a3b54 5px, #0b2d46 5px, #0b2d46 25px);
}


/* .asist>div:nth-child(1) {
    background: url(../images/intro-image1.jpg) center center/120% no-repeat;
} */

.asist>div:nth-child(2) {
    overflow: hidden;
    object-fit: cover;
    height: 90vh;
}

.igm>div:nth-child(1) {
    background: var(--color-base4) url(../images/portada4.png) center center no-repeat;
}

.igm>div:nth-child(2) {
    background: var(--color-base4);
}

.newsletter {
    height: calc( var(--altura-base) * 45)!important;
    min-height: calc( var(--altura-base) * 45)!important;
    overflow: hidden;
    background: var(--color-base-grad-5)
}

footer img {
    position: relative;
    height: calc( var(--altura-base) * 6);
}

footer ._logo-footer {
    min-height: calc( var(--altura-base) * 6);
}

footer p {
    color: var(--color-base6);
}

footer div div svg path {
    fill: var(--color-base6);
}

footer img#interior {
    position: relative;
    top: 0px;
    height: calc( var(--altura-base) * 6);
}


/* SECCIONES BASE  */

svg.svg-10 {
    height: calc( var(--altura-base) * 3);
}

svg.svg-10 polyline,
svg.svg-10 line,
svg.svg-10 path {
    fill: none;
    stroke: var(--color-base1);
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 0.2s;
}

._nav-float>div>div>a>svg.svg-10 polyline,
._nav-float>div>div>a>svg.svg-10 line,
._nav-float>div>div>a>svg.svg-10 path {
    fill: none;
    stroke: var(--color-base1);
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 0.2s;
}

._nav-float>div>div>a>.svg-10:hover path:nth-child(1),
._nav-float>div>div>a>.svg-10:hover path:nth-child(2),
._nav-float>div>div>a>.svg-10:hover path:nth-child(3) {
    stroke: var(--color-base1);
}

.svg-10:hover path:nth-child(1),
.svg-10:hover path:nth-child(2),
.svg-10:hover path:nth-child(3) {
    stroke: var(--color-base1);
}

.bot-arrow {
    position: fixed;
    bottom: 0px;
    right: 19%;
    text-decoration: none;
}


/* SECCIONES BASE MOBILE BREAKPOINT  */

@media (min-width: 0) {
    ._head-int>nav {
        background: var(--color-base2);
    }
    ._hdr-mobile {
        background: var(--color-base1);
    }
    ._logo>img {
        height: calc( var(--altura-base) * 2);
    }
    ._40vh-m {
        height: 50vh!important;
    }
    svg.svg-10 polyline,
    svg.svg-10 line,
    svg.svg-10 path {
        fill: none;
        stroke: var(--color-base0);
        stroke-width: 8;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: 0.2s;
    }
    #subscribeform input {
        width: 90%;
        border: 0px solid transparent;
        border-right-color: transparent;
        border-right-style: solid;
        border-right-width: 0px;
        border-right: none;
        padding: calc( var(--altura-base) / 2) 5%;
        height: var(--altura-base);
        border-radius: 5px 5px 0 0;
        outline: 0;
        color: #9dbfaf;
        font-size: 1.5em;
    }
    #subscribeform button {
        height: calc( var(--altura-base) * 2);
        border: 0px solid transparent;
        background: var(--color-base3);
        text-align: center;
        color: #fff;
        border-radius: 0 0 5px 5px;
        cursor: pointer;
        font-size: 18px;
    }
    .contele {
        transform: scale(.5) !important;
        width: 100vw;
        left: -20px;
        position: absolute;
        right: 10%;
    }
    ._bck-base {
        background: var(--fondo-base);
    }
    ._marg-27 {
        padding: calc( var(--altura-base) * 1)!important;
    }
    ._marg-27-ud {
        padding: calc( var(--altura-base) * 1) 0;
    }
    ._margin-27-ud {
        margin: calc( var(--altura-base) * 1) 0;
    }
    ._marg-27-bt {
        padding: 0 calc( var(--altura-base) * 1);
    }
    ._marg-tb {
        margin: 0 calc( var(--altura-base) * 1);
    }
    ._txt-base {
        color: var(--color-texto-mobile);
        font-size: 16px;
    }
    ._contenedor-slide-central {
        display: flex;
        justify-items: center;
        width: 90vw;
    }
    ._header-mobile{
        height:calc( var(--altura-base) * 9);

    }
}

@media (min-width: 480px) {
    ._logo>img {
        height: calc( var(--altura-base) * 2);
    }
    svg.svg-10 polyline,
    svg.svg-10 line,
    svg.svg-10 path {
        fill: none;
        stroke: var(--color-base0);
        stroke-width: 8;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: 0.2s;
    }
    ._marg-27 {
        padding: calc( var(--altura-base) * 1)!important;
    }
    ._marg-27-ud {
        padding: calc( var(--altura-base) * 1) 0;
    }
    ._margin-27-ud {
        margin: calc( var(--altura-base) * 1) 0;
    }
    ._marg-27-bt {
        padding: 0 calc( var(--altura-base) * 1);
    }
    ._marg-tb {
        margin: 0 calc( var(--altura-base) * 1);
    }
    ._txt-base {
        color: var(--color-texto-mobile);
        font-size: 16px;
    }
}

@media (min-width:720px) {
    ._txt-base03 {
        color: var(--color-base3);
    }
    ._nav-main>div>a._borde-base01 {
        border-color: var(--color-base3);
    }
    ._marg-27 {
        padding: calc( var(--altura-base) * 3)!important;
    }
    ._marg-27-ud {
        padding: calc( var(--altura-base) * 3) 0;
    }
    ._margin-27-ud {
        margin: calc( var(--altura-base) * 3) 0;
    }
    ._marg-27-bt {
        padding: 0 calc( var(--altura-base) * 4);
    }
    ._marg-tb {
        margin: 0 calc( var(--altura-base) * 3);
    }
    ._txt-base {
        color: var(--color-base);
        font-size: 16px;
    }
}

@media (min-width:960px) {
    ._bck-base {
        background: var(--fondo-base);
    }
    ._logo>img {
        height: calc( var(--altura-base) * 2);
    }
    ._logo>svg {
        transform: scale(1.5);
    }
    ._40vh-m {
        height: auto!important;
    }
    svg.svg-10 polyline,
    svg.svg-10 line,
    svg.svg-10 path {
        fill: none;
        stroke: var(--color-titulo);
        stroke-width: 8;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: 0.2s;
    }
    ._nav-main>div>a._txt-base03 {
        color: var(--blanco);
    }
    ._nav-main>div>a._borde-base01 {
        border-color: var(--blanco);
    }
    ._nav-float>div>a._borde-base01 {
        border-color: var(--color-base3)!important;
    }
    .color-interior>path {
        stroke: var(--color-base3)!important;
    }
    #subscribeform input {
        width: 90%;
        border: 0px solid transparent;
        border-right-color: transparent;
        border-right-style: solid;
        border-right-width: 0px;
        border-right: none;
        padding: calc( var(--altura-base) / 2) 5%;
        height: var(--altura-base);
        border-radius: 5px 0 0 5px;
        outline: 0;
        color: #9dbfaf;
        font-size: 1.5em;
    }
    #subscribeform button {
        height: calc( var(--altura-base) * 2);
        border: 0px solid transparent;
        background: var(--color-base3);
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 18px;
    }
    /* .mySwiper.swiper>.swiper-wrapper>.swiper-slide[data-swiper-slide-index="0"] {
        background: none!important;
    }
    .mySwiper.swiper>.swiper-wrapper>.swiper-slide[data-swiper-slide-index="1"] {
        background: none!important;
    }
    .mySwiper.swiper>.swiper-wrapper>.swiper-slide[data-swiper-slide-index="2"] {
        background: none!important;
    } */
    .contele {
        transform: scale(0.7)!important;
        width: inherit;
        left: inherit;
        position: inherit;
        right: inherit;
    }
    ._marg-27 {
        padding: calc( var(--altura-base) * 3)!important;
    }
    ._marg-27-ud {
        padding: calc( var(--altura-base) * 3) 0;
    }
    ._margin-27-ud {
        margin: calc( var(--altura-base) * 3) 0;
    }
    ._marg-27-bt {
        padding: 0 calc( var(--altura-base) * 4);
    }
    ._marg-tb {
        margin: 0 calc( var(--altura-base) * 3);
    }
    ._txt-base {
        color: var(--color-base);
        font-size: 16px;
    }
    /* SWIPER */
    ._contenedor-slide-central {
        display: flex;
        width: 100%;
    }
    .mySwiper.swiper {
        width: 100%;
        height: 100%;
    }
}

#result>p.poweredby>a>img {
    display: none!important
}

svg path.spline {
    stroke-dasharray: 1;
    animation-name: fill-line;
    animation-duration: 3s;
}

svg path.spline2 {
    stroke-dasharray: 1;
    animation-name: fill-line;
    animation-duration: 2s;
}

svg path.ttl {
    animation-name: opacity;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

svg path.subttl {
    animation-name: opacity;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

@keyframes fill-line {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section#scroll img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section#scroll img#iz {
    transform: translateY(-10%) scale(0.30);
    z-index: 3;
}

section#scroll img#der {
    transform: translateX(50%) translateY(20vh) scale(1) rotate(30deg);
    z-index: 1;
}

section#scroll img#sierras {
    transform: translateX(10%) translateY(-5vh) scale(0.30);
    z-index: 3;
}

section#scroll img#arboleda {
    transform: translateX(35%) translateY(-15vh) scale(0.50);
    z-index: 2;
}

section#scroll img#pedido {
    transform: translateX(30%) translateY(-10vh) scale(0.60);
    z-index: 2;
}

section#scroll #texto {
    position: absolute;
    font-weight: 700;
    right: -10vw;
    z-index: 2;
    width: 80%;
}

.pedido {
    animation: vibrate 4s infinite cubic-bezier(.77, 0, .18, 1);
    position: absolute;
    top: 10px;
    width: 1500px;
    z-index: 9;
    right: 50px;
}

#cabeza {
    animation: oscila 10s infinite cubic-bezier(.77, 0, .18, 1);
}

#brazo {
    animation: oscilab 5s infinite ease-in-out;
}

.ojo {
    position: absolute;
    z-index: 10;
    width: 512px;
    height: 512px;
    transform-origin: center center;
    background: url(/images/sprite-eye.svg) left center;
    animation: play 5s steps(2) infinite;
    display: grid;
    justify-content: center;
    align-content: center;
}

.ojoloco {
    width: 250px;
    height: 175px;
    transform: translate(-35px, -55px);
}

.rota {
    position: absolute;
    animation: rota 3s infinite;
    transform-origin: center center;
    width: 512px;
    height: 512px;
}

@keyframes play {
    0%,
    10% {
        background-position: -1024px;
    }
    13%,
    100% {
        background-position: 0;
    }
}

@keyframes rota {
    0%,
    25% {
        rotate: 0deg;
    }
    25%,
    62% {
        rotate: 3.65deg;
    }
    62%,
    58% {
        rotate: -3.23deg;
    }
    97% {
        rotate: 0deg;
    }
}

.dropdown-active a,
visited {
    color: #7f4288;
}

._sticky::-webkit-scrollbar {
    width: 0.5em;
}

._sticky::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 0px solid rgb(213, 213, 213);
}


/*minimiza*/

.search-box {
    background: var(--color-bot-top);
    border-radius: calc( var(--altura-base) * 1);
    border: 2px solid var(--color-base1);
    height: calc( var(--altura-base) * 6);
    overflow: hidden;
    color: var(--color-base1);
}

.search-box input[type=text] {
    border: none;
    background: 0 0;
    z-index: 1;
    transition: all .25s ease-in .25s;
    font-size: 1rem;
    line-height: 27px
}

.search-box>input.clear-btn[type=submit] {
    background: 0 0;
    color: var(--color-base1);
    font-size: 27px;
    border: none;
    outline: 0;
    position: relative;
    cursor: pointer;
    rotate: -45deg;
    right: -9px;
}

.search-box>input::placeholder {
    color: var(--color-base1);
    font-size: 16px;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
}

.search-box input[type=text] {
    border: none;
    background: 0 0;
    z-index: 1;
    width: auto;
    height: 54px;
    transition: all .25s ease-in .25s;
    font-size: 1rem;
    line-height: 27px;
    text-align: center;
    color: #623C92;
}

.search-box>:focus {
    outline: 0
}


/* MENU PRINCIPAL */

.menuPrincipal.swiper {
    width: 100vw!important;
    height: 100%;
}

.menuPrincipal .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100vw!important;
    height: 100%;
}

.menuPrincipal .swiper-wrapper {
    width: 100vw!important;
}

.menuPrincipal .swiper-slide>div {
    height: 100%;
}

.menuPrincipal #menu>div.swiper-slide:first-child {
    width: auto!important;
    margin-left: 30%;
}

.menuPrincipal #menu>div.swiper-slide:last-child {
    width: auto!important;
    margin-right: 5%;
}

.items {
    color: var(--color-titulo);
    font-weight: 700;
}

._card-promo {
    width: 70%;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    
}

._card-style {
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e1dcdc;
    /* border-top: 1px solid #e0e0e0; */
    background: #f3f3f3;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

._card-oferta div {
    height: 100%;
}


/* MENU PRINCIPAL */