form {
  width: 100%;
  margin: 5% auto;
  padding: 0% 2% 2% 2%;
  //background: #fafafa;
}

.group { 
  position: relative; 
  margin-bottom: 45px; 
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 0px;
  -webkit-appearance: none;
  display: block;
  //background: #fafafa;
  color: #636363;
  width: 99%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
  color: #999; 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  /*top: 20px;*/
  -webkit-transition:all 0.2s ease;
  transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
  top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
  /* font-size: 14px; */
  color: #ef8903;
}

input:visited ~ label {
  top: -20px;
  /* font-size: 14px; */
  color: #f00;
}




/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #ef8903; 
  -webkit-transition:all 0.2s ease; 
  transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
  from { background: #ef8903; }
  to  { width: 0; background: transparent; }
}

@keyframes inputHighlighter {
  from { background: #ef8903; }
  to  { width: 0; background: transparent; }
}


/* Button */

.button a{
  background: #ef8903;
  position: relative;
  display: inline-block;
  padding: 12px 0;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  -webkit-transition:all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 6px;
}
.button a:hover { background: #003B89; }


/* Button modifiers */

.buttonBlue {
  background: #ef8903;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #003B89; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
          animation: ripples .4s ease-in;
}


/* Ripples animation */

@-webkit-keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

footer { text-align: center; }

footer p {
  color: #888;
  font-size: 13px;
  letter-spacing: .4px;
}

footer a {
  color: #ef8903;
  text-decoration: none;
  -webkit-transition:all .2s ease;
  transition: all .2s ease;
}

footer a:hover {
  color: #666;
  text-decoration: underline;
}

footer img {
  width: 80px;
  -webkit-transition:all .2s ease;
  transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }

.error {
 font:normal 400 0.75em "Open Sans", sans-serif !important;
 position: relative;
top: -4px;
right: -5px;
color: #B00;
}

/*------------------------form------------------------*/