simpleCart_items.headerRow {
    display: none!important;
}

.slide-togg .simpleCart_quantity {
    position: absolute;
   /*top: 5px;
    right: 50px;*/
    font-size: .7em;
    background: #0a0807;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
    /* background-color: #795548!important; */
}

.iconos_gd .slide-togg{
  position:absolute;
  /*left:200px;*/
  /* top:35px; */
  font-size: 1.5em;
}



.iniciar_sesionx a {
	background: #ef8903;
display: block;
padding: 3px;
color: #fff;
border-radius: 5px;
-webkit-transition: all .55s ease;
-moz-transition: all .55s ease;
-ms-transition: all .55s ease;
-o-transition: all .55s ease;
transition: all .55s ease;
position: absolute;
top: 8.3vw;
font-size: 1.1vw;
}

.simpleCart_total {
 font-family: 'Oswald', sans-serif !important;
/*padding: 0px 10px 10px 10px;*/
text-align: left;
background-position: 25px 2px;
margin-top: -10px;
position: absolute;
top: 4vw;
right: .3vw;
margin-right: 40px;
/*left: 20px;*/
font-size: 1.5vw;
}

@media all and (max-width: 650px) {
.simpleCart_total {
 font-family: 'Oswald', sans-serif !important;

font-size: 18px;
}

.checkout{
  display: grid!important;
  justify-content: center!important;
  grid-template-columns: 1fr!important;

}

}

.headerRow , .minicarro{
  display: inline-flex;
}

/*.headerRow > div , .minicarro > div {margin: 10px 15px;}*/

#caja-carro .simpleCart_total{
  margin-right:10px;
}

#caja-carro .simpleCart_total:before{
  content: "Total: ";
  font-weight: bold;
}

.minicarro .fa-minus-square{
  
 color:#95a5a6 !important;
}

.minicarro .fa-plus-square{
 color:#95a5a6 !important;
}

.minicarro .simpleCart_remove{
 color:#95a5a6 !important;
}

/*.minicarro .item-name{
  font-family:'Open Sans', sans-serif !important;
  font-weight:600;
  color:#34495e;
}

.minicarro .item-quantity{
  color:#34495e;
}

.minicarro .item-total{
  font-family:'Open Sans', sans-serif !important;
  font-weight:600;
  color:#2c3e50;
}
*/

.item-wrapper {
  /*  display: grid;
    grid-template-columns: 100px 50px 3fr;
    grid-template-rows: 1fr;
    */height: 108px;
    background: #fcfcfc;
   width:100%;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 6px;
}
.wrap_cont{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
  
.wrap_cont3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background: #eaeaea;
    border-radius: 15px 0 0 0;
}




#caja-carro{
  background-color:#ffffff !important;
  box-shadow:0px 0px 50px -24px #000000;
  height:226px;
}



#caja-carro .boton-checkout a{
    color: #ffffff;
    background-color: #ef8903 !important;
    box-sizing: content-box;
    padding: 27px;
    border-radius: 5px;
}

.boton-checkout .simpleCart_checkout a{
  color:#fff;
}

#caja-carro{
  height:100% !important;
  z-index:1000;
  width:414px;
  position:fixed !important;
  left:-4px;
  top:0px;
  box-shadow:100vh 37px 50px 500px rgba(0,0,0,0.46);
  overflow-x: hidden;
  overflow-y: scroll;
}


.boton-checkout .simpleCart_checkout span{
    font-size: 2em;
    position: relative;
    top: 5px;
    left: -3px;
    color: #fff!important;

}



#caja_carro::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#caja_carro::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#caja_carro::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}




#caja-carro h2{
  font-family:'Open Sans', sans-serif !important;
  font-size:21.4px;
  margin-top:33px;
  font-weight:300;
}

.slide-togg .fa-times{
  color:#ef8903;
  position:relative;
 
}

.item-image {
    align-self: center;
    justify-self: center; 
}
 


.item-image img{
  width: 100px;
  border-radius: 50%;
}


.minicarro .item-color{

  font-family:'Oswald', sans-serif !important;
  text-transform:uppercase;
  justify-self: center;

}

.minicarro .item-size{
  font-family:'Oswald', sans-serif !important;
  justify-self: center;
 
}

.minicarro .item-remove{
   position:relative;
  left:-30px;
  top:0px;
  z-index: 999;
 
}

.minicarro .item-price{
  font-family:'Myriad', sans-serif !important;
  justify-self: center;
font-size: 1.3em;
display: inline-flex;
float:right;
margin: 10px 20px;
color: #ee8d03;
}

.minicarro .item-name{
/*font-size: 2vw;*/
justify-self: start;
font-family:'Oswald', sans-serif !important;
align-self: center;
}

.simpleCart_items:after{clear: both!important;}


.simpleCart_items .minicarro{
  /*width:100%;*/
  min-width: 390px;
  font-family:'Oswald', sans-serif !important;
  margin: 0px 0;

}

.minicarro .item-quantity{
  font-family:'Myriad', sans-serif !important;
  font-size: 1em;
  justify-self:center;
  margin-top: 10px;
 
}

.checkout{
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 1fr;

}

@media (max-width:1120px){

.simpleCart_items .minicarro{
  /*width:100%;*/
  min-width: 0px !important;
  font-family:'Oswald', sans-serif !important;
  margin: 0px 0;
width: 100%;
}	

	
}

