.headerRow {
    display: none!important;
}

.slide-togg .simpleCart_quantity {
    position: absolute;
    top: 20px;
    right: -30px;
    font-size: .7em;
    background: green;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
    /* background-color: #795548!important; */
}

.iconos_gd .slide-togg{
  position:relative;
  /*left:200px;*/
  top:35px;
  font-size: 1.5em;
}





.simpleCart_total {
  font-family:'Oswald', sans-serif !important;
    padding: 10px 15px;
    text-align: right;
    background-position: 25px 2px;
}


.headerRow , .minicarro{
  display: inline-flex;
}

/*.headerRow > div , .minicarro > div {margin: 10px 15px;}*/

#caja-carro .simpleCart_total{
  margin-right:20px;
}

#caja-carro .simpleCart_total:before{
  content: "Total: ";
  font-weight: bold;
}

.minicarro .fa-minus-square{
  color:#95a5a6 !important;
}

.minicarro .fa-plus-square{
  color:#95a5a6 !important;
}

.minicarro .simpleCart_remove{
  color:#95a5a6 !important;
}

/*.minicarro .item-name{
  font-family:'Open Sans', sans-serif !important;
  font-weight:600;
  color:#34495e;
}

.minicarro .item-quantity{
  color:#34495e;
}

.minicarro .item-total{
  font-family:'Open Sans', sans-serif !important;
  font-weight:600;
  color:#2c3e50;
}
*/

.item-wrapper {
    display: grid;
    grid-template-columns: 100px 50px 3fr;
    grid-template-rows: 1fr;
    height: 108px;
    background: #f5f5f5;
    width: 90%;
    box-shadow: 2px 2px 40px 0px rgba(0,0,0,0.3);
    padding: 5px;
}
.wrap_cont{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
  
.wrap_cont3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background: #eaeaea;
    border-radius: 15px 0 0 0;
}




#caja-carro{
  background-color:#ffffff !important;
  box-shadow:0px 0px 50px -24px #000000;
  height:226px;
}



#caja-carro .boton-checkout a{
    color: #ffffff;
    background-color: #834024 !important;
    box-sizing: content-box;
    width: 75px;
    height: 45px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    color: #1abc9c;
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: 20px;
    border-radius: 50%;
    left: 40px;
}

.boton-checkout .simpleCart_checkout a{
  color:#fff;
}

#caja-carro{
  height:100% !important;
  z-index:1000;
  width:414px;
  position:fixed !important;
  left:-4px;
  top:0px;
  box-shadow:500px 37px 50px 500px rgba(0,0,0,0.46);
  overflow-x: hidden;
  overflow-y: scroll;
}


.boton-checkout .simpleCart_checkout span{
    font-size: 2em;
    position: relative;
    top: 5px;
    left: -3px;
    color: #fff!important;

}



#caja_carro::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#caja_carro::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#caja_carro::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}




#caja-carro h2{
  font-family:'Open Sans', sans-serif !important;
  font-size:21.4px;
  margin-top:33px;
  font-weight:300;
}

.slide-togg .fa-close{
  font-size:25.3px;
  color:#95a5a6;
  position:relative;
  top:5px;
  left:370px;
}

.item-image {
    align-self: center;
    justify-self: center; 
}
 


.item-image img{
  width: 100px;
  border-radius: 50%;
}


.minicarro .item-color{

  font-family:'Oswald', sans-serif !important;
  text-transform:uppercase;
  justify-self: center;

}

.minicarro .item-size{
  font-family:'Oswald', sans-serif !important;
  justify-self: center;
 
}

.minicarro .item-remove{
   position:relative;
  left:-20px;
  top:2px;
  z-index: 999;
 
}

.minicarro .item-price{
  font-family:'Oswald', sans-serif !important;
  justify-self: center;

}

.minicarro .item-name{
/*font-size: 2vw;*/
justify-self: start;
font-family:'Oswald', sans-serif !important;
align-self: center;
}

.simpleCart_items:after{clear: both!important;}


.simpleCart_items .minicarro{
  /*width:100%;*/
  min-width: 390px;
  font-family:'Oswald', sans-serif !important;
  margin: 12px 0;

}

.minicarro .item-quantity{
  font-family:'Oswald', sans-serif !important;
  font-size: 1.75em;
  justify-self:center;
  margin-top: 10px;
 
}
