/*************
     Modal
*************/

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    max-height: 100vh;
    overflow-y: auto;
    font-family: var(--font-family);
    /* padding: 24px;*/
    background: #fff;
}

.modal .close {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 999;
    cursor: pointer;
}

@media screen and (min-width: 320px) {
    header h1 {
        margin-left: 0px;
    }
    header h1 p {
        margin-left: 0px;
    }
    header h1 p a {
        margin-left: 0px;
    }
}

.modal strong {
    font-size: 16.7px;
    text-align: left;
}

.modal .subttl {
    font-weight: 600;
    font-size: 20.3px;
    color: #34495e;
}

.modal .contmodal {
    height: 600px!important;
    overflow: auto;
    left: 112px;
    position: relative;
    top: 26px;
}

.cont_niveles .modal {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cont_niveles .modal>div {
    border-width: 0px;
    border-color: transparent !important;
    border-style: none;
}

.cont_niveles>div>div>img {
    width: auto!important;
}

.logomodal {
    width: 192px !important;
    position: absolute !important;
}

.modcont {
    margin: 24px;
}