
/*!
 * jQuery simple gallery Plugin 1.1.0
 *
 * http://fernandomoreiraweb.com/
 *
 * Copyright 2013 Fernando Moreira
 * Released under the MIT license:
 *   http://mit.fernandomoreiraweb.com/
 */


.simplegallery {
  margin: 0 auto;
  width: 417px;
  height: 380px;
  overflow: hidden;
}

.simplegallery .content {
  background: #fff;
  position: relative;
  width: 418px;
  height: 270px;
  overflow: hidden;
}

.simplegallery .content img {
  width: 415px;
  border: 1px solid #9c9c9c;
}

.simplegallery .thumbnail { margin-top: 5px; }

.simplegallery .thumbnail .thumb {
  display:inline-flex;
  width: 100px;
  height: 100px;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.simplegallery .thumbnail .thumb img {
  border: 1px solid #9c9c9c;
  width: 100px;
}

.simplegallery .thumbnail .last { margin: 0; }
