<div style="clear:both;"></div>



<div class="base col-88">
	<div class="col-86 rowfixed exito">
	<!-- poner contenido aqui... -->
	<h2>Página vacía.</h2>

	<p>Pagina para uso multiple</p>
	<img src="img/logo_inv.svg">
	<!-- ...hasta aqui -->
	</div>
	<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>