<section>
<div class="col-86 rowfixed boxprod">
  <div class="col-4">

    <!-- default start -->
        <section id="gallery" class="simplegallery col-6">

            <div class="content col-5">
<a id="gallerybig" href="/#">
                <img src="img_prod//{sFile}" class="image_1 vista_previa" alt=""/>

                <img src="img_prod/{sFile1}" class="image_2 vista_previa" style="display:none" alt=""/>
               <img src="img_prod/{sFile2}" class="image_3 vista_previa" style="display:none" alt=""  /> 

                <img src="img_prod/{sFile3}" class="image_4 vista_previa" style="display:none" alt="" />
 </a>
            </div>

<!-- <a href="/#">ver fotos</a> -->

<script type="text/javascript">
    $('#gallerybig').click(function( e ){
  e.preventDefault();
  $.swipebox([
  { href:"img_prod/{sFile}", title:"01.jpg"},{ href:"img_prod/{sFile1}", title:"02.jpg"},{ href:"img_prod/{sFile2}", title:"03.jpg"},{ href:"img_prod/{sFile3}", title:"04.jpg"},]);
});
</script>



            <div class="clear"></div>



            <div class="thumbnail col-1">

                <div class="thumb col-6">

                    <a href="#" rel="1">

                        <img src="img_prod/{sFile}" id="thumb_1" alt=""/>

                    </a>

                </div>

                <div class="thumb col-6">

                    <a href="#" rel="2">

                        <img src="img_prod/{sFile1}" id="thumb_2" alt="" />

                    </a>

                </div>

                <div class="thumb col-6">

                    <a href="#" rel="3">

                        <img src="img_prod/{sFile2}" id="thumb_3" alt="" />

                    </a>

                </div>

                <div class="col-6 thumb last">

                    <a href="#" rel="4">

                        <img src="img_prod/{sFile3}" id="thumb_4" alt=""/>

                    </a>

                </div>
<div class="clear"></div>
            </div>

        </section>

    <!-- default end -->

  </div>
  <div class="col-2">
  <div class="detalle_prod simpleCart_shelfItem">
    <img src="img_prod/{sFile}" id="thumb_1" alt="" width="100" height="100" class="item_image" style="display:none;" />
    <div class="col-6"></div>
    
    <div class="col-6">
      <h1 style="color: #7b6b4a;font-family: "Chivo";">{sDescription}</h1>
<h3 class="item_name" >{sName} - Contamos con Stock</h3>
<input type="hidden" id="cod" name="cod" value="{sName}"/>
<input type="hidden" id="colorI" name="colorI" value="{sColorI}"/>
<input type="hidden" id="talleI" name="talleI" value="{sTalleI}"/>
</div>
 <div class="col-6"><h2 class="item_price" >$ {iValue}</h2></div>
    <div class="col-6">Season: <span style="color: #7b6b4a;font-family: "Oswald";">{sSeason}</span></div>
    <div class="col-6">
    <h4 style="font-size: 12px;">SELECCIONAR COLOR</h4>
 <div class="col-6"></div>
<script type="text/javascript">
$(window).load(function(){
$(".custom-radios input[type='radio']").click(function()
{
  var checked = $(this).attr('checked');
  var name = $(this).attr('name');

  if (checked == 'checked')
  {
    $(this).removeAttr('checked');
    $(this).attr('checked', false);
  }
  else
  {
    $("input[name="+name+"]:radio").attr('checked', false);
    $(this).attr('checked', 'checked');
  }
});
});
</script>
<div class="custom-radios" id="colores">

<!--BeginColorBlock-->
    <input type="radio" id="color-{idColor}" name="color" value="{sColorName}" class="item_color" {chequeadoC} onclick="showStockDataColor();">
    <label for="color-{idColor}">
      <span>
       {sColorName}
      </span>
    </label>  
<!--EndColorBlock-->

</div>






<div class="col-6 talles"> 
   <h4 style="font-size: 12px;">SELECCIONAR TALLE</h4>
    <div class="col-6"></div>
  <!-- 
 <div class="dropdown">
      <button>talle</button>
      <ul class="dropdown-options item_size">
                 <li class="option" value="XS">
          <a href="javascript:;">XS</a>
         </li>
         <li class="option" value="S">
            <a href="javascript:;">S</a>
         </li>
         <li class="option">
            <a href="#">M</a>
         </li>
         <li class="option">
            <a href="#">L</a>
         </li>
         <li class="option">
            <a href="#">XL</a>
         </li>
      </ul>
   </div> 
             

 <select class="item_color" >

                                <option value="rojo"><span class="rojo">r</span></option>
                                <option value="negro"><span class="negro">n</span></option>
                                <option value="verde"><span class="verde">v</span></option>
                                <option value="magenta"><span class="magenta">m</span></option>
                            </select>


 -->
 <script type="text/javascript">
$(window).load(function(){
$(".custom-talles input[type='radio']").click(function()
{
  var checked = $(this).attr('checked');
  var name = $(this).attr('name');

  if (checked == 'checked')
  {
    $(this).removeAttr('checked');
    $(this).attr('checked', false);
  }
  else
  {
    $("input[name="+name+"]:radio").attr('checked', false);
    $(this).attr('checked', 'checked');
  }
});
});
</script>                          
<div class="custom-talles" id="talles">

<!--BeginTalleBlock-->
    <input type="radio" id="talle-{idTalle}" name="talle" value="{sTalleName}" class="item_size" {chequeado} onclick="showStockDataTalle();">
    <label for="talle-{idTalle}">
      <span>
       {sTalleName}
      </span>
    </label>  
<!--EndTalleBlock-->
</div>

</div>
<div class="col-6">
  <form style="width: 146px;">
<div class="box_compra"><a class="item_add" href="javascript:;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
<span class="item_cantidad">
<select id="foo" class="item_Quantity">
{options}
</select>

</span>
</div>
</form>

</div>


     <div class="clean"></div>           
      </section>
    
       <section>
<!-- 
            <div class="entrena rowfixed">
    
                <div class="col-6"><div><img src="img/logo_zumba2.svg" alt=""></div></div>
                <div class="col-6"><div><h2>en tu ciudad</h2></div></div>
                <div class="col-6"><div><div class="boton_seccion btn btn-entrena">Consultar</div></div></div>

            </div> -->
      </section>
