<div class="_row _col-1 ch" style="height: 198px;"></div>
<div class="base col-88" style="">{sResultado}<div>
<div class="base col-88" style="{sDisplayResul}">
<div class="col-86 rowfixed simprod">
<div class="mod_cont_prod _row _col-6">
<div class="_row _col-1 _col-span-2 _gap">
<div class="deepF simpleCart_shelfItem">
    <img src="img_prod/{sFile}" id="thumb_1" alt="" width="100" height="100" class="item_image" style="display:none;">
<h2 id="marca" class="item_marca" style="font-size: 2em;font-weight: bold;margin: 10px 0 0 0 ;"><strong>{sBrand}</strong></h2>

<h2 class="item_name" style="font-size: 1.5em;margin: 5px 0 0 0 ;"><strong>{sName}</strong></h2> 
<h4 class="item_modelo" style="font-size: 0.8em;font-weight: bold;">{sModel}</h4>

<div class="ch col-6" style="text-align: center;">
<!-- <a href="/#">ver fotos</a> -->
<a id="gallery{iId}" href="/#"><div class="img_frame_modal" style="background:no-repeat center/90% url('img_prod/{sFile}') rgb(255, 255, 255);"> </div> </a>

<script type="text/javascript">
    $('#gallery{iId}').click(function( e ){
  e.preventDefault();
  $.swipebox([
  { href:"img_prod/{sFile}", title:"{sBrand}"},
  { href:"img_prod/{sFile1}", title:"{sBrand}"},
  { href:"img_prod/{sFile2}", title:"{sBrand}"},
  { href:"img_prod/{sFile3}", title:"{sBrand}"},]);
});
</script>


</div>



<h2 class="item_price" style="font-size: 1.8em;font-weight: bold;color: #ee8d03"> $ {iValue}</h2><p class="item_Quantity" style="display:none;">1</p>
<div id="add" class="item_add small _center _fondo-base3 _marg-9 bot-gen _bot-noborde _rounded _txt-blanco" style="cursor: pointer;">
AGREGAR AL CARRITO</div>

<a  class="small _center _marg-9 bot-gen _bot-noborde _rounded _txt-blanco" href="https://api.whatsapp.com/send?phone=5492235056093&amp;text=Hola!,Me%20contacto%20del%20sitio%20web.Necesito%20consultar%20por%20un%20producto.%20https://pascualgorrassi.com.ar/products_simple.php?art={quiero}" style="
    background: #7ec9a6;
    color: #ffffff;
    /* border-radius: 5px; */
    /* cursor: pointer; */
">CONSULTAR WHATSAPP</a>


<small class="frase_envio1">{sCartel}</small><br>
<small style="font-size: 0.6em;font-weight: bold;color: #B0B0B0">LOS VALORES PUBLICADOS SON EN EFECTIVO, DÉBITO O UN PAGO CON TARJETA DE CRÉDITO</small><br>
<br>
<!--<small class="frase_envio1">{sCuotasNew}</small><br>
<small class="frase_envio1" >PTF: $ {iFinanciado}</small><br>
<small class="frase_envio1" >{cft}  {tea} </small></strong><br>-->
<small class="frase_envio1" >{sCondicion}</small><br>




<!--<div class="col-6">
<br>
  <form style="width: 146px;">
<div class="box_compra">
<a class="item_add" href="javascript:;">
<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
<span class="item_cantidad">
<select id="foo" class="item_Quantity">
{options}
</select>
</span>
</div>
</form>
<br>
</div>-->



<br>
<small class="frase_envio" align="left">
    <i class="fa fa-info-circle"></i><strong>&nbsp;CONDICIONES</strong><br/>Todas las promociones son validas hasta agotar stock,<br>quedan sujetas a cambios de precios sin previo aviso.
</small>
    <br>

<a class="small _center _fondo-base1 _marg-9 bot-gen _bot-noborde _rounded _txt-base" href="terms.php">Lea Términos y Condiciones</a>

<br/>
<br/>
EAN: {sCodBar}
</div>


</div>

<div class="_row _col-span-4 _col-1 gd"> 

        <section id="gallery" class="simplegallery">

            <div class="content">
<a id="gallerybig{iId}" href="/#">
                <img src="img_prod/{sFile}" class="image_1 vista_previa" alt="" />

                <img src="img_prod/{sFile1}" class="image_2 vista_previa" style="display:none" alt=""/>
                
              <!-- <img src="img_prod/{sFile2}" class="image_3" style="display:none" alt="" width="500" height="350"/> 

                <img src="img_prod/{sFile3}" class="image_4" style="display:none" alt="" width="500" height="350"/>-->
 </a>
            </div>

<!-- <a href="/#">ver fotos</a> -->

<script type="text/javascript">
    $('#gallerybig{iId}').click(function( e ){
  e.preventDefault();
  $.swipebox([
  { href:"img_prod/{sFile}", title:"{sBrand}"},
  { href:"img_prod/{sFile1}", title:"{sBrand}"},
  { href:"img_prod/{sFile2}", title:"{sBrand}"},
  { href:"img_prod/{sFile3}", title:"{sBrand}"},
  ]);
});
</script>



            <div class="clear"></div>



            <div class="thumbnail">

                <div class="thumb col-82">

                    <a href="#" rel="1">

                        <img src="img_prod/{sFile}" id="thumb_1" alt="" width="100" height="100"/>

                    </a>

                </div>

                <div class="thumb col-82">

                    <a href="#" rel="2">

                        <img src="img_prod/{sFile1}" id="thumb_2" alt="" width="100" height="100"/>

                    </a>

                </div>

               <!-- <div class="thumb col-82">

                    <a href="#" rel="3">

                        <img src="img_prod/{sFile2}" id="thumb_3" alt="" width="100" height="100"/>

                    </a>

                </div>

                <div class="col-82 thumb last">

                    <a href="#" rel="4">

                        <img src="img_prod/{sFile3}" id="thumb_4" alt="" width="100" height="100"/>

                    </a>

                </div>-->

            </div>

        </section>

  </div>

  
  <div id="openPlanes" class="simpleCart_shelfItem modalDialog"><!-- la id "openModalid" id modificalo para ponerle el id de cada producto ej: id="openModal<?php $idProd ?>" en el boton ver mas es lo mismo deben cohincidir. -->

    <div> <a href="#close" title="Close" class="close">&#9679;</a>
	
	
	<table style="font-size:10px;color:black;FACE:raro, courier;">
	<tr>
	<td><h2>Condiciones de Venta</h2><br><br></td>
	<td><h3></h3></td>
	<td><h3>PRECIO CONTADO $ {iValue}</h3></td>
	</tr>
	
	
	<tr>
	<td><strong>PLANES DE FINANCIACION</strong></td>            
	<td><strong>VALOR CUOTA</strong></td>     
	<td><strong>PTF</strong></td>     
	</tr>
	<!--BeginResultsBlock-->
		<td>{sCuotaCon} - {sNameCon}</td>
						
		<td>$ {sValorCon}</td>
		<td>$ {sValorSinFinCon}</td>
		</td>                                   
		</tr>
	<!--EndResultsBlock-->
								
	</table>
	
	</div>
	
	
	</div>




<div style="clear: both;"></div>

</div>

<hr>
<br>
<div class="_row _col-4" style="grid-gap: 18px;margin: 27px 0;">

<div class="_row _col-1 _center">
        <a href="#openPlanes" style="color: green;"><strong><i class="fa fa-credit-card"></i>  CONDICIONES DE VENTA</strong></a> <br>
        con todos los medios de pago
</div>
<div class="_row _col-1 _center">
    <div class="" style="color: #FF8C00;"> <img src="img/medio_pagos.png" style="height: 36px;"></div>
        <a href="#openPlanes" class="_marg-27-ud" style="color:#FF8C00"><strong>MEDIOS DE PAGOS</strong></a>

</div>

<div class="_col-1 _center">

<font color="green"><strong><i class="fa fa-truck"></i> {sEnvio}</strong></font><br/>En Mar del Plata y Zona.
<br>
<br>
</div>

<div class="_col-1 _center">
<strong style="color:#00BFFF;"><i class="fa fa-calculator"></i> COSTO DE ENVIO</strong>
al resto del país.<br>
</div>
<br>
<br>
</div>

<br>
<br>
<div class="" style="text-align: left;">


<div class="_row _col-1">
<div class="item_add small _center bot-gen _bot-noborde _rounded _txt-blanco" style="background:#EF8903;margin: 27px 0;" >&nbsp;&nbsp;ESPECIFICACIONES
</div>
</div>
<div class="_descriot">
    {sDescription}
</div>


</div>
<br>
<hr style="background-color: #ee8d03;
height: 4px;
border: 0;
color: #ee8d03;">

</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>


