<div style="clear:both;"></div>



<div class="base col-88">
<div class="col-86 rowfixed" >
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<center><h1 class="_color-titulo _no-marg">NOSOTROS</h1></center><br>
<p class="_txt-base _light _margin-27-ud">
 Somos una empresa con una trayectoria de mas de 40 Años ubicada en la Ciudad de Mar del plata Provincia de Buenos Aires, 
 con mas exactitud en el Barrio El Progreso lugar donde el <strong>Sr. Pascual Gorrassi</strong> crea este comercio en el año 1973 con 
 un entorno 
 familiar y de barrio, brindando la mejor atención personalizada a sus clientes ofreciendo productos con garantía y de calidad.<br><br>
 
 <center><img src="img/foto_local.jpg" alt="" style="mix-blend-mode: multiply;width: 90%;padding: 30px;"></center>

 <p class="_txt-base _light _margin-27-ud">
 Es así que en la actualidad se sigue respetando esa modalidad y con mayor experiencia tratamos de mejorar día a día para lograr la excelencia. <br><br>
 Estamos enfocados en crecer y poder estar mas cerca de nuestros clientes en distintos ámbitos, es así que en estos últimos años creamos nuestro sitio web y redes sociales, como así también incorporamos publicidad en emisoras Fm y Am. De esta manera confiamos en tener un mejor vinculo con nuestros clientes para que estén informados inmediatamente de las novedades y promociones que brindamos.<br><br>
   La Responsabilidad y Trabajo de todos los días hace que nuestro comercio sea eficaz y transparente frente a los clientes.
<br><br>
</p>
  
</div>


<!-- ...hasta aqui -->
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>