<div style="clear:both;"></div>
<div class="base col-88"><div id="resolucionPc">
<div class="_row _col-1 _center" style="text-align:center;">
<div class="col-86 rowfixed" >
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>

<div class="_row _col-2" id="contact-form">

<div  >   
 <div style="padding-left:10%;padding-right:10%;">	
 <h1 class="_color-titulo _no-marg"><strong>¿Has olvidado tu contraseña?</strong></h1><br>	
 <h4 class="_marg-9 _color-titulo"> No te preocupes, te enviaremos un correo electrónico para que puedas recuperarla.</h4>
 <br>
 <h4 class="_marg-9 _color-titulo">{sResult}</h4>
 
 <div class="box_mas_comprar" style="margin-left:20%;margin-right:20%;margin-top:30px;"><!--<a href="#openOffer904">ver más...</a>-->
   </div></div></div>
   
   <div  >
 <!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br><div style="padding-left:10%;padding-right:10%;">

 <div >
 <form action="olvidapassword.php" method="post" name="pedido" id="formulario"><fieldset>
<input type="hidden" name="sAction" value="sendUser"/>
 <fieldset><div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
 <label for="email" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Correo electrónico</strong></label>
 <input id="email" name="email" type="email" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
 <span class="highlight"></span><span class="bar"></span></div>

 </fieldset> 
 <div class="box_mas_comprar" style="margin-left:10%;margin-right:20%"><!--<a href="#openOffer904">ver más...</a>-->
 <button type="submit" name="go" class="bot_comprar icon " style="border: none;
outline: none;padding-left: 10%;font-family: 'Open Sans', sans-serif; margin-left:0px !important; margin-right:0px !important;
padding-right: 10%;">ENVIAR CORREO</button>
<br><br>
  </div> 
  </form>
  </div>
  
  </center>
  </div>
  </div>
</div>
</div>
</div>
</div>




<div id="resolucionMovil" style="display:none">
<div class="_row _col-1 _center" style="text-align:center;">
<div class="col-86 rowfixed" ><!-- style="font-weight: bold; font: 110% Open Sans small-caps;"-->
<br><!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br><!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<div style=" display: flex;align-items: center;"><!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<div style="padding-left:10%;padding-right:10%;margin-bottom:10px;padding-top:20px">
<center><h1 class="_color-titulo _no-marg"><strong>¿Has olvidado tu contraseña?</strong></h1><br>	
 <h4 class="_marg-9 _color-titulo"> No te preocupes, te enviaremos un correo electrónico para que puedas recuperarla.</h4>
 </center><br><center><p> 
 
 
 
 </p>
 <br>
<div id="contact-form">
<form action="olvidapassword.php" method="post" name="pedido" id="formulario"><fieldset>
<input type="hidden" name="sAction" value="sendUser"/>
<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="email" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo">
<strong>Correo electrónico</strong></label>
<input id="email" name="email" type="email" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail"><span class="highlight"></span><span class="bar"></span></div>
</fieldset> 
<div class="box_mas_comprar" ><!--<a href="#openOffer904">ver más...</a>-->
 <button type="submit" name="go" class="bot_comprar icon " style="border: none;
outline: none;padding-left: 10%;font-family: 'Open Sans', sans-serif; margin-left:0px !important; margin-right:0px !important;
padding-right: 10%;">ENVIAR CORREO</button>
  </div></form>
  
  
 
  </div>
  
  
  
  
  </center></div></div>
 </div></div></div>
<!-- ...hasta aqui -->
</div>


<div style="clear:both;"></div>
</div>