﻿<div style="clear:both;"></div>



<div class="base col-88">
<div class="col-86 rowfixed">
<!-- poner contenido aqui... --><br>
<!-- poner contenido aqui... --><br>
<center><h1 class="_color-titulo _no-marg">ATENCION POST VENTA</h1></center><br>
<p class="_txt-base _light _margin-27-ud">En esta sección podrá buscar <strong>Servicios Técnicos Autorizados</strong> por Marca y ver el estado de su <strong>Orden de Servicio</strong>.<br>
Ante cualquier consulta puede escribirnos a <strong>service@pascualgorrassi.com.ar</strong>
<div class="col-6" style="border-top: 1px solid black;border-bottom: 1px solid black;margin: 20px 0;padding: 20px 0;">
<div class="col-2">
<div class="container-46">

<!-- buscador -->

<!-- fin_buscador -->


<form id="frmSearch" name="frmSearch" action="service.php" method="POST">
		<input type="hidden" name="sAction" value="searchSO"/>
    <input type="search" requerid id="search" name="search" placeholder="Buscar..." onfocus="this.placeholder=''" onblur="this.placeholder='Buscar...'" />
    <button class="icon"><i class="fa fa-search"></i><span> buscar</span></button>
  </form>
  </div>


  
  </div>
<div class="col-4">  <strong> Marca del Artículo Servicios Autorizados / Número de Orden / DNI garantias.</strong>
</div>

</div>

<p>
<!--BeginServiceOn-->
{sBrand}
 <strong>{sName}</strong><br>
 {sAddress}
 {sPhone}
 {sCellPhone}
 {sObs}
 <br>
 <br>
 
 <!--EndServiceOn-->

</p>
  
</div>


<!-- ...hasta aqui -->
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>