<div class="ch" style="height: 198px;"></div>
<div class="submenu col-88 gd">
  <div class="col-86 rowfixed">
  <p class="indice"><strong>{sCate}</strong> {sSubC}
  <hr style="opacity: 0.1;">
  </p>
    <div class="subcat">
	 
  <nav class="_row _col-6" style="column-gap: 9px;">

<a href="javascript:void(0);" class="filter small _fondo-base-hover _fondo-base-neuto-01 _marg-9 bot-gen _bot-noborde _rounded _txt-sec _center" style="cursor: pointer;" data-filter="all">todo</a>
<a href="#/" class="sort small _fondo-base-hover _fondo-base-neuto-01 _marg-9 bot-gen _bot-noborde _rounded _txt-sec _center" style="cursor: pointer;" data-sort="price:asc" >Menor Precio</a>
<a href="#/" class="sort small _fondo-base-hover _fondo-base-neuto-01 _marg-9 bot-gen _bot-noborde _rounded _txt-sec _center" style="cursor: pointer;" data-sort="price:desc" >Mayor Precio</a>

</nav>

</div>

  </div>
  
  <div style="clear:both;"></div>

<div id="paginadr">

    <div class="pager-list">

  <!-- Pagination buttons will be generated here -->

</div>

<script type="text/javascript">
    $(function(){
    $('#container').mixItUp();
});

</script>

</div>

</div>

<div style="clear:both;"></div>

<div class="productos col-88">

<div class="col-86 rowfixed tope container" id="container">

<!-- contenedor box productos -->

<center>{sResultado}</center>



<!--BeginProductosXArt-->



<div class="col-2 mix" style="{sDisplayResul}" data-price="{iValue}">



  <div class="simpleCart_shelfItem prod_cont _rounded" style="{sDisplayResul}">
  
<a {sTarget} href="products_simple.php?art={iId}">

<div class="img_frame" style="background:no-repeat center/100% url('img_prod/{sFile}') rgb(255, 255, 255);margin-top:50px"> </div> 

<h2 id="title" class="item_brand">{sBrand}</h2>
<h2 id="title" class="item_name">{sName}</h2>
<h2 style="display:none"  class="item_image">img_prod/{sFile}</h2>
<h2 style="display:none"  class="item_marca">{sBrand}</h2>
<h2 style="display:none"  class="item_modelo">{sDescription1}</h2>

<div class="desc">{sDescription1}</div>

<h2 class="item_price"> $ {iValue}</h2>
</a>
    <div>

<a id="add" class="item_add small _fondo-base-hover _fondo-base3 _marg-9 bot-gen _bot-noborde _rounded _txt-blanco" style="cursor: pointer;">AGREGAR AL CARRITO</a>



  </div> 



  
<div class="imapromo"  id="oferta{iId}" style="{sDisplayResulDestacado}">

<svg xmlns:rdf="https://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 180 60.000001" height="60" width="180" version="1.1" xmlns:cc="https://creativecommons.org/ns#" xmlns:dc="https://purl.org/dc/elements/1.1/">

 

 <path class="caja_promo" d="m5.4302 1.2413h171.61v42.112h-171.61z"/>

 <text x="15" y="29" font-family="Open Sans" font-size="20px" fill="#fff">{sPlan}</text>

 <path class="flecha_caja_promo" d="m177.36 42.691h-27.734l0.29505 17.408z"/>

</svg>



</div>
</div>




</div>

<!--EndProductosXArt-->



<div style="clear:both;"></div>



</div>

<!-- contenedor box productos -->

<div style="clear:both;"></div>

<div id="paginadr">

    <div class="pager-list">

  <!-- Pagination buttons will be generated here -->

</div>

<script type="text/javascript">
    $(function(){
    $('#container').mixItUp();
});

</script>

</div>



</div>




<div style="clear:both;"></div>
</div>