<div style="clear:both;"></div>
<div class="base col-88">
<div id="resolucionPc">
<div class="_row _col-1 _center" style="text-align:center;">
<div class="rowfixed" >
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<form action="altaclientes.php" method="post" name="newUser" id="newUser">
<input type="hidden" name="sAction" value="newUser"/>
<div class="_row _col-2" id="contact-form">

<div class="_row _center" style=" border-right: 1px solid lightgray;">
<div class="_row _center">
    <div class="_row _col-1 _center _marg-27">
        <h2 style="padding:0;" class="_color-titulo _no-marg">ALTA DE USUARIO</h2>
    </div>
   


<fieldset><div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newNombre" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Nombre</strong></label>
<input id="newNombre" name="newNombre" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div><div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newApellido" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Apellido</strong></label>
<input id="newApellido" name="newApellido" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div><div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newEmail" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Correo electrónico</strong></label>
<input id="newEmail" name="newEmail" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div>

<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newConfirmEmail" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Confirmar correo electrónico</strong></label>
<input id="newConfirmEmail" name="newConfirmEmail" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div>

<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newTelefono" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Teléfono</strong></label>
<input id="newTelefono" name="newTelefono" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div>

 </fieldset>


 </center></div></div>

<div class="_row _center" style="border-left: 1px solid lightgray;">
<div style="padding-left:10%;padding-right:10%;">


<fieldset>
<center>




<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newDomicilio" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Domicilio</strong></label>
<textarea id="newDomicilio" name="newDomicilio" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;" ></textarea>
<span class="highlight"></span><span class="bar"></span></div>

<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newPassword" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo">
<strong>Contraseña</strong></label>
<input id="newPassword" name="newPassword" type="password" style=" width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"required="" class="validate input-field required">
<span class="highlight"></span><span class="bar"></span></div>

<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="confirmapassword" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo">
<strong>Confirmar contraseña</strong></label>
<input id="confirmapassword" name="confirmapassword" type="password" style=" width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"required="" class="validate input-field required"><span class="highlight"></span><span class="bar"></span></div>
<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<div style="float:left">
<input type="checkbox" style="display:inline-block;
    vertical-align:middle;" required="" class="validate input-field required">
<span style="margin-left:10px;display:inline-block;
    vertical-align:middle;font: normal 600 0.95em 'Open Sans', sans-serif;" class="_marg-9 _color-titulo"> Acepta <a href="terms.php" style="color:#ee8d03 " class="contactos" >terminos y condiciones</a></span>
 </div>
 </div>



<br>
<br>

 <div class="group " >
<button type="submit" style="border: none;
outline: none;padding-left: 10%;
padding-right: 10%;
font-family: 'Open Sans', sans-serif;" class="bot_comprar icon ">CREAR CUENTA</button>
</div>
 </center>
 </fieldset>


</div></div>


</div>

</form>
</div>


<!-- ...hasta aqui -->
</div>

</div>
<div id="resolucionMovil" style="display:none">
<div class="_row _col-1 _center" style="text-align:center;">
<div class="rowmargin">
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<form action="altaclientes.php" method="post" name="newUser" id="newUser">
<input type="hidden" name="sAction" value="newUser"/>
<div class="_row _col-2" id="contact-form">

<div style="padding-left:10%;padding-right:10%;" class="_color-titulo _no-marg"><center><h1>ALTA DE USUARIO</h1></center><br><center>


<fieldset><div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newNombre" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Nombre</strong></label>
<input id="newNombre" name="newNombre" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div><div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newApellido" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Apellido</strong></label>
<input id="newApellido" name="newApellido" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div>

<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newEmail" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Correo electrónico</strong></label>
<input id="newEmail" name="newEmail" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div>

<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newEmail" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Confirmar correo electrónico</strong></label>
<input id="newConfirmEmail" name="newConfirmEmail" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div>
 
 
 
 
 </fieldset>


 </center></div>

<div style="padding-left:10%;padding-right:10%;">


<fieldset>
<center>
<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newTelefono" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Teléfono</strong></label>
<input id="newTelefono" name="newTelefono" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
<span class="highlight"></span><span class="bar"></span></div>
<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newDomicilio" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Domicilio</strong></label>
<textarea id="newDomicilio" name="newDomicilio" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;" ></textarea>
<span class="highlight"></span><span class="bar"></span></div>

<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<label for="newPassword" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo">
<strong>Contraseña</strong></label>
<input id="newPassword" name="newPassword" type="password" style=" width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"required="" class="validate input-field required">
<span class="highlight"></span><span class="bar"></span></div>

<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;" class="_marg-9 _color-titulo">
<label for="confirmapassword" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo">
<strong>Confirmar contraseña</strong></label>
<input id="confirmapassword" name="confirmapassword" type="password" style=" width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"required="" class="validate input-field required"><span class="highlight"></span><span class="bar"></span></div>



<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
<div style="display: inline-block;vertical-align: middle;font:normal 600 0.95em 'Open Sans', sans-serif;">
<input type="checkbox" style="display: inline-block;vertical-align: middle;" required="" class="validate input-field required" class="_marg-9 _color-titulo">
 Acepta <a class="contactos" style="color:#ee8d03" href="terms.php">terminos y condiciones</a>
</div></div>


    

<br>
<div class="group " style="margin-left:10%;margin-bottom:10px;">
<button type="submit" style="border: none;
outline: none;
font-family: 'Open Sans', sans-serif; padding-left: 10%;
padding-right: 10%;" class="bot_comprar icon ">CREAR CUENTA</button>
</div>
<br>
 </center>
 
 </fieldset>


</div>


</div>

</form>
</div>


<!-- ...hasta aqui -->
</div>

</div>

</div>