
<div style="clear:both;"></div>
<div class="grid-container">

<div class="base col-88">
<div class="col-86 rowfixed" >
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>

<p class="_txt-base _light _margin-27-ud">

<center><img class=""  style="width: 50%;margin: 25px;" src="img/mercado-pago-logo.png" alt="mp"> </center>

<center><h3 class="_color-titulo _no-marg">ESCANEÁ Y PAGÁ</h3></center><br>
  
  <center><img src="img/qr_mp.jpg" alt="" style="width: 50%;padding: 0px;"></center>

<center><h3 class="_color-titulo _no-marg">PAGÁ DESDE LA COMODIDAD <br>DE TU HOGAR</h3></center><br>
<center><strong>Generá tu cupón de pago</strong></center>
 <br><br>



<form class="form-inline" role="form" id="frmsearch" name="frmsearch" action="deuda.php" method="POST">
  <input type="hidden" name="sAction" id="sAction" value="search"/>
    
    
 <div class="form__group field">
  <input type="text" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail" placeholder="Apellido" required="required" autofocus value="{sUserBillingLastName}" name="userBillingLastName" id="userBillingLastName" required />
  
</div>

  

 <div class="form__group field">
  <input type="text" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail" placeholder="Nombre" required="required" autofocus value="{sUserBillingName}" name="userBillingName" id="userBillingName" required />

</div>

  
    
    
 <div class="form__group field">
  <input type="number" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail" placeholder="N&uacute;mero de Documento" required="required" autofocus value="{sUserBillingSerial}" name="userBillingSerial" id="userBillingSerial" required />
  
</div>



 <div class="form__group field">
  <input type="email" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail" placeholder="Email" required="required"  value="{sUserBillingEmail}" name="userBillingEmail" id="userBillingEmail" required />
 
</div>


 <div class="form__group field">
  <input type="number" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail" placeholder="Monto a Abonar" required="required"  value="{sUserBillingAmount}" name="userBillingAmount" id="userBillingAmount" required />
  
</div>


  
  <hr>
  <br>
   <button type="submit" class="bot_comprar icon " class="button_mp">Generar</button> 
</form>
  <br>
 
<div style="/*margin-left: 280px;margin-top: -55px;*/"> 
  {sMercadoPagoButton}
</div>  
  <div id="mp">
 <br><br>
 {sResultadoImg}
 {sResultado}
  </div>
</div>
</p>
  
</div>


<!-- ...hasta aqui -->
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>
	
	



