.misProductos.swiper {
    width: 80vw;
    height: 486px;
    padding: 0 9px;
    margin-left: auto;
    margin-right: auto;
}

.misProductos .swiper-slide {
    height: 459px;
    box-sizing: content-box;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: end;
   
}

.misProductos .swiper-slide a {
    line-height: normal;
    text-decoration: none;
}

.misProductos .swiper-slide img {
    display: block;
    width: 216px;
    height: 216px;
    object-fit: cover;
}