<!-- seccion whatsapp /MP -->
<section class="_col-1 _marg-27">
  <div class="_row _col-2 _rounded _card-promo _card-style _marg-27">
    <div class="_row _col-1 _center _txt-center" style="color: #8A8A8A;">
      <h5 class="_no-marg">DUDAS? COMUNICATE CON NOSOTROS</h5>
      <a href="https://api.whatsapp.com/send?phone=5492235056093&amp;text=Contacto%20desde%20la%20web!!" target="_blank"><img class="_marg-27" src="img/whatsapp-logo.png" alt="whatsapp" style="height: 7vh;"></a>
    </div>
    <div class="_row _col-1 _padd-9 ch"></div>
    <div class="_row _col-1 _center _txt-center" style="color: #8A8A8A;">
      <h5 class="_no-marg">TODOS LOS MEDIOS DE PAGO CON</h5>
      <a href="deuda.php"><img class="_marg-27" src="img/mp-logo.png" alt="mercadopago" style="height: 6vh;"></a>
    </div>
  </div>
</section>

<!-- seccion whatsapp /MP -->
<section class="_row _col-1 _center _rowmargin _txt-center">
  <h2 class="_normal _color-titulo"> <i class="fas fa-rocket"></i> <strong>PREPARADO? </strong><br> NUESTROS IMPERDIBLES DEL MES</h2>
</section>

<!-- seccion ofertas slide secundarias  -->
<!-- MODULO_PRODUCTO -->


<section class="_col-1 _marg-27">
  <div class="swiper misProductos">
    <div class="swiper-wrapper">
        
<!--BeginProductos-->
      <div class="swiper-slide _rounded _card-promo _card-style _card-oferta">
        <div class="_row _col-1 _center">
          <h5 class="_txt-base1 _marg-9"> <strong><i class="far fa-grin-beam"></i> {sPlan}!</strong></h5>
          <div class="_marg-27-bt">
            <a href="products_simple.php?art={iIdEncrip}" class="_row _center" target="_blank" rel="noopener noreferrer">
              <figure class="_no-marg" style="width: 216px; height: 216px; ">
                  <img src="img_prod/{sFile}" alt="" class="_no-marg">
              </figure>
              <h5 class="_marg-9 _color-titulo _peronista">{sBrand}<br>{sName}</h5>
              <p class="_marg-9 _color-titulo">{sModel}</p>
            </a>
			
			    <div class="box_mas_comprar">

<!--<a href="#openOffer{iId}">ver más...</a>-->
<a id="add" href="products_simple.php?art={iIdEncrip}" class="bot_comprar icon item_add">VER DESTACADO</a>

  </div> 
          </div>
		  
		  
		  
        </div>
      </div>            
<!--EndProductos-->

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<!-- FIN MODULO_PRODUCTO -->
<!-- seccion ofertas slide secundarias  -->


<!-- MODULO_PRODUCTO -->

<!-- seccion ofertas slide secundarias  -->

<!-- seccion banner credito  -->
  <section class="_col-1 _marg-27">
    <a href="credit.php" target="_blank" rel="noopener noreferrer">
      <div class="_row _col-1 _rounded _card-promo _center _card-style" style="background-color:#FEE101;height: 108px;">
        <img class="gd" src="img/boston-cred.png">
        <img class="ch _rounded" src="img/boston-mobile.png">
      </div>
    </a>
  </section>
<!-- seccion banner credito  -->
</main>


