
<div style="clear:both;"></div>



<div class="base col-88">
<div class="col-86 rowfixed" >
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<center><h1 class="_color-titulo _no-marg">OFERTAS DEL MES</h1></center><br>
<p >
 
 
<br><br>
</p>
  
</div>


<!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/534558" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe><!--BeginFotos-->
{sFotos}
 <!--EndFotos-->
							 

<!-- ...hasta aqui -->
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>