
<div class="base col-88">
<div class="col-86 rowfixed exito">
<h2>Página no encontrada.</h2>
<img src="img/error.svg">
<p>Parece que la página que buscas no existe o se ha dado de baja.<br>
Gracias por darnos tu confianza!</p>
<img src="img/logo_inv.svg">
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>