<div style="clear:both;"></div>
<div class="_row _col-1 _center _marg-27">
    </div>
    <footer class="_row _col-4 _logo-footer rowmargin" style="margin-bottom: 54px;">
        <div>
            <div>
                <img src="img/iso.png" alt="">
                    <h4 class="_no-marg _color-titulo">Pascual Gorrassi S.A.</h4>
                    Red de Comercios Hogarnet
                    <br>
                        <h4 class="_color-titulo">Consultas Administrativas
                        </h4>
                        <a href="mailto:administracion@pascualgorrassi.com.ar" class="_color-titulo"> administracion@pascualgorrassi.com.ar
                        </a>
                    </div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div class="_color-titulo">
                        <h4>Dirección y Teléfono</h4>
                        Talcahuano 1756
                        <br>
                        7600 Mar del Plata
                        <br>
                        Teléfono:
                        <a href="tel:+5402234821607" class="_color-titulo">0223 482-1607</a>
                        <br>
                        <div class="_row _col-5 _marg-9 _color-titulo">
                          <a
                            href="https://www.facebook.com/pascualgorrassi/?ref=ts&fref=ts"
                            target="_blank"
                            class="_color-titulo">
                            <h1 class="_no-marg">
                                <i class="fab fa-facebook-square"></i>
                            </h1>
                        </a>
                        <a
                          href="https://www.instagram.com/pascualgorrassi/?hl=es"
                          class="_color-titulo"
                          target="_blank">
                          <h1 class="_no-marg">
                              <i class="fab fa-instagram"></i>
                          </h1>
                        </a>
                       </div>
                      </div>
                  </div>
                  <div>
                    <div class="_color-titulo">
                      <h4>Atención al Cliente</h4>                        
                          <!--<a href="javascript:void(0)" class="_color-titulo">Atención al Cliente</a>
                          <br>-->
                          <a href="service.php" class="_color-titulo">Servicio Técnico</a>
                          <br>
                          <a href="manuals.php" class="_color-titulo">Manuales</a>
                          <br>
                          <a href="terms.php" class="_color-titulo">Términos y Condiciones</a>
                          <br>
                          <a href="contact.php" class="_color-titulo">Contacto</a>
                    </div>
                    <div class="_color-titulo">
                      <h4>Gestión Web</h4>
                        <a href="login.php" class="_color-titulo">Accesso Privado</a>                                                  
                    </div>
                 </div>
                <div></div>
      </footer>

      <!-- widget whatsapp -->
      <a href="https://api.whatsapp.com/send?phone=5492235056093&amp;text=Hola!,Me%20contacto%20del%20sitio%20web.Necesito%20consultar%20por%20un%20producto."
          style="
          position: fixed;
          width: 60px;
          height: 60px;
          bottom: 10px;
          right: 20px;
          background-color: #25d366;
          color: #FFF;
          border-radius: 50px;
          text-align: center;
          font-size: 38px;
          z-index: 100;
          "
          target="_blank">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24" style="margin-top: 16px;" >
              <path
                  d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"></path>
          </svg>
      </a>
      <!-- widget whatsapp -->
      <!-- seccion footer -->
      <!-- menu laterales -->
      <!-- menu main lateral -->
      <div class="cd-panel cd-panel--from-right js-cd-panel-main">
        <div class="cd-panel__container _bkg-base-w rulo">
          <div class="_col-6">
              <a href="#0" class="cd-panel__close js-cd-close">Close</a>
          </div>
          <div class="cd-panel__content _row _center">

              <div class="_menu_interior _row _txt-center">
                  <a href="index.php" class="_no-deco">
                      <img src="img/pg_nuevo.png" alt="" style="width: 50%;"></a>
                      <h3>
                          <a class="abre_modal _normal _txt-blanco" href=""></a>
                      </h3>

                      <div class="_col-menu">
                          <div class="">
                              <div class="container">
                                  <div class="_row _col-1">
                                      <div class="" style="float: left;/*border-radius: 10px 100px / 120px*/;padding: 10px;/*background-color: #fafafa;*/">
                                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                                              <a href="index.php" tabindex="1" class="fuentemenu">Inicio</a>
                                          </span>
                                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                                              <a href="about.php" tabindex="2" class="fuentemenu">Nosotros</a>
                                          </span>
                                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                                              <a href="offers.php" tabindex="4" class="fuentemenu">Ofertas del Mes</a>
                                          </span>
                                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                                              <a href="service.php" tabindex="6" class="fuentemenu">Atención Post Venta</a>
                                          </span>
                                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                                              <a href="credit.php" tabindex="7" class="fuentemenu">Créditos Personales</a>
                                          </span>
                                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                                              <a href="checkout.php" tabindex="8" class="fuentemenu">Tu Carrito</a>
                                          </span>
                                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                                              <a
                                                  href="contact.php"
                                                  tabindex="9"
                                                  class="fuentemenu"
                                                  style="padding-right: 20px!important;">Contacto</a>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
              <!-- cd-panel__content -->
        </div>
          <!-- cd-panel__container -->
      </div>

      <!-- menu usermenu lateral -->
      <div class="cd-panel cd-panel--from-right js-cd-panel-usermenu">
        <div class="cd-panel__container _bkg-base-w rulo">
          <div class="_col-6">
            <a href="#0" class="cd-panel__close js-cd-close">Close</a>
          </div>
          <div class="cd-panel__content _row _center">
            <div class="_menu_interior _row _txt-center">
              <a href="index.php" class="_no-deco">
                <img src="img/users-checked-user-icon.png" alt="" style="width: 50%;"></a>
                <h3>
                    <a class="abre_modal _normal _txt-blanco" href=""></a>
                </h3>
                <div class="_col-menu">
                  <div class="">
                    <div class="container">
                      <div class="_row _col-1">
                        <div class="" style="float: left;/*border-radius: 10px 100px / 120px*/;padding: 10px;/*background-color: #fafafa;*/">
                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                              <a  tabindex="1" class="fuentemenu">Usuario: {sSysUserUser}</a>
                          </span>
                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                              <a  tabindex="2" class="fuentemenu">Nombre : {sSysUserName}</a>
                          </span>
                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                              <a  tabindex="4" class="fuentemenu">Dirección: {sSysUserAddress}</a>
                          </span>
                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                              <a  tabindex="6" class="fuentemenu">Telefono: {sSysUserTel}</a>
                          </span>
                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                              <a  tabindex="7" class="fuentemenu">Email: {sSysUserEmail}</a>
                          </span>
                          <span class="_menuP-base-hover" style="padding: 15px!important;border-bottom: 1px solid #a7a7a7;">
                              <a href="logout.php" tabindex="8" class="fuentemenu">Cerrar sesión</a>
                          </span>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
            <!-- cd-panel__content -->
        </div>
          <!-- cd-panel__container -->
      </div>
      <!-- menu laterales -->
      <!-- <a class="_rounded bot-arrow _hide _color-titulo gd" href="#body">
        <h3 class="_light _marg-27">↥</h3></a> -->


      <!-- Initialize Swiper -->
      <script src="js/swiper-bundle.min.js"></script>

      <script src="js/sliders.js"></script>
      <script src="js/panel.min.js"></script>
      <script src="js/scripts.min.js"></script>  								  								
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.js"></script>											
      <script src="js/scripts.js"></script>
          <!-- touchSwipe library -->
      <script src="js/jquery.touchSwipe.min.js"></script>
        <!-- Slider Javascript file -->
      <script src="js/slideandswipe.js"></script>
											
    </body>
</html>