
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
						
			<ul class="breadcrumb">
			<li>
					<i class="icon-home"></i>
					<a href="cpanel_user.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="departamentos.php?depto={iId}">Volver</a>
				</li>
			</ul>

			<div class="row-fluid">
				<div class="span7">
					
			
					<h2>Reserva de amenities</h2>
					<!--BeginAMENITIES-->
				         <a class="quick-button span6"   href="reservasUser.php?depto={iId}&amenitie={iIdAmenitie}" >
                                         <i class="glyphicons-icon cutlery"></i><p>{sAmenitie}</p></a>
					<!--EndAMENITIES-->
					<div class="clearfix"></div>
			     </div>
				
  	                        <div class="span5 noMarginLeft">
				
                                <div class="box-content" >
						
				<table class="table">
						  <thead>
							  <h2>Mis Reservas confirmadas</h2>
							  <tr>
									  <th>Amenitie</th>
									  <th>Fecha</th>
									  <th>Cancelar</th>	
							  </tr>
						  </thead>
						  <tbody>
						   <!--BeginTURNOSAMENITIES-->
								<tr id="{sIdTurno}">
									<td class="center">{sAmenitie}</td>
									<td class="center">{sFechaTurno} {sTurno}</td>
									<td class="center">
									<a class="btn btn-danger" style="{sCancelar}" href="javascript:;" onclick="eliminarUser('{iId}-{sIdTurno}','deleteTurno');">
									<i class="halflings-icon white trash"></i> 
									</a>
									
								</td>                                   
								</tr>
								<!--EndTURNOSAMENITIES-->
						  </tbody>
					</table>
					<hr>
						<table class="table">
						  <thead>
							  <h2>Mis reservas en lista de espera</h2>
							  <tr>
									  <th>Amenitie</th>
									  <th>Fecha</th>
									  <th>Cancelar</th>	
							  </tr>
						  </thead>
						  <tbody>
						   <!--BeginTURNOSAMENITIESR-->
								<tr id="{sIdTurnoR}">
									<td class="center">{sAmenitieR}</td>
									<td class="center">{sFechaTurnoR} {sTurnoR}</td>
									<td class="center">
									<a class="btn btn-danger" style="{sCancelarR}" href="javascript:;" onclick="eliminarUser('{iId}-{sIdTurnoR}','deleteTurnoR');">
									<i class="halflings-icon white trash"></i> 
									</a>
									
								</td>                                   
								</tr>
								<!--EndTURNOSAMENITIESR-->
						  </tbody>
					</table>
						
					</div>
					
					<div class="clearfix"></div>	
			
				
				</div>	
			</div>

	</div><!--/.fluid-container-->
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	
	
	<div class="clearfix"></div>
	

	
	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
