
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
						
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="cpanel_user.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="departamentos.php?depto={iId}">{sNombreUnidad}</a></li>
			</ul>

			<div class="row-fluid">
				
				<!--desde-->
				<div class="row-fluid">	
				
	<div class="span7">

				<a class="quick-button grey span2" href="camarasUser.php?depto={iId}">
					<i class="icon-facetime-video"></i>
					<p>Camaras</p>
				</a>

				<a class="quick-button grey span2" href="informacionUser.php?depto={iId}">
					<i class="icon-book"></i>
					<p>Informacion</p>
				</a>
				<a class="quick-button grey span2" href="reclamosUser.php?depto={iId}">
					<i class="icon-envelope"></i>
					<p>Contacto</p>
					<span class="notification red">{iReclamos}</span>
				</a>
				<!--<a class="quick-button grey span2" href="facturasUser.php?depto={iId}">
					<i class="icon-list-alt"></i>
					<p>Expensas</p>
				</a>-->
				<a class="quick-button grey span2" href="amenitiesUser.php?depto={iId}">
					<i class="icon-calendar"></i>
					<p>Reservas</p>
					<span class="notification red">{iReservasAmenities}</span>
				</a>

				<a class="quick-button grey span2" href="climaUser.php?depto={iId}">
					<i class="wi wi-day-sunny"></i>
					<p>Clima</p>
				</a>

				</div>
				
				
					<div class="span5 noMarginLeft">
					
					<div class="dark" style="{sDisplayNOVEDADES}">
					
					<h1>Novedades</h1>
					
					<div class="timeline">
						
						<!--BeginNOVEDADES-->
					    <div class="timeslot {izq}">
					    	
							<div class="task">
					    		<span>
									<span class="type"><strong>{sNoveEdicio}</strong></span>
									<span class="details">
										{sNoveDescripcion}
									</span>
									<span>
										<strong>Fecha</strong>
										<span class="remaining">
											{sNoveFecha}
										</span>	
									</span> 
								</span>
								<div class="arrow"></div>
							</div>							
							<div class="icon">
								<i class="icon-bell"></i>
							</div>
							<div class="time">
								{sNoveTiempo}
							</div>	
								
					    </div>
					
						
						<!--EndNOVEDADES-->
				<div class="clearfix"></div>
								
			</div><!--/row-->
				<!--hasta-->
				
				
				
						
			</div>
			
       

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	
	</div>
	
	<div class="clearfix"></div>
	

	
	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
