﻿	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
		
	<ul class="breadcrumb">
			<li>
					<i class="icon-home"></i>
					<a href="cpanel_admin.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="historyUser.php">Historico</a>
				</li>
			</ul>
			
					<div class="row-fluid sortable">	
		
	
	</div><!--/.fluid-container-->
	
			<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Servicios Disponibles</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>ORDEN</th>
									  <th>FECHA</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>TELEFONO</th>
									  <th>MARCA</th>
									  <!--<th>SERIE</th>-->
									  <th>ESTADO</th>
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlock-->
								 <!--BeginResultsBlock-->
								<tr id="{iId}">
									
									<td class="center">{iId}</td>
									<td class="center">{sFechaB}</td>
									<td class="center">{sApellido}</td>
									<td class="center">{sNombre}</td>
									<td class="center">{sTelefono}</td>
									<td class="center">{sMarca}</td>
									<!--<td class="center">{sSerie}</td>-->
									<td class="center">{sEstado}</td>
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showServiceDataUser('{iId}');">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteServiceUser');">
									<i class="halflings-icon white trash"></i> 
									</a>
								</td>                                   
								</tr>
								<!--EndResultsBlock-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Editar Servicio</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="serviceAdmin.php" method="POST">
							<input type="hidden" name="sAction" value="editService"/>
							
							
							<fieldset>
							
							
							<div class="control-group">
								<label class="control-label" for="focusedInput">ORDEN </label>
								<div class="controls">
								  <input class="input focused" required id="iEditID" name="iEditID" type="text" placeholder="Ingrese el número de orden" value="">
								 </div>
								
							  </div>
							 
							  <div class="control-group">
								<label class="control-label" for="focusedInput">APELLIDO - NOMBRE</label>
								<div class="controls">
								  <input class="input focused" required placeholder="Ingrese el Apellido" id="editApellido" name="editApellido" type="text" value="">
								  <input class="input focused" required id="editNombre" name="editNombre" type="text" placeholder="Ingrese el nombre" value="">
								</div>
							  </div>
							  
			
							  <div class="control-group">
								<label class="control-label" for="focusedInput">DNI - TELEFONO</label>
								<div class="controls">
								  <input class="inputfocused" required placeholder="Ingrese el DNI" id="editDNI" name="editDNI" type="text" value="">
								  <input class="input focused" required placeholder="Ingrese el teléfono" id="editTelefono" name="editTelefono" type="text" value="">
								</div>
							  </div>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CREDITO - FACTURA</label>
								<div class="controls">
								  <input class="input-xlarge focused"  placeholder="Ingrese el Crédito" id="editCredito" name="editCredito" type="text" value="">
								<input class="input-xlarge focused" required placeholder="Ingrese la factura" id="editFactura" name="editFactura" type="text" value="">
								
								</div>
							  </div>
							   <div class="control-group">
							   
							   
								<label class="control-label" for="focusedInput">CELULAR - EMAIL</label>
								<div class="controls">
								  <input class="input focused" required placeholder="Ingrese el celular" id="editCelular" name="editCelular" type="text" value="">
								
								  <input class="input-xlarge focused"  placeholder="Ingrese un email" id="editEmail" name="editEmail" type="text" value="">
								</div>
							  </div>
							 
							  <hr>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">MARCA - ARTICULO</label>
								<div class="controls">
								  <select required id="editMarca" name="editMarca" >
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarca}</option>
									<!--EndMarcasBlock-->
									
								  </select>
								<input class="input-xlarge focused" required placeholder="Ingrese el artículo" id="editArticulo" name="editArticulo" type="text" value="">
								
								</div>
							  </div>
							  
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">MODELO - SERIE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el modelo" id="editModelo" name="editModelo" type="text" value="">
								<input class="input-xlarge focused"  id="editSerie" name="editSerie" placeholder="Ingrese el n° de serie" type="text" value="">
								
								</div>
							  </div>
							   
							   
							    <div class="control-group">
								<label class="control-label" for="focusedInput">FECHA COMPRA - ACCESORIOS</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="editFecha" name="editFecha" placeholder="Ingrese la fecha" type="date" value="">
								<input class="input-xlarge focused"  id="editAcc" name="editAcc" placeholder="Ingrese accesorios" type="text" value="">
								
								</div>
							  </div>
							  
							
							 
							    <div class="control-group">
							  <label class="control-label" for="textarea2">DEFECTO - OBSERVACIONES</label>
							  <div class="controls">
								<textarea  name="editProblema" placeholder="Ingrese el defecto" rows="4" cols="70" id="editProblema" value=""></textarea>
							  <textarea  name="editObservaciones" placeholder="Ingrese las observaciones" rows="4" cols="70" id="editObservaciones" value=""></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
							
							 <div class="control-group">
								<label class="control-label" for="focusedInput">RECIBE - FECHA PROMESA</label>
								<div class="controls">
							
								  <input class="input-xlarge focused" required id="editRecibe" name="editRecibe" placeholder="Ingrese quien lo recibe" type="text" value="">
								<input class="input-xlarge focused"  id="editFechaPromesa" name="editFechaPromesa" placeholder="Ingrese la fecha" type="date" value="">
								
								</div>
							  </div>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
	
				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
			<button type="submit" class="btn btn-primary">Guardar</button>
			<input type="button" class="btn btn-warning"      btn btn-block btn-success btn-lg onclick="window.open('orders.php?id='+iEditID.value, '_blank');" value="Copia Orden">			
								
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->


	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->