<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="cpanel_user.php">Pascual Gorrassi Gestion Usuario</a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						
						<!-- end: Message Dropdown -->
					
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> {sSysUserName}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>Datos del usuario</span>
								</li>
								<!--<li><a href="profile.php"><i class="halflings-icon user"></i> Perfil</a></li>-->
								<li><a href="logout.php"><i class="halflings-icon off"></i> Salir</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="cpanel_security.php"><i class="icon-home"></i><span class="hidden-tablet"> Inicio</span></a></li>
						<li><a href="newServiceSegurity.php"><i class="icon-book"></i><span class="hidden-tablet"> Nuevo Servicio</span></a></li>
						<li><a href="nextUserSe.php"><i class="icon-book"></i><span class="hidden-tablet"> Seguimiento</span></a></li>
						<!--<li><a href="historyUser.php"><i class="icon-envelope"></i><span class="hidden-tablet"> Historico</span></a></li>-->
						<!--<li><a href="productsUserSe.php"><i class="icon-home"></i><span class="hidden-tablet"> Productos</span></a></li>-->
						
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
