<link href="prueba/app.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/bootstrap.js"></script>
<script src="js/functions.js"></script>




<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
		
			<!-- start: Content -->
			<div id="content" class="span10">
						
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="cpanel_user.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<a href="amenitiesUser.php?depto={iId}">Volver al Amenitie</a>
			</ul>

			<div class="row-fluid sortable">
		<!--desdes-->
		
<div class="row-fluid">

<h1>{sNombreAmenitie} </h1> 
<div class="alert alert-success" role="alert">{sResultado}</div>

<div class="span7">

<table class="table" >
						  <thead>
							  <tr>
									  <th>Fecha</th>
									  <th>Estado</th>
									  <th></th>
							  </tr>
						  </thead>

						  <tbody>

						 <!--BeginCALENDAR-->
								<tr id="{sDay}">
									<td class="center">
									     <a data-toggle="modal" data-target="#myModal2" onclick="showTurnos('{sDay}','{sMonth_number}','{sYear_number}','{iAmenitie}');">{sDayName} {sDay}/{sMonth_number}</a>
									</td>
									<td class="center" ><h4>{sDescription}</h4></td>
									<td class="center">
									     <a class="{sNombreBoton}"  data-toggle="modal" data-target="#myModal" onclick="esta('{sDay}','{sMonth_number}','{sYear_number}','{iAmenitie}','{iId}');">{sNombreReserva}</a>
									</td>
								</tr>
						 <!--EndCALENDAR-->
							

							</tr>
						  </tbody>
					  </table> 
					
					<div class="clearfix"></div>		
					
				</div>



								




</div>
<!--hasta-->

<!-- Button trigger modal -->


<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Reservas</h3>
		</div>
		
		<div class="modal-body">
			<form  action="registrarTurnos.php" method="GET">
			<input type="hidden" name="sAction" value="newReserva"/>
			<input type="hidden" name="iID" value="{iId}-0"/>
			<input type="hidden" name="newIdAmenitie" value="{iAmenitie}"/>
							
							
			<fieldset>
					
					
				<div class="control-group">
								<label class="control-label" for="focusedInput">FECHA</label>
					<div class="controls">
								  <input class="input-xlarge focused"  id="newFecha" name="newFecha" type="text" value="">
					</div>
				</div>
							  
	  
						<div class="control-group" >
								<label class="control-label" for="disponibilidad">DISPONIBILIDAD</label>
								<div class="controls" >
								  <select   required="true" id="disponibilidad" name="disponibilidad" >
	 <option data-rel="chosen"></option>
								  </select>
								 
								</div>
						</div>
							   
				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
			<button type="submit" class="btn btn-primary">Guardar</button>
								
								
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>




<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
   
      <div class="modal-body">
<table class="table">
						  
						  <tbody>
						   <!--BeginTURNOSAMENITIES-->
								<tr id="reservasTurno"   name="reservasTurno">
								</tr>
							<!--EndTURNOSAMENITIES-->
							
							</tr>
						  </tbody>
					  </table> 	  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>








	
				<div class="clearfix"></div>
				
				
			</div><!--/row-->
		

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		
		

	
	<div class="clearfix"></div>
	

	
	
	
	
	
	
		<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
	
