<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
	</div>
</noscript>
<!--  agregado submenu matias-->
			
<!--<div class="row-fluid">
			
<div class="row-fluid submenu" style="background: #d2d2d2;line-height: 3.4;margin-left: 14.422% !important;">
	
		<ul><li>
			<a href="cpanel_admin.php">item1</a> 
			</li>
			<li>
				<a href="productsAdmin.php">item2</a>
			</li>
		</ul>
</div>

</div>-->
<!--  agregado submenu matias-->

			<!-- start: Content -->
<div id="content" class="span10">
	<ul class="breadcrumb" class="row-fluid submenu">
		<li>		
			<a href="marcasAdmin.php">Marcas</a> 
			<i class="icon-angle-right"></i>
		</li>
		<li>			
			<a href="productsAdmin.php">Productos</a>
			<i class="icon-angle-right"></i>
		</li>
	
		<li>			
			<a href="condicionesAdmin.php">Condición de Venta</a>
		</li>
	</ul>

	<div class="row-fluid sortable">	
		
		<div class="box span6">
			<div class="box-header">
				<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Nueva Condición</h2>
				<div class="box-icon">
					
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
					<form class="form-horizontal" enctype="multipart/form-data" action="condicionesAdmin.php" method="POST">
					<input type="hidden" name="sAction" value="newCondicion"/>
					<fieldset>
					
					
					  <div class="control-group">
						<label class="control-label" for="focusedInput">CUOTAS</label>
						<div class="controls">
						  <input class="input-xlarge focused" required id="newCuota" name="newCuota" type="text" placeholder="Cantidad Cuotas" value="">
						</div>
					  </div>
					

					  <div class="control-group">
						<label class="control-label" for="focusedInput">DESCRIPCION</label>
						<div class="controls">
						  <input class="input-xlarge focused" required id="newName" name="newName" type="text" placeholder="Ingrese la Descripción" value="">
						</div>
					  </div>
					  
					  
					  
					   <div class="control-group">
						<label class="control-label" for="focusedInput">REC./BONIF</label>
						<div class="controls">
						  <input class="input-xlarge focused" required id="newRec" name="newRec" type="text" placeholder="Ingrese la Rec." value="">
						</div>
					  </div>
					  
					     <div class="control-group">
						<label class="control-label" >VISIBLE</label>
						<div class="controls">
						  <select  name="newVisible">
							
							<option value=''>Selecione una opción</option>
							<option value='1'>Si</option>
							<option value='0'>No</option>
							
						  </select>
						</div>
					  </div>
					  
					  
					  
					 <div class="alert alert-error" style="{sDisplayError}">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Error!</strong> Algo salio mal o condición duplicada, intente de nuevo.
				</div>
				<div class="alert alert-success" style="{sDisplayOK}">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Felicitaciones!</strong> {sResult}
				</div>
	
					  <div class="form-actions">
						<button type="submit" class="btn btn-primary">Guardar</button>
						<button type="reset" class="btn" >Cancelar</button>
						
					  </div>
					</fieldset>
				  </form>
		</div><!--/span-->
	
		</div><!--/row-->
			
	</div>

	<!--/.fluid-container-->
	
		<div class="box">
			<div class="box-header">
				<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Condiciones Disponibles</h2>
				<div class="box-icon">
					
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
		 
	   <table class="table table-striped table-bordered bootstrap-datatable datatable">
				  <thead>
					  <tr>						 
							  <!--<th>ID</th>-->
							   <th>CUOTAS</th>
							  <th>DESCRIPCION</th>
							  <th>REC./BONIF</th>
							  <th>VISIBLE</th>							  				
							  <th>VER</th>	
					  </tr>
				  </thead>   
				  <tbody>
				   <!--BeginResultsBlock-->
						 <!--BeginResultsBlock-->
						<tr id="{iId}">
							<!--<td class="center">{iId}</td>-->
							<td class="center">{sCuota}</td>
							<td class="center">{sName}</td>
							
							<td class="center">{sRec}</td>
							<td class="center">{sVisible}</td>
							
							

							<td class="center">
							<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showCondicionData('{iId}');">
							<i class="halflings-icon white zoom-in"></i>  
							</a>
							<!--<a class="btn btn-info" href="#">
							<i class="halflings-icon white edit"></i>  
							</a>-->
							<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteCondicion');">
							<i class="halflings-icon white trash"></i> 
							</a>
						</td>                                   
						</tr>
						<!--EndResultsBlock-->
					

					</tr>
				  </tbody>
			  </table> 
	   
			</div>
		</div><!--/span-->
	
		<!-- end: Content -->

  </div><!--/#content.span10-->
	</div><!--/fluid-row-->
	
	<!--modal-->	
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Editar Condicion</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="condicionesAdmin.php" method="POST">
				<input type="hidden" name="sAction" value="editCondicion"/>
				<input type="hidden" id="iEditID" name="iEditID" value=""/>
							
				<fieldset>							
				  <div class="control-group">
						<label class="control-label" for="focusedInput">CUOTAS</label>
						<div class="controls">
						  <input class="input-xlarge focused" required id="editCuota" name="editCuota" type="text" placeholder="Cantidad Cuotas" value="">
						</div>
				  </div>
				  				  
				  <div class="control-group">
						<label class="control-label" for="focusedInput">DESCRIPCION</label>
						<div class="controls">
						  <input class="input-xlarge focused" required id="editName" name="editName" type="text" placeholder="Ingrese la Descripción" value="">
						</div>
				  </div>
				  				  				  
				  <div class="control-group">
						<label class="control-label" for="focusedInput">REC./BONIF</label>
						<div class="controls">
						  <input class="input-xlarge focused" required id="editRec" name="editRec" type="text" placeholder="Ingrese la Rec." value="">
						</div>
				  </div>
				  
				  <div class="control-group">
						<label class="control-label" >VISIBLE</label>
						<div class="controls">
						  <select  id="editVisible" name="editVisible">							
								<option value=''>Selecione una opción</option>
								<option value='1'>Si</option>
								<option value='0'>No</option>							
						  </select>
						</div>
				  </div>							   
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
					<button type="submit" class="btn btn-primary">Guardar</button>							
				</div>
							 
			</fieldset>
		 </form>
	</div>	
	</div>
	<!--modal-->	
	<div class="clearfix"></div>
	
	<!-- start: JavaScript-->

	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
	<script src="js/jquery-ui-1.10.0.custom.min.js"></script>

	<script src="js/jquery.ui.touch-punch.js"></script>

	<script src="js/modernizr.js"></script>

	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery.cookie.js"></script>

	<script src='js/fullcalendar.min.js'></script>

	<script src='js/jquery.dataTables.min.js'></script>

	<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
	<script src="js/jquery.chosen.min.js"></script>

	<script src="js/jquery.uniform.min.js"></script>
	
	<script src="js/jquery.cleditor.min.js"></script>

	<script src="js/jquery.noty.js"></script>

	<script src="js/jquery.elfinder.min.js"></script>

	<script src="js/jquery.raty.min.js"></script>

	<script src="js/jquery.iphone.toggle.js"></script>

	<script src="js/jquery.uploadify-3.1.min.js"></script>

	<script src="js/jquery.gritter.min.js"></script>

	<script src="js/jquery.imagesloaded.js"></script>

	<script src="js/jquery.masonry.min.js"></script>

	<script src="js/jquery.knob.modified.js"></script>

	<script src="js/jquery.sparkline.min.js"></script>

	<script src="js/counter.js"></script>

	<script src="js/retina.js"></script>

	<script src="js/custom.js"></script>
	<!-- end: JavaScript-->