<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<center><a class="brand" href="cpanel_admin.php"><span>Pascual Gorrassi S.A</span></a></center>
				<center>
					<span class="brand span8" style="color: #444!important;text-shadow: none!important;font-weight: 700;">Gestión web y Comercial</span>
				</center>			
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> {sSysUserNameRol}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<!--<li class="dropdown-menu-title">
 									<span>Account Settings</span>
								</li>-->
								
								<li><a href="logout.php"><i class="halflings-icon off"></i> Salir</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->

		<div class="container-fluid-full">

		<div class="row-fluid">
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="cpanel_admin.php"><i class="icon-home"></i><span class="hidden-tablet"> Inicio</span></a></li>
						
						<div class="circulo_pg"><h2>{sSysUserLetter}</h2></div>

						<center>
							<br><font color="white" size="2"> {sSysUserName} </font><br>
							<font color="white" size="1"> {sSysUserEmail} </font>
							<br>
						</center>	
						
						<li><a href="sliderAdmin.php"><i class="fa fa-globe"></i><span class="hidden-tablet"> Web</span></a></li>	
						<li><a href="serviceAdmin.php?New=sd"><i class="fa fa-wrench"></i><span class="hidden-tablet"> Post Venta</span></a></li>
						<li><a href="productsAdmin.php"><i class="fa fa-cube"></i><span class="hidden-tablet"> Stock</span></a></li>
						<li><a href="pedidosAdmin.php"><i class="fa fa-cube"></i><span class="hidden-tablet"> Pedidos Online</span></a></li>
						<li><a href="request.php"><i class="fa fa-users"></i><span class="hidden-tablet"> Clientes</span></a></li>
						{sUsuarioAdmin}
						<li><a href="parametros.php"><i class="fa fa-wrench"></i><span class="hidden-tablet"> Parametros</span></a></li>
						
						<li><a data-toggle="modal" data-target="#myModalLogs" onclick="showInformacionUserDataIn();"><i class="fa fa-users"></i><span class="hidden-tablet"> Logs</span></a></li>
						<!--<li><a href="reclamosHistorico.php"><i class="icon-envelope"></i><span class="hidden-tablet"> Mensajes atendidos</span></a></li>
						<li><a href="reservas.php"><i class="icon-calendar"></i><span class="hidden-tablet"> Reservas</span></a></li>
						<li><a href="reservasBloqueo.php"><i class="icon-calendar"></i><span class="hidden-tablet"> Bloqueo de fechas</span></a></li>
						<li><a href="novedades.php"><i class="icon-bell"></i><span class="hidden-tablet"> Novedades</span></a></li>
						<li><a href="parametros.php"><i class="icon-bell"></i><span class="hidden-tablet"> Parametros</span></a></li>
						<li><a href="informacion.php"><i class="icon-bell"></i><span class="hidden-tablet"> Información</span></a></li>
						<li><a href="listReservas.php"><i class="icon-bell"></i><span class="hidden-tablet"> Listado Reservas</span></a></li>-->
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->