	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			
			
			
			
			

		
			<!--  agregado submenu matias-->
			<!-- start: Content -->
			<div id="content" class="span10">
			
			
			<!--  agregado submenu matias-->
					<ul class="breadcrumb ">
			
				<li>
					<i class="icon-edit"></i>
					<a href="parametros.php">Parametros</a>
				</li>
			</ul>


					<div class="row-fluid sortable">


	<div class="box" >
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Parametros</h2>
					<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content" >
							<form class="form-horizontal" action="parametros.php" method="POST">
							<input type="hidden" name="iEditID" value="{iId}"/>
							<input type="hidden" name="sAction" value="edit"/>
							<fieldset>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">Nombre Empresa</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="newNombre" name="newNombre" type="text" placeholder="Ingrese el nombre" value="{sNombre}">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">Domicilio</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="newDomicilio" name="newDomicilio" placeholder="Ingrese el domicilio" type="text" value="{sDomicilio}">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">Telefono</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el telefono" id="newTelefono" name="newTelefono" type="text" value="{sTelefono}">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">Web</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese su web" id="newWeb" name="newWeb" type="text" value="{sWeb}">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">Email</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese su email" id="newEmail" name="newEmail" type="text" value="{sEmail}">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">VER PRECIOS S/N</label>
								<div class="controls">
								  <input class="input-xlarge focused" required  id="newPrecio" name="newPrecio" type="text" value="{sPrecios}">
								</div>
							  </div>
							
							
			<br>				  
						
							  
							   
							 <div class="alert alert-error" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Felicitaciones!</strong> {sResult}
						</div>
			
							  <div class="form-actions">
								<button type="submit" class="btn btn-primary">Guardar</button>
								<button type="reset" class="btn" >Cancelar</button>
								
							  </div>
							</fieldset>
						  </form>
				</div><!--/span-->
			
			</div><!--/row-->

{sValorMostrar}

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->
	
	
