	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
		
	<ul class="breadcrumb">
	
				<li>
					
					<a href="pedidosAdmin.php?New=sd">Pedidos Online</a>  
					<i class="icon-angle-right"></i>
				</li>
			<!--<li>
					
					<a href="serviceNextAdmin.php">Seguimiento</a>  
					<i class="icon-angle-right"></i>
				</li>
			
				<li>
					
					<a href="complaAdmin.php">Reclamos</a>
				</li>-->
				
				
			</ul>
			
			
			
			
			
			
			
					<div class="row-fluid sortable">	
					


	</div><!--/.fluid-container-->
	
	<div class="box" style="{sDisplaySd}">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Pedidos On line Pendientes</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>ORDEN</th>
									  <th>FECHA</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>TELEFONO</th>
									  <th>EMAIL</th>
									  <th>TOTAL</th>
									  <!--<th>PEDIDO</th>-->
									  <th>ESTADO</th>
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						 
								 <!--BeginResultsEsperandoBlock-->
								<tr id="{iId1}">
									
									<td class="center">{sNumero1}</td>
									<td class="center">{sFechaB1}</td>
									<td class="center">{sApellido1}</td>
									<td class="center">{sNombre1}</td>
									
									<td class="center">{sTelefono1}</td>
									<td class="center">{sEmail1}</td>
	
									<td class="center">$ {sDni1}</td>
									  <!--<td class="center">
																										<div class="">
  <span class="">{verPedido}</span>
</div>
									</td>-->
									<td class="center">{sEstado1}</td>
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showPedidoData('{iId1}');">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId1}','deletePedido');">
									<i class="halflings-icon white trash"></i> 
									</a>
								</td>                                   
								</tr>
								<!--EndResultsEsperandoBlock-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
				
				
				
				
				<div class="box" style="{sDisplaySd}">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Pedidos On line Finalizados</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>ORDEN</th>
									  <th>FECHA</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>TELEFONO</th>
									  <th>EMAIL</th>
									  <th>TOTAL</th>
									  <!--<th>PEDIDO</th>-->
									  <th>ESTADO</th>
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						  
								 <!--BeginResultsBlockEnds-->
								<tr id="{iId}">
									
									<td class="center">{sNumero}</td>
									<td class="center">{sFechaB}</td>
									<td class="center">{sApellido}</td>
									<td class="center">{sNombre}</td>
									
									<td class="center">{sTelefono}</td>
									<td class="center">{sEmail}</td>
	
									<td class="center">$ {sDni}</td>
									  <!--<td class="center">
																										<div class="">
  <span class="">{verPedido}</span>
</div>
									</td>-->
									<td class="center">{sEstado}</td>
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showPedidoData('{iId}');">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deletePedido');">
									<i class="halflings-icon white trash"></i> 
									</a>
								</td>                                   
								</tr>
								<!--EndResultsBlockEnds-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
				
				
				
				
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>PEDIDO</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="pedidosAdmin.php" method="POST">
							<input type="hidden" name="sAction" value="editService"/>
							<input type="hidden" id="iEditID" name="iEditID" type="text"/>
							
							
							<fieldset>
							
							
							<div class="control-group">
								<label class="control-label" for="focusedInput">PEDIDO</label>
								<div class="controls">
								  <input class="input focused" required id="iNumero" name="iNumero" disabled type="text" placeholder="Ingrese el número de orden" value="">
								  <input class="input focused" required id="sFechaB" name="sFechaB" disabled type="text" placeholder="Fecha Ingreso" value="">
								 </div>
								
							  </div>
							 
							<div class="control-group">
								<label class="control-label" for="focusedInput">APELLIDO - NOMBRE</label>
								<div class="controls">
								  <input class="input focused" disabled  placeholder="Ingrese el Apellido" id="editApellido" name="editApellido" type="text" value="">
								  <input class="input focused"  disabled  id="editNombre" name="editNombre" type="text" placeholder="Ingrese el nombre" value="">
								</div>
							  </div>
							  
			
							  <div class="control-group">
								<label class="control-label" for="focusedInput">TELEFONO</label>
								<div class="controls">
								   <input class="input focused"   disabled placeholder="Ingrese el teléfono" id="editTelefono" name="editTelefono" type="text" value="">
								</div>
							  </div>
							  
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">EMAIL</label>
								<div class="controls">
								  <input class="input-xlarge focused" disabled placeholder="Ingrese un email" id="editEmail" name="editEmail" type="text" value="">
								</div>
							  </div>
							  
							   <!--<div class="control-group">
								<label class="control-label" for="focusedInput">SE CONTACTO</label>
								<div class="controls">
								 <input class="input-xlarge focused"  id="editRecibe"  name="editRecibe" placeholder="Ingrese quien lo recibió" type="text" value="">
							
								</div>
							  </div>-->
							  
						

							  
							  
							
							 
							    <div class="control-group">
							  <label class="control-label" for="textarea2">DOMICILIO - CP - OBSERVACIONES</label>
							  <div class="controls">
								  <textarea  name="editObservaciones"  disabled placeholder="Ingrese las observaciones" rows="4" cols="70" id="editObservaciones" value=""></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
							   <div class="control-group">
							  <label class="control-label" for="textarea2">PEDIDO</label>
							  <div class="controls">
								  <textarea  name="editPedido"  disabled placeholder="Ingrese el Pedido" rows="4" cols="70" id="editPedido" value=""></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
								    <div class="control-group">
								<label class="control-label" for="focusedInput">TOTAL</label>
								<div class="controls">
								 <input class="input-xlarge focused" disabled id="editDNI"  name="editDNI" placeholder="Monto" type="text" value="">
							
								</div>
							  </div>
							 
							  <hr>
							
							
							
							 <div class="control-group">
								<label class="control-label" for="focusedInput">ESTADO</label>
								<div class="controls">
								<select required id="editStatus" name="editStatus" >
									
									<option value=''>Selecione un estado</option>
									<!--BeginEstadoBlock-->
									<option value='{iEstado}'>{sEstado}</option>
									<!--EndEstadoBlock-->
									
								  </select>
								 
								  <!--<input class="input-xlarge focused" required id="editRecibe" name="editRecibe" placeholder="Ingrese quien lo recibe" type="text" value="">-->
								</div>
							  </div>
							
							
							 <div class="control-group">
							  <label class="control-label" for="textarea2">NOTAS</label>
							  <div class="controls">
								<textarea  name="editComentarios"  placeholder="Comentarios Internos" rows="8" cols="200" id="editComentarios" value=""></textarea>
							 
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							

				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
			<input type="button" class="btn btn-warning"      btn btn-block btn-success btn-lg onclick="window.open('pedidoOnline.php?id='+iEditID.value, '_blank');" value="Ver Pedido">	
			<button type="submit" class="btn btn-primary">Guardar</button>
			<!--<input type="button" class="btn btn-warning"      btn btn-block btn-success btn-lg onclick="window.open('orders.php?id='+iEditID.value, '_blank');" value="Copia Orden">	
<input type="button" class="btn btn-warning"      btn btn-block btn-success btn-lg onclick="window.open('endOrders.php?id='+iEditID.value, '_blank');" value="Copia Entrega">				
			-->					
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->


	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->