<script type="text/javascript" src="includes/ckeditor/ckeditor.js"></script>
	
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			


			<!--<div class="row-fluid">
				
	<div class="row-fluid submenu" style="background: #d2d2d2;line-height: 3.4;margin-left: 14.422% !important;">
		
			<ul><li>
				<a href="cpanel_admin.php">item1</a> 
				</li>
				<li>
					<a href="productsAdmin.php">item2</a>
				</li>
			</ul>
	</div>

			</div>
			<!--  agregado submenu matias-->
			<!-- start: Content -->
			<div id="content" class="span10">
			
			<!--  agregado submenu matias-->
						<ul class="breadcrumb" class="row-fluid submenu">
			<li>
					
					<a href="marcasAdmin.php">Marcas</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="productsAdmin.php">Productos</a>
					<i class="icon-angle-right"></i>
				</li>
				
				<li>
					
					<a href="condicionesAdmin.php">Condición de Venta</a>
				</li>
			</ul>


					<div class="row-fluid sortable">	
			
		

			
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Nuevo Producto</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content" style="display: none;">
					
					
					
							<form class="form-horizontal" enctype="multipart/form-data" action="productsAdmin.php" method="POST">
							<input type="hidden" name="sAction" value="newInformacionUno"/>
							<fieldset>
							
							
							 <div class="control-group">
								<label class="control-label" >MARCA</label>
								<div class="controls">
								  <select required id="newMarca" name="newMarca" data-rel="chosen">
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarca}</option>
									<!--EndMarcasBlock-->
									
								  </select>
								</div>
							  </div>
							
							
							
							

							 <div class="control-group">
								<label class="control-label" for="focusedInput">ARTICULO</label>
								<div class="controls">
								  <input class="input-xlarge focused" maxlength="25" required id="newName" name="newName" type="text"  value="">
								</div>
							  </div>
							  
							  	 <div class="control-group">
								<label class="control-label" for="focusedInput">MODELO</label>
								<div class="controls">
								  <input class="input-xlarge focused" required maxlength="20" id="newModel" name="newModel" type="text"  value="">
								</div>
							  </div>
							  
							  
							  
							  
							   <div id="editor" class="control-group">
								<label class="control-label" for="focusedInput">DESCRIPCION</label>
								<div class="controls">
								<textarea  name="newDescription"  required id="newDescription"  autofocus placeholder="Descripción" rows="4" cols="70" id="textarea2"></textarea>
  
								</div>
							  </div>
							  
							  <script type="text/javascript">
CKEDITOR.replace ("newDescription");
</script>
							  
							   <div class="control-group">
							  <label class="control-label" for="focusedInput"> PRECIO CONTADO</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="newValue" name="newValue" type="text"  value="">
								</div>
							  </div>
							  
							  
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CODIGO DE BARRAS</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="newCodigoBarras" name="newCodigoBarras" type="text"  value="">
								</div>
							  </div>
							  
							  
							  
							  <!-- <div class="control-group">
								<label class="control-label" for="focusedInput">CANTIDAD CUOTAS</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="newCantidadCuotas" name="newCantidadCuotas" type="text"  value="">
								</div>
							  </div>
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">VALOR CUOTA</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="newValorCuota" name="newValorCuota" type="text"  value="">
								</div>
							  </div>
							  
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">PTF</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="newPtf" name="newPtf" type="text"  value="">
								</div>
							  </div>-->
							  	 <div class="control-group">
								<label class="control-label" >CONDICIONES</label>
								<div class="controls">
								  <select required id="newCondiciones" name="newCondiciones" data-rel="chosen">
									
									<option value=''>Selecione una condición</option>
									<!--BeginResultsBlockCon-->
									<option value='{sIdCon}'>{sNameCon}</option>
									<!--EndResultsBlockCon-->
									
								  </select>
								</div>
							  </div>
							
							  
							  
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">IMAGEN</label>
								<div class="controls">
								  <input class="input-xlarge focused" required name="fileUpload" id="newImg" accept="image/*" type="file"  value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">IMAGEN 1</label>
								<div class="controls">
								  <input class="input-xlarge focused" name="fileUpload1" id="newImg1" accept="image/*" type="file"  value="">
								</div>
							  </div>
							  <!-- <div class="control-group">
								<label class="control-label" for="focusedInput">IMAGEN 2</label>
								<div class="controls">
								  <input class="input-xlarge focused"  name="fileUpload2" id="newImg2" accept="image/*" type="file"  value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">IMAGEN 3</label>
								<div class="controls">
								  <input class="input-xlarge focused"  name="fileUpload3" id="newImg3" accept="image/*" type="file"  value="">
								</div>
							  </div>
							  -->
							  
							  
							   <div class="control-group">
								<label class="control-label" >CATEGORIA</label>
								<div class="controls">
								  <select required id="newCategory" name="newCategory" data-rel="chosen" onchange="getSubCategorias(this.value);">
									
									<option value=''>Selecione una categoria</option>
									<!--BeginCategoriasBlock-->
									<option value='{iCategory}'>{sCategory}</option>
									<!--EndCategoriasBlock-->
									
								  </select>
								</div>
							  </div>
							  

							  
							  
							    <div class="control-group">
								<label class="control-label" >SUBCATEGORIA</label>
								<div class="controls">
								  <select id="newSubCategory" required name="newSubCategory" >
								  </select>
								</div>
							  </div>
							  
							  
							  
							  
							  
							  
							  
							  
							   <div class="control-group">
								<label class="control-label" >PAGINA PRINCIPAL</label>
								<div class="controls">
								  <select  name="newOferta"data-rel="chosen">
									
									<option value=''>Selecione una opción</option>
									<option value='1'>Si</option>
									<option value='0'>No</option>
									
								  </select>
								</div>
							  </div>
							  
							  
							    <div class="control-group">
								<label class="control-label" >ENVIO</label>
								<div class="controls">
								  <select  name="newEnvio" data-rel="chosen">
									
									<option value=''>Selecione una opción</option>
									<option value='1'>Consultar Envio</option>
									<option value='0'>Envio Sin Cargo</option>
									
								  </select>
								</div>
							  </div>
							  
							  
							     <div class="control-group">
								<label class="control-label" for="focusedInput">CANTIDAD</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="newQuantity" name="newQuantity" type="text"  value="">
								</div>
							  </div>
							  
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">DESTACADO</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="newCuotas" name="newCuotas" type="text"  value="">
								</div>
							  </div>
							  
							  
					
							 <div class="alert alert-error" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Felicitaciones!</strong> {sResult}
						</div>
			
							  <div class="form-actions">
								<button type="submit" class="btn btn-primary">Guardar</button>
								<button type="reset" class="btn" >Cancelar</button>
								
							  </div>
							</fieldset>
						  </form>
				</div><!--/span-->
				

			
			</div><!--/row-->
			
					
				
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Carga de Nuevos Productos</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content" style="display: none;">
							<form class="form-horizontal" enctype="multipart/form-data" action="productsAdmin.php" method="POST">
							<input type="hidden" name="sAction" value="newInformacion"/>
							<fieldset>
							

							  <div class="control-group">
							  <label class="control-label" for="fileInput">Incluir Archivo</label>
							  <div class="controls">
								<input class="input-file uniform_on" required name="fileUpload" accept="application/vnd.ms-excel" id="newDescripcion" type="file">
							  </div>
							</div>  
							  
							  
					
							 <div class="alert alert-error" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Felicitaciones!</strong> {sResult}
						</div>
			
							  <div class="form-actions">
								<button type="submit" class="btn btn-primary">Guardar</button>
								<button type="reset" class="btn" >Cancelar</button>
								
							  </div>
							</fieldset>
						  </form>
				</div><!--/span-->
				

			
			</div><!--/row-->
			
			
			
    

	</div><!--/.fluid-container-->
		<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Productos</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
							<a href="exportProductsAdmin.php" target="_blank"> Exportar</a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
								      <th>MARCA</th>
								      <th>ARTICULO</th>
								      <th>MODELO</th>
									  
								      <th>ENVIO</th>
								      <th>WEB</th>
								      <th>CUOTAS</th>
										<th>CANTIDAD</th>
								 
									
									  <th>ACTUALIZACION</th>
									  <th>PRECIO</th>
							
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlock-->
								 <!--BeginResultsBlock-->
								<tr id="{iId}">
									
											<td class="center">{sMarca}</td>
											<td class="center">{sName}</td>
											<td class="center">{sModel}</td>
											
											<td class="center">{sEnvio}</td>
											<td class="center">{sVisible}</td>
											<td class="center">{sCuotas}</td>
											<td class="center">{sQuantity}</td>
											
									
									<!--<td class="center">{sCategory}</td>-->
									<td class="center" id="fecha_{iId}">{sUpdate}</td>
									<td class="center" contenteditable="true" onBlur="saveToDatabase(this,'{iId}')" onClick="showEdit(this);">{iValue}</td>
									
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showInformacionData('{iId}');">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteInformacion');">
									<i class="halflings-icon white trash"></i> 
									</a>
								</td>                                   
								</tr>
								<!--EndResultsBlock-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade"    id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Editar Producto</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" enctype="multipart/form-data" action="productsAdmin.php" method="POST">
							<input type="hidden" name="sAction" value="editInformacion"/>
							<input type="hidden" id="iEditID" name="iEditID" value=""/>
							<input type="hidden" id="iCopiaValor" name="iCopiaValor" value=""/>
							<input type="hidden" id="iCopiaDia" name="iCopiaDia" value=""/>
							
							<fieldset>
							
							
							  <div class="control-group">
								<label class="control-label" >MARCA</label>
								<div class="controls">
								  <select required id="editMarca" name="editMarca" >
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarca}</option>
									<!--EndMarcasBlock-->
									
								  </select>
								</div>
							  </div>
							
							
							
							
							  <div class="control-group">
								<label class="control-label" for="focusedInput">ARTICULO</label>
								<div class="controls">
								  <input class="input-xlarge focused" maxlength="25" required id="editName" name="editName" type="text"  value="">
								</div>
							  </div>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">MODELO</label>
								<div class="controls">
								  <input class="input-xlarge focused" maxlength="20" required id="editModel" name="editModel" type="text"  value="">
								</div>
							  </div>
							  
							  
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">DESCRIPCION</label>
								<div class="controls">
								<textarea   required id="editDescription" name="editDescription" placeholder="Descripción" rows="4" cols="70" id="textarea2"></textarea>
 
								</div>
							  </div>
							  
							  						  <script type="text/javascript">
CKEDITOR.replace ("editDescription");
</script>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">PRECIO CONTADO</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="editValue" name="editValue" type="text"  value="">
								</div>
							  </div>
							  
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CODIGO DE BARRAS</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editCodigoBarras" name="editCodigoBarras" type="text"  value="">
								</div>
							  </div>
							  
							    <!-- <div class="control-group">
								<label class="control-label" for="focusedInput">CANTIDAD CUOTAS</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editCantidadCuotas" name="editCantidadCuotas" type="text"  value="">
								</div>
							  </div>
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">VALOR CUOTA</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editValorCuota" name="editValorCuota" type="text"  value="">
								</div>
							  </div>
							  
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">PTF</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editPtf" name="editPtf" type="text"  value="">
								</div>
							  </div>-->
							  
							   <div class="control-group">
								<label class="control-label" >CONDICIONES</label>
								<div class="controls">
								  <select required id="editCondiciones" name="editCondiciones" >
									
									<option value=''>Selecione una condición</option>
									<!--BeginResultsBlockCon-->
									<option value='{sIdCon}'>{sNameCon}</option>
									<!--EndResultsBlockCon-->
									
								  </select>
								</div>
							  </div>
							  
							  
							
							  
							  
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">IMAGEN</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editFile" name="editFile" type="text"  value="">
								  <input class="input-xlarge focused"  name="fileUploadEdit" id="editImg" accept="image/*" type="file"  value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">IMAGEN 1</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editFile1" name="editFile1" type="text"  value="">
							<input class="input-xlarge focused"  name="fileUploadEdit1" id="editImg1" accept="image/*" type="file"  value="">
								</div>
							  </div>
							  <!-- <div class="control-group">
								<label class="control-label" for="focusedInput">IMAGEN 2</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editFile2" name="editFile2" type="text"  value="">
								  <input class="input-xlarge focused"  name="fileUploadEdit2" id="editImg2" accept="image/*" type="file"  value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">IMAGEN 3</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editFile3" name="editFile3" type="text"  value="">
								  <input class="input-xlarge focused"  name="fileUploadEdit3" id="editImg3" accept="image/*" type="file"  value="">
								</div>
							  </div>
							  -->
							  
							  
							   <div class="control-group">
								<label class="control-label" >CATEGORIA</label>
								<div class="controls">
								  <select required id="editCategory" name="editCategory"  onchange="getSubCategoriasEdit(this.value);">
									
									<option value=''>Selecione una categoria</option>
									<!--BeginCategoriasBlock-->
									<option value='{iCategory}'>{sCategory}</option>
									<!--EndCategoriasBlock-->
									
								  </select>
								</div>
							  </div>
							  
							  
							  
							  

							  
							  
							    <div class="control-group">
								<label class="control-label" >SUBCATEGORIA</label>
								<div class="controls">
								  <select id="editSubCategory" required name="editSubCategory" >
								  </select>
								</div>
							  </div>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">DESTACADO</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editCuotas" name="editCuotas" type="text"  value="">
								</div>
							  </div>
							  
							    <div class="control-group">
								<label class="control-label" >PAGINA PRINCIPAL</label>
								<div class="controls">
								  <select  name="editOferta" id="editOferta" >
									
									<option value=''>Selecione una opción</option>
									<option value='1'>Si</option>
									<option value='0'>No</option>
									
								  </select>
								</div>
							  </div>
							  
							  
							  	     <div class="control-group">
								<label class="control-label" for="focusedInput">CANTIDAD</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editQuantity" name="editQuantity" type="text"  value="">
								</div>
							  </div>
							  
							  <div class="control-group">
								<label class="control-label" >ENVIO</label>
								<div class="controls">
								  <select  name="editEnvio" id="editEnvio">
									
									<option value=''>Selecione una opción</option>
									<option value='1'>Consultar Envio</option>
									<option value='0'>Envio Sin Cargo</option>
									
								  </select>
								</div>
							  </div>
							  
							  
							   <div class="control-group">
								<label class="control-label" >VISIBLE WEB</label>
								<div class="controls">
								  <select  name="editStatus" id="editStatus" >
									
									<option value=''>Selecione una opción</option>
									<option value='1'>Si</option>
									<option value='0'>No</option>
									
								  </select>
								</div>
							  </div>
							  
							  
							  

				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
			<button type="submit" class="btn btn-primary">Guardar</button>
								
								
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->

<script src="js/functions.js">
$("#newCategory").change(function(){
			getSubCate($(this).val(), "newSubCategory");
		});
		
</script>
	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->
	
