	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10" style="min-height: 640px;">
		
	<ul class="breadcrumb">
	<li>

					<i class="icon-edit"></i>

					<a href="request.php">Solicitud Crédito</a>

				</li>
				
					<li>

					<i class="icon-angle-right"></i>

					<a href="requestList.php">Listado Clientes</a>

				</li>
				
				
			</ul>
			
			
				
	
	<div class="box" style="{sDisplaySd}">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Listado Clientes</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>NÚMERO</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>TELEFONO</th>
									  <th>CELULAR</th>
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlock-->
								 <!--BeginResultsBlock-->
								<tr id="{iId}">
									
									<td class="center">{iId}</td>
									<td class="center">{sApellido}</td>
									<td class="center">{sNombre}</td>
									<td class="center">{sTelefono}</td>
									<td class="center">{sCelular}</td>
									<!--<td class="center">{sSerie}</td>-->
									<td class="center">{sEstado}</td>
		
									<td class="center">
									<a class="btn btn-success"  onclick="showCustomerData('{iId}',1);">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<a class="btn btn-info" onclick="window.open('customerOrder.php?idCus='+{iId}, '_blank');">
									<i class="halflings-icon white edit"></i>  
									</a>
									<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteCredito');">
									<i class="halflings-icon white trash"></i> 
									</a>
								</td>                                   
								</tr>
								<!--EndResultsBlock-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Editar Solicitud</h3>
		</div>
		<div class="modal-body">
			<form id="pascualForm" action="request.php" method="POST">
							<input type="hidden" name="sAction" value="newCustomer"/>
 <input id="iUserID" type="hidden" name="iUserID" value="{iMeterUserId}"/>

                    <div class="col s12 l6 offset-l6">



                    <ul class="stepper linear">

                       <li class="step active">

                          <div class="step-title waves-effect">Datos del Solicitante</div>

                          <div class="step-content">

                             <div class="row">

                               

							   
							   
							    <div class="input-field col s12 m6">

                                <input id="last_name" type="text" name="last" class="validate" required>

                                <label for="last_name">Apellido</label>

                              </div>
							   
							   
                                 <div class="input-field col s12 m6">

                                <input id="first_name" type="text" name="first" class="validate" required>

                                <label for="first_name">Nombres</label>

                              </div>

                                

                    

                               <div class="input-field col s12 m6">

                                <input id="dni" type="number" name="dni" class="validate" required>

                                <label for="dni">DNI</label>

                              </div>

                                 <div class="input-field col s12 m6">

                                <input type="text" class="datepicker validate" id="birthdate" name="birthdate" required>

                                <label for="birthdate">Fecha de nacimiento</label>

                              </div>

                                  <div class="input-field col s12 m6">

                          <select class="validate" id="estado" name="estado" required>

                            <option value="" disabled selected>Seleccione lo que corresponda</option>

                            <option value="1">Casado</option>

                            <option value="2">Soltero</option>

                            <option value="3">Concubinato</option>

                          </select>

                          <label>Estado civil</label>

                        </div>

                                 <div class="row">

                               <div class="input-field col s12 m4">

                                <input id="domicilio" type="text" name="domicilio" class="validate" required>

                                <label for="domicilio">Domicilio</label>

                              </div>

                               <div class="input-field col s12 m4">

                                <input id="local" type="text" name="local" class="validate" required>

                                <label for="local">Localidad</label>

                              </div>

                                       <div class="input-field col s12 m4">

                                <input id="cpa" type="text" name="cpa" class="validate" required>

                                <label for="cpa">CPA</label>

                              </div>

                            </div>
 <div class="input-field col s12 m6">

                                   <input id="email" name="email" type="email" class="validate" >

                                   <label for="email" data-error="ingrese un mail válido" data-success="Perfecto!">Su email</label>

                                </div>
                                   

                       

                                      <div class="row">

                               <div class="input-field col s12 m6">

                                <input id="tel" type="number" name="tel" class="validate" >

                                <label for="tel">Teléfono fijo</label>

                              </div>

                               <div class="input-field col s12 m6">

                                <input id="cel" type="number" name="cel" class="validate" >

                                <label for="cel">Teléfono Móvil</label>

                              </div>
							  
							  <div class="input-field col s12 m6">

                          <select class="validate" className="browser-default" id="ocupacion" name="ocupacion"  onchange="changeOcupacion();" required>

                            <option value="" disabled selected>Seleccione lo que corresponda</option>

                            <option value="1">Ama de Casa</option>

                            <option value="2">Jubilado</option>

                            <option value="3">Empleado</option>
                            <option value="4">Otro</option>

                          </select>

                          <label>Ocupación</label>

                        </div>
							  
							  

                            </div>
							
							
							
							
							

<div class="row step-title">Datos Laborales</div>

                                      <div class="row">

                                             <div class="input-field col s12 m4">

                                <input id="empresa" type="text" name="empresa" required Placeholder="Nombre de la Empresa" class="validate" >

                                <label for="empresa">Nombre de la Empresa</label>

                              </div>

                                       <div class="input-field col s12 m4">

                                <input id="dom" type="text" name="dom" Placeholder="Domicilio" required class="validate" >

                                <label for="dom">Domicilio</label>

                              </div>

                               

                               <div class="input-field col s12 m4">

                                <input id="tel_empresa" type="number" Placeholder="Teléfono fijo" required name="tel_empresa" class="validate" >

                                <label for="tel_empresa">Teléfono fijo</label>

                              </div>

                             <div class="input-field col s12 m6">

                                
   <select class="validate" id="rubro" required name="rubro" >

                            <option value="" disabled selected>Seleccione lo que corresponda</option>

							<option value="0">Sin Rubro</option>
								
   <option value="1"> Administración y Contabilidad</option>
    <option value="2">Almacenamiento / Logística / Distribución</option>
    <option value="3">Arquitectura</option>
    <option value="4">Comercial / Ventas</option>
    <option value="5">Comercio Exterior</option>
    <option value="6">Compras y Abastecimiento</option>
    <option value="7">Diseño</option>
    <option value="8">Educación y Psicopedagogía</option>
    <option value="9">Estética y Cuidado Personal</option>
    <option value="10">Finanzas y Economía</option>
    <option value="11">Gastronomía</option>
    <option value="12">Gerencia General / Alta Dirección</option>
    <option value="13">Independientes</option>
    <option value="14">Ingeniería / Tecnicatura</option>
    <option value="15">Jóvenes Profesionales / Pasantías</option>
    <option value="16">Legales</option>
    <option value="17">Marketing y Publicidad</option>
    <option value="18">Medios y Comunicación</option>
    <option value="19">Música / Arte / Cultura</option>
    <option value="20">Producción</option>
    <option value="21">Puestos Operativos / Otros</option>
    <option value="22">Química / Bioquímica</option>
    <option value="23">Recepción / Secretaria / Atención al cliente</option>
    <option value="24">Recursos Humanos</option>
    <option value="25">Relaciones Institucionales / Públicas</option>
    <option value="26">Salud</option>
    <option value="27">Sistemas / Tecnología / IT </option>
								
								
								
								
								
                                <label for="rubro">Rubro</label>

                              </div>



                                                <div class="input-field col s12 m6">

                                <input id="cargo" type="text" Placeholder="Cargo u Ocupación" name="cargo" required class="validate" >

                                <label for="cargo">Cargo u Ocupación</label>

                              </div>



                                <div class="input-field col s12 m6">

                                <input id="sueldo" type="number" Placeholder="0" required name="sueldo" class="validate" >

                                <label for="sueldo">Sueldo</label>

                              </div>



                                    <div class="input-field col s12 m6">

                          <select class="validate" id="antiguedad" required name="antiguedad" >

                            <option value="" disabled selected>Seleccione lo que corresponda</option>

							<option value="6">No Tiene</option>
                            <option value="1"> 1 Año</option>   

                            <option value="2">+2 Años</option>

                            <option value="3">+5 Años</option>
                            <option value="4">+10 Años</option>
                            <option value="5">+20 Años</option>
                            

                          </select>

                          <label>Antiguedad</label>

                        </div>

                            </div>

                            <div class="row step-title">Referencia de Contacto</div>

                      <div class="row">

                                               

                                 <div class="input-field col s12 m6">

                                <input id="last_name_cont" type="text" Placeholder="Apellido" required name="last_cont" class="validate" >

                                <label for="last_name_cont">Apellido</label>

                              </div>   
 <div class="input-field col s12 m6">

                                <input id="first_name_cont" type="text" Placeholder="Nombre" required name="first_cont" class="validate" >

                                <label for="first_name_cont">Nombres</label>

                              </div>							  



                                                       <div class="input-field col s12 m6">

                                <input id="domicilio_cont" type="text" Placeholder="Domicilio" required name="domicilio_cont" class="validate" >

                                <label for="domicilio_cont">Domicilio</label>

                              </div>

                                <div class="input-field col s12 m6">

                                <input id="tel_cont" type="number" Placeholder="0" required name="tel_cont" class="validate" >

                                <label for="tel_cont">Teléfono</label>

                              </div>

                                                <div class="input-field col s12">

                                <input id="rel_cont" type="text" Placeholder="Relación o Vínculo" required name="rel_cont" class="validate" >

                                <label for="rel_cont">Relación o Vínculo</label>

                              </div>





                      </div>



                            </div>

                    

                    

                    

                    

                    

                    

                         

                    

                             <div class="step-actions">

                                <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>

                             </div>

                          </div>

                          <!-- fin del step -->

                       </li>

                    

                       <li class="step">

                          <div class="step-title waves-effect">Datos del Garante</div>

                          <div class="step-content">

                             <div class="row">

                         <div class="step-content">

                             <div class="row">

                             <div class="col s12">

                                   <p class="col s12 m3">

      <input name="group1" type="radio" id="test1" class="validate" onclick="setGarante(0);" required/>

      <label for="test1">Co-Deudor</label>

    </p>

    <p class="col s12 m3">

      <input name="group1" type="radio" id="test2" class="validate" onclick="setGarante(0);" required />

      <label for="test2">Cónyuge</label>

    </p>
	 <p class="col s12 m3">

      <input name="group1" type="radio" id="test3" class="validate" onclick="setGarante(1);" required />

      <label for="test3">Ninguno</label>

    </p>

                             </div> 

                              
<div class="input-field col s12 m6">

                                <input id="last_g" type="text" name="last_g" class="validate" required>

                                <label for="last_name_g">Apellido</label>

                              </div>
							  
							 
							  
                                 <div class="input-field col s12 m6">

                                <input id="first_name_g" type="text" name="first_g" class="validate" required>

                                <label for="first_name_g">Nombres</label>

                              </div>

                                  <table id="usersFounded" align="left" style="float:left;display:none;border:solid 1px">
		</table>

                    

                               <div class="input-field col s12 m6">

                                <input id="dni_g" type="number" name="dni_g" class="validate" required>

                                <label for="dni_g">DNI</label>

                              </div>

                                 <div class="input-field col s12 m6">

                                <input type="text" class="datepicker validate" id="birthdate_g" name="birthdate_g" required>

                                <label for="birthdate_g">Fecha de nacimiento</label>

                              </div>

                                  <div class="input-field col s12 m6">

                          <select class="validate" id="estado_g" name="estado_g" required>

                            <option value="" disabled selected>Seleccione lo que corresponda</option>

                            <option value="1">Casado</option>

                            <option value="2">Soltero</option>

                            <option value="3">Concubinato</option>

                          </select>

                          <label>Estado civil</label>

                        </div>

                                 <div class="row">

                               <div class="input-field col s12 m4">

                                <input id="domicilio_g" type="text" name="domicilio_g" class="validate" required>

                                <label for="domicilio_g">Domicilio</label>

                              </div>

                               <div class="input-field col s12 m4">

                                <input id="local_g" type="text" name="local_g" class="validate" required>

                                <label for="local_g">Localidad</label>

                              </div>

                                       <div class="input-field col s12 m4">

                                <input id="cpa_g" type="text" name="cpa_g" class="validate" required>

                                <label for="cpa_g">CPA</label>

                              </div>

                            </div>

                                     <div class="input-field col s12 m6">

                                   <input id="email_g" name="email_g" type="email" class="validate" >

                                   <label for="email_g" data-error="ingrese un mail válido" data-success="Perfecto!">Su email</label>

                                </div>

                       

                                      <div class="row">

                               <div class="input-field col s12 m6">

                                <input id="tel_g" type="number" name="tel_g" class="validate" required>

                                <label for="tel_g">Teléfono fijo</label>

                              </div>

                               <div class="input-field col s12 m6">

                                <input id="cel_g" type="number" name="cel_g" class="validate" required>

                                <label for="cel_g">Teléfono Móvil</label>

                              </div>

                            </div>

<div class="row step-title">Datos Laborales</div>

                                      <div class="row">

                                             <div class="input-field col s12 m4">

                                <input id="empresa_g" type="text" name="empresa_g" class="validate" required>

                                <label for="empresa_g">Nombre de la Empresa</label>

                              </div>

                                       <div class="input-field col s12 m4">

                                <input id="dom_g" type="text" name="dom_g" class="validate" required>

                                <label for="dom_g">Domicilio</label>

                              </div>

                               

                               <div class="input-field col s12 m4">

                                <input id="tel_empresa_g" type="number" name="tel_empresa_g" class="validate" required>

                                <label for="tel_empresa_g">Teléfono fijo</label>

                              </div>

                             <div class="input-field col s12 m6">

                                <input id="rubro_g" type="number" name="rubr_go" class="validate" required>

                                <label for="rubro_g">Rubro</label>

                              </div>



                                                <div class="input-field col s12 m6">

                                <input id="cargo_g" type="text" name="cargo_g" class="validate" required>

                                <label for="cargo_g">Cargo u Ocupación</label>

                              </div>



                                <div class="input-field col s12 m6">

                                <input id="sueldo_g" type="number" name="sueldo_g" class="validate" required>

                                <label for="sueldo_g">Sueldo</label>

                              </div>



                                    <div class="input-field col s12 m6">

                          <select class="validate" id="antiguedad_g" name="antiguedad_g" required>

                            <option value="" disabled selected>Seleccione lo que corresponda</option>

                             <option value="1"> 1 Año</option>   

                            <option value="2">+2 Años</option>

                            <option value="3">+5 Años</option>
                            <option value="4">+10 Años</option>
                            <option value="5">+20 Años</option>

                          </select>

                          <label>Antiguedad</label>

                        </div>

                            </div>

                            <div class="row step-title">Referencia de Contacto</div>

                      <div class="row">

                                                <div class="input-field col s12 m6">

                                <input id="first_name_cont_g" type="text" name="first_cont_g" class="validate" required>

                                <label for="first_name_cont_g">Nombre</label>

                              </div>

                                 <div class="input-field col s12 m6">

                                <input id="last_name_cont_g" type="text" name="last_cont_g" class="validate" required>

                                <label for="last_name_cont_g">Apellido</label>

                              </div>           



                                                       <div class="input-field col s12 m6">

                                <input id="domicilio_cont_g" type="text" name="domicilio_cont_g" class="validate" required>

                                <label for="domicilio_cont_g">Domicilio</label>

                              </div>

                                <div class="input-field col s12 m6">

                                <input id="tel_cont_g" type="number" name="tel_cont_g" class="validate" required>

                                <label for="tel_cont_g">Teléfono</label>

                              </div>

                                                <div class="input-field col s12">

                                <input id="rel_cont_g" type="text" name="rel_cont_g" class="validate" required>

                                <label for="rel_cont_g">Relación o Vínculo</label>

                              </div>





                      </div>



                            </div>

                    

                

                          </div>

                             </div>

                             <div class="step-actions">

                                <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>

                                <button class="waves-effect waves-dark btn-flat previous-step">VOLVER</button>

                             </div>

                          </div>

                       </li>

                       <li class="step">

                          <div class="step-title waves-effect">Garantía Propietaria</div>

                          <div class="step-content">

                            <div class="row">

                                                               <div class="input-field col s12 m12">

                                <input id="propietario" type="text" name="propietario" class="validate" required>

                                <label for="propietario">Propietario</label>

                              </div>

                                 <div class="input-field col s12 m6">

                                <input id="ubica" type="text" name="ubica" class="validate" required>

                                <label for="ubica">Ubicación</label>

                              </div>

                                                               <div class="input-field col s12 m6">

                                <input id="matricula" type="text" name="matricula" class="validate" required>

                                <label for="matricula">Matrícula</label>

                              </div>

                                                               <div class="input-field col s12 m6">

                                <input id="partida" type="text" name="partida" class="validate" required>

                                <label for="partida">Partida</label>

                              </div>

                                                               <div class="input-field col s12 m6">

                                <input id="circun" type="text" name="circun" class="validate" required>

                                <label for="circun">Circunscripción</label>

                              </div>

                                                               <div class="input-field col s12 m6">

                                <input id="seccion" type="text" name="seccion" class="validate" required>

                                <label for="seccion">Sección</label>

                              </div>

                                                               <div class="input-field col s12 m6">

                                <input id="manzana" type="text" name="manzana" class="validate" required>

                                <label for="manzana">Manzana</label>

                              </div>

                                                               <div class="input-field col s12 m6">

                                <input id="parcela" type="text" name="parcela" class="validate" required>

                                <label for="parcela">Parcela</label>

                              </div>

                                                                  <div class="input-field col s12 m6">

                                <input id="subparcela" type="text" name="subparcela" class="validate" required>

                                <label for="subparcela">Subparcela</label>

                              </div>

                            </div>

                             <div class="step-actions">

                                 <button class="waves-effect waves-dark btn next-step">CONTINUAR</button>

                                <button class="waves-effect waves-dark btn-flat previous-step">VOLVER</button>

                             </div>

                          </div>

                       </li>

                                              <li class="step">

                          <div class="step-title waves-effect">Monto del Crédito</div>

                          <div class="step-content">

              <div class="row">

              <div class="input-field col s12 m12">

                                                                   <input id="monto" type="text" name="monto" class="validate" required>

                                                                   <label for="monto">Monto del Crédito inicial</label>

                                                                 </div>

                                                                                                     <div class="input-field col s12 m6">

                                                                   <input id="operador" type="text" name="operador" class="validate" required>

                                                                   <label for="operador">Operador</label>

                                                                 </div>

                                                                                                     <div class="input-field col s12 m6">

                                                                   <input id="autoriza" type="text" name="autoriza" class="validate" required>

                                                                   <label for="autoriza">Autorizó</label>

                                                                 </div>

                                                                  <p class="input-field col s12 m12">

                                         <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />

                                         <label for="filled-in-box">Acepto los términos del contrato y condiciones.</label>

                                       </p>

                                           </div>                     <div class="step-actions">

                                <button class="waves-effect waves-dark btn" type="submit">ENVIAR</button>

                             </div>

                          </div>

                       </li>

                    </ul>



                    </div>

 </form>
		</div>
	
	</div>
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->


	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->