	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
		
	<ul class="breadcrumb">
	<li>
					
					<a href="serviceAdmin.php?New=ns">Nuevo Servicio</a>  
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="serviceAdmin.php?New=sd">Servicios Disponibles</a>  
					<i class="icon-angle-right"></i>
				</li>
			<li>
					
					<a href="serviceNextAdmin.php">Seguimiento</a>  
					<i class="icon-angle-right"></i>
				</li>
			<li>
					
					<a href="servicesAdmin.php">Servicios Tecnicos</a>
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="complaAdmin.php">Reclamos</a>
				</li>
				
				
			</ul>
			
			
			
			
			
			
			
					<div class="row-fluid sortable">	
					
					
					
					
		
				
				
			
				
				
				
				
				
				<div class="box"  style="{sDisplayNs}">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Nuevo Servicio</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content" >
							<form  class="form-horizontal" role="form" id="frmNewOrder" name="frmNewOrder" action="serviceAdmin.php" method="POST">
							<input type="hidden" name="sAction" id="newOrderAction" value="newService"/>
							<fieldset>
							

							
							 <label class="control-label" for="focusedInput"><strong>CLIENTE</strong></label>
							 <hr>
							 
							 
							  <div class="control-group">
								<label class="control-label" autofocus for="focusedInput">APELLIDO -NOMBRE -DNI</label>
								<div class="controls">
								  <input class="input focused" required placeholder="Ingrese el Apellido" id="newApellido" name="newApellido" type="text" value="">
							<input class="input focused" required id="newNombre" name="newNombre" type="text" placeholder="Ingrese el nombre" value="">
							<input class="inputfocused" required placeholder="Ingrese el DNI" id="newDNI" name="newDNI" type="text" value="">					
							
								</div>
							  </div>
							  
	
							  	  <div class="control-group">
								<label class="control-label" for="focusedInput">TELEFONO - CELULAR</label>
								<div class="controls">
								  <input class="input focused" required placeholder="Ingrese el teléfono" id="newTelefono" name="newTelefono" type="text" value="">
								 <input class="input focused" required placeholder="Ingrese el celular" id="newCelular" name="newCelular" type="text" value="">
							
								</div>
							  </div>
							  
							 
							   <div class="control-group">
								<label class="control-label" for="focusedInput">EMAIL</label>
								<div class="controls">
								  <input class="input-xlarge focused" placeholder="Ingrese un email" id="newEmail" name="newEmail" type="text" value="">
								</div>
							  </div>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CREDITO</label>
								<div class="controls">
								  <input class="input-xlarge focused" maxlength="8" placeholder="Ingrese el Crédito" id="newCredito" name="newCredito" type="text" value="">
								
								
								</div>
							  </div>
							  <hr>
							   <label class="control-label" for="focusedInput"><strong>ARTEFACTO</strong></label>
							   <hr>
							   <br>
							   
							   <div class="control-group">
								<label class="control-label" for="focusedInput">MARCA - ARTICULO</label>
								<div class="controls">
							
								  <select required id="newMarca" name="newMarca" >
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarca}</option>
									<!--EndMarcasBlock-->
									
								  </select>
								
									<input class="input-xlarge focused" required placeholder="Ingrese el artículo" id="newArticulo" name="newArticulo" type="text" value="">
								
								</div>
							  </div>
							
							 
							  
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">MODELO - SERIE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el modelo" id="newModelo" name="newModelo" type="text" value="">
								<input class="input-xlarge focused"  id="newSerie" name="newSerie" placeholder="Ingrese el n° de serie" type="text" value="">
								
								</div>
							  </div>
							   
							   
							    <div class="control-group">
								<label class="control-label" for="focusedInput">FACTURA - FECHA COMPRA</label>
								<div class="controls">
								<input class="input-xlarge focused" maxlength="8" required placeholder="Ingrese la factura" id="newFactura" name="newFactura" type="text" value="">
								  <input class="input-xlarge focused" required id="newFecha" name="newFecha" placeholder="Ingrese la fecha" type="date" value="">
								
								
								</div>
							  </div>
							  
							      <div class="control-group">
								<label class="control-label" for="focusedInput">ACCESORIOS</label>
								<div class="controls">
								 
								<input class="input-xlarge focused"  id="newAcc" name="newAcc" placeholder="Ingrese accesorios" type="text" value="">
								
								</div>
							  </div>
							  
							
							 
							    <div class="control-group">
							  <label class="control-label" for="textarea2">DEFECTO - OBSERVACIONES</label>
							  <div class="controls">
								
							  <textarea  name="newProblema" autofocus placeholder="Ingrese el problema" rows="4" cols="70" id="textarea2"></textarea>
							 <textarea  name="newObservaciones" autofocus placeholder="Ingrese las observaciones" rows="4" cols="70" id="textarea2"></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
							
							
							
							 <div class="control-group">
								<label class="control-label" for="focusedInput">RECIBE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="newRecibe" name="newRecibe" placeholder="Ingrese quien lo recibe" type="text" value="{sSysUserName}">
								
								</div>
							  </div>
							  
							 <div class="alert alert-error" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Felicitaciones!</strong> {sResult}
						</div>
			
							  <div class="form-actions">
								<button type="button" class="btn btn-primary" onclick="newOrder();">Guardar</button>
								<button type="reset" class="btn" >Cancelar</button>
								
							  </div>
							</fieldset>
						  </form>
				</div><!--/span-->
			
			</div><!--/row-->

			
						
				
			
			
    

	</div><!--/.fluid-container-->
	
	<div class="box" style="{sDisplaySd}">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Servicios Disponibles</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>ORDEN</th>
									  <th>FECHA</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>DNI</th>
									  <th>TELEFONO</th>
									  <th>MARCA</th>
									  <th>MODELO</th>
									  <th>ESTADO</th>
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlock-->
								 <!--BeginResultsBlock-->
								<tr id="{iId}">
									
									<td class="center">{sNumero}</td>
									<td class="center">{sFechaB}</td>
									<td class="center">{sApellido}</td>
									<td class="center">{sNombre}</td>
									<td class="center">{sDni}</td>
									<td class="center">{sTelefono}</td>
									<td class="center">{sMarca}</td>
									<td class="center">{sModelo}</td>
									<td class="center">{sEstado}</td>
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showServiceData('{iId}');">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteService');">
									<i class="halflings-icon white trash"></i> 
									</a>
								</td>                                   
								</tr>
								<!--EndResultsBlock-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Editar Servicio</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="serviceAdmin.php" method="POST">
							<input type="hidden" name="sAction" value="editService"/>
							<input type="hidden" id="iEditID" name="iEditID" type="text"/>
							
							
							<fieldset>
							
							
							<div class="control-group">
								<label class="control-label" for="focusedInput">ORDEN</label>
								<div class="controls">
								  <input class="input focused" required id="iNumero" name="iNumero" disabled type="text" placeholder="Ingrese el número de orden" value="">
								  <input class="input focused" required id="sFechaB" name="sFechaB" disabled type="text" placeholder="Fecha Ingreso" value="">
								 </div>
								
							  </div>
							 
							<div class="control-group">
								<label class="control-label" for="focusedInput">APELLIDO - NOMBRE</label>
								<div class="controls">
								  <input class="input focused"   placeholder="Ingrese el Apellido" id="editApellido" name="editApellido" type="text" value="">
								  <input class="input focused"   id="editNombre" name="editNombre" type="text" placeholder="Ingrese el nombre" value="">
								</div>
							  </div>
							  
			
							  <div class="control-group">
								<label class="control-label" for="focusedInput">DNI - TELEFONO</label>
								<div class="controls">
								  <input class="inputfocused"  placeholder="Ingrese el DNI" id="editDNI" name="editDNI" type="text" value="">
								  <input class="input focused"   placeholder="Ingrese el teléfono" id="editTelefono" name="editTelefono" type="text" value="">
								</div>
							  </div>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CREDITO - FACTURA</label>
								<div class="controls">
								  <input class="input-xlarge focused"  maxlength="8" placeholder="Ingrese el Crédito" id="editCredito" name="editCredito" type="text" value="">
								<input class="input-xlarge focused"   maxlength="8" placeholder="Ingrese la factura" id="editFactura" name="editFactura" type="text" value="">
								
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">EMAIL</label>
								<div class="controls">
								  <input class="input-xlarge focused"  placeholder="Ingrese un email" id="editEmail" name="editEmail" type="text" value="">
								</div>
							  </div>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">RECIBIO</label>
								<div class="controls">
								 <input class="input-xlarge focused"  id="editRecibe" disabled name="editRecibe" placeholder="Ingrese quien lo recibió" type="text" value="">
							
								</div>
							  </div>
							 
							  <hr>
							  

							   <div class="control-group">
								<label class="control-label" for="focusedInput">MARCA - ARTICULO</label>
								<div class="controls">
								  <select  id="editMarca" name="editMarca" >
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarca}</option>
									<!--EndMarcasBlock-->
									
								   </select>
								<input class="input-xlarge focused"  placeholder="Ingrese el artículo" id="editArticulo" name="editArticulo" type="text" value="">
								
								</div>
							  </div>
							  
							  
							 <div class="control-group">
								<label class="control-label" for="focusedInput">MODELO - SERIE</label>
								<div class="controls">
								  <input class="input-xlarge focused"  placeholder="Ingrese el modelo" id="editModelo" name="editModelo" type="text" value="">
								<input class="input-xlarge focused"  id="editSerie" name="editSerie" placeholder="Ingrese el n° de serie" type="text" value="">
								
								</div>
							  </div>
							   
							   
							    <div class="control-group">
								<label class="control-label" for="focusedInput">FECHA COMPRA - ACCESORIOS</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="editFecha" name="editFecha" placeholder="Ingrese la fecha" type="date" value="">
								<input class="input-xlarge focused"  id="editAcc" name="editAcc" placeholder="Ingrese accesorios" type="text" value="">
								
								</div>
							  </div>
							  
							
							 
							    <div class="control-group">
							  <label class="control-label" for="textarea2">DEFECTO - OBSERVACIONES</label>
							  <div class="controls">
								<textarea  name="editProblema"  placeholder="Ingrese el defecto" rows="4" cols="70" id="editProblema" value=""></textarea>
							  <textarea  name="editObservaciones"  placeholder="Ingrese las observaciones" rows="4" cols="70" id="editObservaciones" value=""></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
							
							 <div class="control-group">
								<label class="control-label" for="focusedInput">ESTADO - SERVICIO TECNICO<!--- RECIBE--></label>
								<div class="controls">
								<select required id="editStatus" name="editStatus" >
									
									<option value=''>Selecione un estado</option>
									<!--BeginEstadoBlock-->
									<option value='{iEstado}'>{sEstado}</option>
									<!--EndEstadoBlock-->
									
								  </select>
								  <select required disabled id="editServicio" name="editServicio" >
									
									<option value=''>Selecione un servicio</option>
									<!--BeginServiciosOnBlock-->
									<option value='{iServicio}'>{sServicio}</option>
									<!--EndServiciosOnBlock-->
									
								  </select>
								  <!--<input class="input-xlarge focused" required id="editRecibe" name="editRecibe" placeholder="Ingrese quien lo recibe" type="text" value="">-->
								</div>
							  </div>
							
								<div class="control-group">
								<label class="control-label" for="focusedInput">ORDEN DE TRABAJO - FECHA INGRESO </label>
								<div class="controls">
								  <input class="input focused" disabled required id="editOrden" name="editOrden" type="text" placeholder="Ingrese el número de orden" value="">
								
  <input class="input-xlarge focused" required id="editFechaServicio" disabled name="editFechaServicio" placeholder="Ingrese la fecha" type="date" value="">
								
								</div>
								
							  </div>
							
							
							   <div class="control-group">
								<label class="control-label" for="focusedInput">FECHA PROMESA</label>
								<div class="controls">
								
								  <input class="input-xlarge focused" disabled required id="editFechaPromesa" name="editFechaPromesa" placeholder="Ingrese la fecha" type="date" value="">
								
								
								</div>
							  </div>
							
							
							 <div class="control-group">
							  <label class="control-label" for="textarea2">SEGUIMIENTO</label>
							  <div class="controls">
								<textarea  name="editSeguimiento" disabled placeholder="Comentarios" rows="8" cols="80" id="editSeguimiento" value=""></textarea>
							 
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							 <div class="control-group">
							  <label class="control-label" for="textarea2">NOTAS</label>
							  <div class="controls">
								<textarea  name="editComentarios"  placeholder="Comentarios Internos" rows="8" cols="200" id="editComentarios" value=""></textarea>
							 
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
	
				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
			<button type="submit" class="btn btn-primary">Guardar</button>
			<input type="button" class="btn btn-warning"      btn btn-block btn-success btn-lg onclick="window.open('orders.php?id='+iEditID.value, '_blank');" value="Copia Orden">	
<input type="button" class="btn btn-warning"      btn btn-block btn-success btn-lg onclick="window.open('endOrders.php?id='+iEditID.value, '_blank');" value="Copia Entrega">				
								
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->


	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->