	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
		
	<ul class="breadcrumb">
	<li>
					
					<a href="serviceAdmin.php?New=ns">Nuevo Servicio</a>  
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="serviceAdmin.php?New=sd">Servicios Disponibles</a>  
					<i class="icon-angle-right"></i>
				</li>
			<li>
					
					<a href="serviceNextAdmin.php">Seguimiento</a>  
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="servicesAdmin.php">Servicios Tecnicos</a>
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="complaAdmin.php">Reclamos</a>
				</li>
				
				
			</ul>
			
					<div class="row-fluid sortable">	
		
				

	</div><!--/.fluid-container-->
	
	
	<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Servicios Pendientes</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>ORDEN</th>
									  <th>FECHA</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>DNI</th>
									  <th>CREDITO</th>
									  <th>FACTURA</th>
									  <th>FECHA COMPRA</th>
									  <th>MARCA</th>
									  <th>ARTICULO</th>
									 <!-- <th>ESTADO</th>-->
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlock-->
								
								<tr id="{iId}">
									
									<td class="center">{sNumero}</td>
									<td class="center">{sFechaB}</td>
									<td class="center">{sApellido}</td>
									<td class="center">{sNombre}</td>
									<td class="center">{sDNI}</td>
									<td class="center">{sCredito}</td>
									<td class="center">{sFactura}</td>
									<td class="center">{sFechaCompra}</td>
									<td class="center">{sMarcaB}</td>
									<td class="center">{sArticulo}</td>
									<!--<td class="center">{sSerie}</td>-->
									<!--<td class="center">{sEstado}</td>-->
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showServiceNextData('{iId}',1);">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<!--<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteService');">
									<i class="halflings-icon white trash"></i> 
									</a>-->
								</td>                                   
								</tr>
								<!--EndResultsBlock-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
	
	
	
	
	
	
	
			<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Servicios En Reparación</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
							<a href="exportServicesRepaAdmin.php?id=1" target="_blank"> Exportar</a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>ORDEN</th>
									  <th>FECHA</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>DNI</th>
									  <th>CREDITO</th>
									  <th>FACTURA</th>
									  <th>FECHA COMPRA</th>
									  <th>MARCA</th>
									  <th>ARTICULO</th>
									  <th>SERVICIO</th>
									 <!-- <th>ESTADO</th>-->
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlockReparacion-->
								
								<tr id="{iIdR}">
									
									<td class="center">{sNumeroR}</td>
									<td class="center">{sFechaSeguimientoR}</td>
									<td class="center">{sApellidoR}</td>
									<td class="center">{sNombreR}</td>
									<td class="center">{sDNIR}</td>
									<td class="center">{sCreditoR}</td>
									<td class="center">{sFacturaR}</td>
									<td class="center">{sFechaCompraR}</td>
									<td class="center">{sMarcaR}</td>
									<td class="center">{sArticuloR}</td>
									<td class="center">{sServicioR} - {sPhoneR}</td>
									<!--<td class="center">{sEstadoR}</td>-->
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showServiceNextData('{iIdR}',2);">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<!--<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iIdR}','deleteService');">
									<i class="halflings-icon white trash"></i> 
									</a>-->
								</td>                                   
								</tr>
								<!--EndResultsBlockReparacion-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
				
					<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Servicios Reparados</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
							
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>ORDEN</th>
									  <th>FECHA</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>DNI</th>
									  <th>CREDITO</th>
									  <th>FACTURA</th>
									  <th>FECHA COMPRA</th>
									  <th>MARCA</th>
									  <th>ARTICULO</th>
									  <th>SERVICIO</th>
									 <!-- <th>ESTADO</th>-->
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlockReparacione-->
								
								<tr id="{iIdRe}">
									
									<td class="center">{sNumeroRe}</td>
									<td class="center">{sFechaSeguimientoRe}</td>
									<td class="center">{sApellidoRe}</td>
									<td class="center">{sNombreRe}</td>
									<td class="center">{sDNIRe}</td>
									<td class="center">{sCreditoRe}</td>
									<td class="center">{sFacturaRe}</td>
									<td class="center">{sFechaCompraRe}</td>
									<td class="center">{sMarcaRe}</td>
									<td class="center">{sArticuloRe}</td>
									<td class="center">{sServicioRe} - {sPhoneRe}</td>
									<!--<td class="center">{sEstadoR}</td>-->
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showServiceNextData('{iIdRe}',2);">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<!--<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iIdR}','deleteService');">
									<i class="halflings-icon white trash"></i> 
									</a>-->
								</td>                                   
								</tr>
								<!--EndResultsBlockReparacione-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
				
				
									<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Servicios Finalizados</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
							
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>ORDEN</th>
									  <th>FECHA</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>DNI</th>
									  <th>CREDITO</th>
									  <th>FACTURA</th>
									  <th>FECHA COMPRA</th>
									  <th>MARCA</th>
									  <th>ARTICULO</th>
									  <th>SERVICIO</th>
									 <!-- <th>ESTADO</th>-->
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlockFina-->
								
								<tr id="{iIdRe}">
									
									<td class="center">{sNumeroRe}</td>
									<td class="center">{sFechaSeguimientoRe}</td>
									<td class="center">{sApellidoRe}</td>
									<td class="center">{sNombreRe}</td>
									<td class="center">{sDNIRe}</td>
									<td class="center">{sCreditoRe}</td>
									<td class="center">{sFacturaRe}</td>
									<td class="center">{sFechaCompraRe}</td>
									<td class="center">{sMarcaRe}</td>
									<td class="center">{sArticuloRe}</td>
									<td class="center">{sServicioRe} - {sPhoneRe}</td>
									<!--<td class="center">{sEstadoR}</td>-->
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showServiceNextData('{iIdRe}',2);">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<!--<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iIdR}','deleteService');">
									<i class="halflings-icon white trash"></i> 
									</a>-->
								</td>                                   
								</tr>
								<!--EndResultsBlockFina-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
				
					<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Devoluciones</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
							<a href="exportServicesRepaAdmin.php?id=2" target="_blank"> Exportar</a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
									  
									   <th>FECHA ADMISION</th>
									   <th>APELLIDO</th>
									  <th>NOMBRE</th>
									   <th>MARCA</th>
									  <th>ARTICULO</th>
									  <th>MODELO</th>
									  <th>SERIE</th>
									  <th>SERVICIO TECNICO</th>
									  <th>ORDEN</th>
									  <th>FECHA INGRESO</th>
									  
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlockDevo-->
								
								<tr id="{iIdDevo}">
									
									
									<td class="center">{sFechaBDevo}</td>
									<td class="center">{sApellidoDevo}</td>
									<td class="center">{sNombreDevo}</td>
									<td class="center">{sMarcaBDevo}</td>
									<td class="center">{sArticuloDevo}</td>
									<td class="center">{sModeloDevo}</td>
									<td class="center">{sSerieDevo}</td>
									<td class="center">{sServicioDevo}</td>
									<td class="center">{sNumeroDevo}</td>
									<td class="center">{sFechaDevo}</td>
								
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showServiceNextData('{iIdDevo}',1);">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<!--<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteService');">
									<i class="halflings-icon white trash"></i> 
									</a>-->
								</td>                                   
								</tr>
								<!--EndResultsBlockDevo-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
				
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Seguimiento</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="serviceNextAdmin.php" method="POST">
							<input type="hidden" name="sAction" value="editServiceNext"/>
							<input type="hidden" id="iEditID" name="iEditID"/>
							
							
							<fieldset>
							
							
							<div class="control-group">
								<label class="control-label" for="focusedInput">ORDEN</label>
								<div class="controls">
								  <input class="input focused" disabled required id="iNumero" name="iNumero" type="text" placeholder="Ingrese el número de orden" value="">
								  <input class="input focused" required id="sFechaB" name="sFechaB" disabled type="text" placeholder="Fecha Ingreso" value="">
								
								 </div>
								
							  </div>
							 
							<div class="control-group">
								<label class="control-label" for="focusedInput">APELLIDO - NOMBRE</label>
								<div class="controls">
								  <input class="input focused"  disabled placeholder="Ingrese el Apellido" id="editApellido" name="editApellido" type="text" value="">
								  <input class="input focused"  disabled id="editNombre" name="editNombre" type="text" placeholder="Ingrese el nombre" value="">
								</div>
							  </div>
							  
			
							  <div class="control-group">
								<label class="control-label" for="focusedInput">DNI - TELEFONO</label>
								<div class="controls">
								  <input class="inputfocused" disabled placeholder="Ingrese el DNI" id="editDNI" name="editDNI" type="text" value="">
								  <input class="input focused"  disabled placeholder="Ingrese el teléfono" id="editTelefono" name="editTelefono" type="text" value="">
								</div>
							  </div>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CREDITO - FACTURA</label>
								<div class="controls">
								  <input class="input-xlarge focused"  disabled placeholder="Ingrese el Crédito" id="editCredito" name="editCredito" type="text" value="">
								<input class="input-xlarge focused"  disabled placeholder="Ingrese la factura" id="editFactura" name="editFactura" type="text" value="">
								
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">EMAIL</label>
								<div class="controls">
								  <input class="input-xlarge focused" disabled placeholder="Ingrese un email" id="editEmail" name="editEmail" type="text" value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">RECIBIO</label>
								<div class="controls">
								 <input class="input-xlarge focused"  id="editRecibe" disabled name="editRecibe" placeholder="Ingrese quien lo recibió" type="text" value="">
							
								</div>
							  </div>
							 
							  <hr>
							  

							   <div class="control-group">
								<label class="control-label" for="focusedInput">MARCA - ARTICULO</label>
								<div class="controls">
								  <select disabled id="editMarca" name="editMarca" >
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarca}</option>
									<!--EndMarcasBlock-->
									
								   </select>
								<input class="input-xlarge focused" disabled placeholder="Ingrese el artículo" id="editArticulo" name="editArticulo" type="text" value="">
								
								</div>
							  </div>
							  
							  
							 <div class="control-group">
								<label class="control-label" for="focusedInput">MODELO - SERIE</label>
								<div class="controls">
								  <input class="input-xlarge focused" disabled placeholder="Ingrese el modelo" id="editModelo" name="editModelo" type="text" value="">
								<input class="input-xlarge focused" disabled id="editSerie" name="editSerie" placeholder="Ingrese el n° de serie" type="text" value="">
								
								</div>
							  </div>
							   
							   
							    <div class="control-group">
								<label class="control-label" for="focusedInput">FECHA COMPRA - ACCESORIOS</label>
								<div class="controls">
								  <input class="input-xlarge focused" disabled id="editFecha" name="editFecha" placeholder="Ingrese la fecha" type="date" value="">
								<input class="input-xlarge focused" disabled id="editAcc" name="editAcc" placeholder="Ingrese accesorios" type="text" value="">
								
								</div>
							  </div>
							  
							
							 
							    <div class="control-group">
							  <label class="control-label" for="textarea2">DEFECTO - OBSERVACIONES</label>
							  <div class="controls">
								<textarea  name="editProblema" disabled placeholder="Ingrese el defecto" rows="4" cols="70" id="editProblema" value=""></textarea>
							  <textarea  name="editObservaciones" disabled placeholder="Ingrese las observaciones" rows="4" cols="70" id="editObservaciones" value=""></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
							
							 <div class="control-group">
								<label class="control-label" for="focusedInput">ESTADO - SERVICIO TECNICO<!--- RECIBE--></label>
								<div class="controls">
								<select required id="editStatus" name="editStatus" >
									
									<option value=''>Selecione un estado</option>
									<!--BeginEstadoBlock-->
									<option value='{iEstado}'>{sEstado}</option>
									<!--EndEstadoBlock-->
									
								  </select>
								  <select required id="editServicio" name="editServicio" >
									
									<option value=''>Selecione un servicio</option>
									<!--BeginServiciosOnBlock-->
									<option value='{iServicio}'>{sServicio}</option>
									<!--EndServiciosOnBlock-->
									
								  </select>
								  <!--<input class="input-xlarge focused" required id="editRecibe" name="editRecibe" placeholder="Ingrese quien lo recibe" type="text" value="">-->
								</div>
							  </div>
							
								<div class="control-group">
								<label class="control-label" for="focusedInput">ORDEN DE TRABAJO - FECHA INGRESO </label>
								<div class="controls">
								  <input class="input focused" required id="editOrden" name="editOrden" type="text" placeholder="Ingrese el número de orden" value="">
								
  <input class="input-xlarge focused" required id="editFechaServicio" name="editFechaServicio" placeholder="Ingrese la fecha" type="date" value="">
								
								</div>
								
							  </div>
							
							
							   <div class="control-group">
								<label class="control-label" for="focusedInput">FECHA PROMESA</label>
								<div class="controls">
								
								  <input class="input-xlarge focused" required id="editFechaPromesa" name="editFechaPromesa" placeholder="Ingrese la fecha" type="date" value="">
								
								
								</div>
							  </div>
							
							
							 <div class="control-group">
							  <label class="control-label" for="textarea2">SEGUIMIENTO</label>
							  <div class="controls">
								<textarea  name="editSeguimiento" placeholder="Comentarios" rows="8" cols="80" id="editSeguimiento" value=""></textarea>
							 
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							 <div class="control-group">
							  <label class="control-label" for="textarea2">NOTAS</label>
							  <div class="controls">
								<textarea  name="editComentarios" placeholder="Comentarios Internos" rows="8" cols="80" id="editComentarios" value=""></textarea>
							 
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
	
				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
			<button type="submit" class="btn btn-primary" onclick="finalizoOrden(iEditID.value,editStatus.value)">Guardar</button>
			<input type="button" class="btn btn-warning"      btn btn-block btn-success btn-lg onclick="window.open('orders.php?id='+iEditID.value, '_blank');" value="Copia Orden">			
								
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>
	
		
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->


	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->