	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
		
	<ul class="breadcrumb">
			
				<li>
					<i class="icon-edit"></i>
					<a href="sliderAdmin.php">Slider</a>
				</li>
			</ul>
			
					<div class="row-fluid sortable">	
	
				
				
			
				
				
				
				
				
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Nuevo Slider</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
							<form class="form-horizontal" enctype="multipart/form-data" action="sliderAdmin.php" method="POST">
							<input type="hidden" name="sAction" value="newSlider"/>
							<fieldset>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">TITULO</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="newName" name="newName" type="text" placeholder="Ingrese el título" value="">
								</div>
							  </div>
							  
							   <!--<div class="control-group">
								<label class="control-label" for="focusedInput">DESCRIPCION</label>
								<div class="controls">
								  <input class="input-xlarge focused"  id="newDescription" name="newDescription" placeholder="Ingrese la descripción" type="text" value="">
								</div>
							  </div>-->

							  <div class="control-group">
							  <label class="control-label" for="fileInput">IMAGEN</label>
							  <div class="controls">
								<input class="input-file uniform_on" name="fileUpload" id="newImg" accept="image/*" id="fileInput" type="file">
							  </div>
							</div> 
							  
							  
							 <div class="alert alert-error" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Felicitaciones!</strong> {sResult}
						</div>
			
							  <div class="form-actions">
								<button type="submit" class="btn btn-primary">Guardar</button>
								<button type="reset" class="btn" >Cancelar</button>
								
							  </div>
							</fieldset>
						  </form>
				</div><!--/span-->
			
			</div><!--/row-->

			
			
			
			
			
    

	</div><!--/.fluid-container-->
	
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Sliders Disponibles</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>TITULO</th>
									  <!--<th>DESCRIPCION</th>-->
									  <th>IMAGEN</th>
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlock-->
								 <!--BeginResultsBlock-->
								<tr id="{iId}">
									
									<td class="center">{sName}</td>
									<!--<td class="center">{sDescription}</td>-->
									<td class="center">{sImg}</td>
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showSliderData('{iId}');">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteSlider');">
									<i class="halflings-icon white trash"></i> 
									</a>
								</td>                                   
								</tr>
								<!--EndResultsBlock-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Editar Slider</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="sliderAdmin.php" method="POST">
							<input type="hidden" name="sAction" value="editSlider"/>
							<input type="hidden" id="iEditID" name="iEditID" value=""/>
							
							<fieldset>
							  <div class="control-group">
								<label class="control-label" for="focusedInput">TITULO</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="editName" name="editName" type="text" placeholder="Ingrese el título" value="">
								</div>
							  </div>
							  
							  <!-- <div class="control-group">
								<label class="control-label" for="focusedInput">DESCRIPCION</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="editDescription" name="editDescription" placeholder="Ingrese la descripción" type="text" value="">
								</div>
							  </div>-->
							  
							 
							    <div class="control-group">
								<label class="control-label" for="focusedInput">IMAGEN</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el nombre de la imagen" id="editImg" name="editImg" type="text" value="">
								</div>
							  </div>
	
				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
			<button type="submit" class="btn btn-primary">Guardar</button>
								
								
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->


	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->