  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/base.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="http://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>



<div style="clear:both;"></div>



<div class="base col-88">
<div class="col-86 rowfixed" style="display: flex !important;" >
<div class="col-3 gd">

<div class="logo col-6" align="center" style="margin-top:10%">
<a href="index.php"><img height="90%" width="90%" src="img/logoL.png" align="left" alt="Pascual_Gorrassi_logo">

</a>
<br>
</div>
<div class="logo col-5" align="left" style="
    /* padding-left: 30%; */
">
                        <br>
                        <ul class="footer-contact-list">
                            
                            <li style="margin-top:40px">
							<span id="direccion" class="_txt-base _light _margin-27-ud">
                                <i class="fa fa-map-marker"></i>
                                TALCAHUANO 1756 -  </span>
                            
							<span id="ciudad" class="_txt-base _light _margin-27-ud">
							Mar del Plata
							</span>
							</li>
							<li style="margin-top:30px">
                              <span id="telefono" class="_txt-base _light _margin-27-ud">  <i class="fa fa-phone"></i>
                               (223) 482-1607   -  </span>
                           
							   <span id="celular" class="_txt-base _light _margin-27-ud"> 
                                <i class="fa fa-whatsapp"></i>
                          (223) 5056093</span></li>
						  
						  <li style="margin-top:40px">
                              <span class="_txt-base _light _margin-27-ud"> Seguinos  en las redes sociales</span>
                           
							   </li>
							   <li style="margin-top:30px">
                              <span id="facebook" style="font-size: 18px;font-family:'Open Sans', sans-serif;color:white !important">  <a style="color:black !important" href="https://www.facebook.com/pascualgorrassi">
							  <i style="color:black !important" class="fa fa-facebook-square " ></i>/pascualgorrasi</a>  </span>
							
                          <span id="instagram" style="font-size: 18px;font-family:'Open Sans', sans-serif;color:white !important">  <a style="color:black !important" href="https://www.instagram.com/pascualgorrassi">
							<i style="color:black !important" class="fa fa-instagram " ></i>/pascualgorrasi</a>  </span>
							    </li>
                        </ul>
                    </div>
</div>
<div class="col-3">
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<center><h1 class="_color-titulo _no-marg">CONTACTO</h1></center><br>
<center>
<p>
 

<div id="contact-form" >
<form action="" method="post" name="pedido" id="formulario">
<fieldset>
<div class="group">
<input id="first_name" name="firstname" type="text" required class="validate input-field required" />
<span class="highlight"></span><span class="bar"></span>
<label for="firstname">Nombre</label>
</div>

<div class="group " >
<input id="last_name" name="lastname" type="text" required class="validate input-field required" />
<span class="highlight"></span><span class="bar"></span>
<label for="lastname">Apellido</label>
</div>

<div class="group ">
<input id="email" name="email" type="text" required class="validate input-field required mail"/>
<span class="highlight"></span><span class="bar"></span>
<label for="email">Email</label>
</div>


<div class="group ">
<input id="message" name="message" required class="materialize-textarea input-field" />
<span class="highlight"></span><span class="bar"></span>
<label for="message">Comentario</label>
</div>
 </fieldset>
 <div class="button "><a class="simpleCart_checkout" href="javascript:;"><span class="checkout_btn">Consultar</span></a></div>
<small>Tus datos serán enviados. Tené en cuenta que los datos son importantes para poder realizar la consulta con exito. Gracias Por visitarnos y confiar en nosotros.</small>
</form>

</div>


</p>
  </center>
</div>
</div>

<!-- ...hasta aqui -->
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>

<script type="text/javascript">
$(document).ready(function() { 
 
    $('.simpleCart_checkout').click(function() {  
 
        $(".error").hide();
        var hasError = false;
 
        var emailaddressVal = $("#email").val();
        if(emailaddressVal == '') {
            $("#email").before('<span class="error">Ingresa un email valido</span>');
            hasError = true;

        };
		
		  var messageVal = $("#message").val();
        if(messageVal == '') {
            $("#message").before('<span class="error">Ingresa un mensaje</span>');
            hasError = true;

        };
		
		  var firstnameVal = $("#firstname").val();
        if(firstnameVal == '') {
            $("#firstname").before('<span class="error">Ingresa un Nombre</span>');
            hasError = true;

        };
		
		
		  var lastnameVal = $("#lastname").val();
        if(lastnameVal == '') {
            $("#lastname").before('<span class="error">Ingresa un Apellido</span>');
            hasError = true;

        };

        if(hasError == true) { return false; }
 
    });
});
</script>
  <script type="text/javascript">
simpleCart({
    checkout: {
        type: "SendForm",
        url: "form.php",
        method: "POST",
        currency: "ARS",
        extra_data: {
           first_name: document.getElementById('first_name').value,
           last_name: document.getElementById('last_name').value,
           email: document.getElementById('email').value,
           message: document.getElementById('message').value,
           }
     }

});
    simpleCart.bind( 'beforeCheckout' , function( data ){
    data.first_name = document.getElementById("first_name").value;
    data.last_name = document.getElementById("last_name").value;
    data.email = document.getElementById("email").value;
    data.message = document.getElementById("message").value;
    });
</script>