<div style="clear:both;"></div>



<div class="base col-88">
<div class="col-86 rowfixed" >
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<center><h1 class="_color-titulo _no-marg">CREDITO PERSONAL</h1></center><br>
<p >
 <center>
 <img src="img/credito3.jpg" alt="" style="mix-blend-mode: multiply;width: 50%;padding: 30px;">
 
 
 <center><h3 class="_color-titulo _no-marg">CONSULTA TU CREDITO DISPONIBLE</h3></center><br>
<center><a href="https://api.whatsapp.com/send?phone=5492235056093&amp;text=Quiero%20mi%20credito%20personal!!" target="_blank"><img class="_marg-27" src="img/whatsapp-logo.png" alt="whatsapp" style="height: 7vh;"></a></center>
 <!--<img src="img/credito1.jpg" alt="" style="mix-blend-mode: multiply;width: 90%;padding: 30px;">
 <BR><BR>
  <img src="img/credito2.jpg" alt="" style="mix-blend-mode: multiply;width: 90%;padding: 30px;">-->
 </center>

<br><br>
</p>
  
</div>


<!-- ...hasta aqui -->
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>