  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/base.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

  
<div style="clear:both;"></div>

<div class="col-86 rowfixed cont_int" style="background:#f3f3f3;">
<center style="padding:40px 0;">
<h2>Actualmente en tu carrito.</h2>
</center>
<div id="cartTotal">
<div class="total_quantity">
Tenés <strong><span class="simpleCart_quantity"></span></strong> productos en el carrito.</div>
<div class="total_amount">
Tu subtotal es  <strong><span class="simpleCart_total" style="position:unset"></span></strong></div>
</div>
<br>
<div class="checkout">
<div class="simpleCart_items">

</div>
<div>
  <div class="row col-5" style="margin:10px 12px 0 auto;background: #fcfcfc;padding: 18px;border-radius: 6px;box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);">
  <h2>Casi es tuyo</h2>
  <div id="contact-form" >
    <form action="" method="post" name="pedido" id="formulario">
    <fieldset>
    <div class="group ">
    <input id="message" name="message" class="materialize-textarea input-field" />
    <span class="highlight"></span><span class="bar"></span>
    <label for="message">Detalles del pedido(opcional)</label>
    </div>
     </fieldset>
     <div class="button "><a class="simpleCart_checkout" href="javascript:;"><span class="checkout_btn">Finalizar compra</span></a></div>
    <small>Tus datos serán enviados. Tené en cuenta que los datos son importantes para poder realizar el envio con exito. Gracias Por visitarnos y confiar en nosotros. Al enviar está de acuerdo con nuestras politicas de venta.</small>
    </form>
    </div>
  </div>
</div>
</div>



</div>

  <div style="clear:both;"></div>



<!-- <div class="col-86 rowfixed"><dl>
<dt style="background: #f27743!important;border-bottom:unset;font-size:24px;border-top:unset;display: block;">Finalizar Pedido <span style="direction:rtl;" class="fa fa-truck"></span></dt>
<dd>
 

          <h2 style="padding:50px 0;">Enviar Pedido</h2>
          <div id="orderScroller">
<div id="contact-form" >
<form action="" method="post" name="pedido" id="formulario">
<fieldset>

------
<div class="group">
<input id="first_name" name="firstname" type="text" class="validate input-field required" />
<span class="highlight"></span><span class="bar"></span>
<label for="firstname">Nombre</label>
</div>

<div class="group " >
<input id="last_name" name="lastname" type="text" class="validate input-field required" />
<span class="highlight"></span><span class="bar"></span>
<label for="lastname">Apellido</label>
</div>

<div class="group ">
<input id="email" name="email" type="text" class="validate input-field required mail"/>
<span class="highlight"></span><span class="bar"></span>
<label for="email">email</label>
</div>

<div class="group ">
<input id="phone" name="phone" type="text" class="validate nput-field"/>
<span class="highlight"></span><span class="bar"></span>
<label for="phone">Teléfono</label>
</div>

<div class="group ">
<input id="address" name="address" class="validate input-field"></input>
<span class="highlight"></span><span class="bar"></span>
<label for="address">Dirección</label>
</div>

<div class="group">
<input id="postcode" name="postcde" type="text" class="validate input-field"/>
<span class="highlight"></span><span class="bar"></span>
<label for="postcode">Codigo Postal CPA</label>
<small  style="position: relative;left: 30%;"><a href="javascript:CPA('http://www.correoargentino.com.ar/mobile/cpa')">CONSULTA CPA</a></small>
</div>-------

<div class="group ">
<input id="message" name="message" class="materialize-textarea input-field" />
<span class="highlight"></span><span class="bar"></span>
<label for="message">Detalles del pedido(opcional)</label>
</div>
 </fieldset>
 <div class="button "><a class="simpleCart_checkout" href="javascript:;"><span class="checkout_btn">Enviar pedido</span></a></div>
<small>Tus datos serán enviados. Tené en cuenta que los datos son importantes para poder realizar el envio con exito. Gracias Por visitarnos y confiar en nosotros. Al enviar está de acuerdo con nuestras politicas de venta.</small>
</form>

</div>
</div>


  
</dd>
  </dl></div> -->


<script type="text/javascript">
$(document).ready(function() { 
 
    $('.simpleCart_checkout').click(function() {  
 
        $(".error").hide();
        var hasError = false;
 
       /* var emailaddressVal = $("#email").val();
        if(emailaddressVal == '') {
            $("#email").before('<span class="error">Ingresa un email valido</span>');
            hasError = true;

        };

            
                    var addressVal = $("#address").val();
        if(addressVal == '') {
            $("#address").before('<span class="error">Ingresa una direccion valida</span>');
            hasError = true;
        };
                            var phoneVal = $("#phone").val();
        if(phoneVal == '') {
            $("#phone").before('<span class="error">Ingresa un telefono. es importante para confirmar el pedido!</span>');
            hasError = true;
        }*/
 
        if(hasError == true) { return false; }
 
    });
});
</script>
  <script type="text/javascript">
simpleCart({
    checkout: {
        type: "SendForm",
        url: "sendcart2.php",
        method: "POST",
        currency: "ARS",
        extra_data: {
          /* first_name: document.getElementById('first_name').value,
           last_name: document.getElementById('last_name').value,
           email: document.getElementById('email').value,
           phone: document.getElementById('phone').value,
           address: document.getElementById('address').value,
           postcode: document.getElementById('postcode').value,*/
           message: document.getElementById('message').value,
           }
     }

});
    simpleCart.bind( 'beforeCheckout' , function( data ){
    /*data.first_name = document.getElementById("first_name").value;
    data.last_name = document.getElementById("last_name").value;
    data.email = document.getElementById("email").value;
    data.phone = document.getElementById("phone").value;
    data.address = document.getElementById("address").value;*/
    data.message = document.getElementById("message").value;
   /* data.postcode = document.getElementById("postcode").value;*/
    });
</script>
<script language=javascript>
function CPA (URL){
   window.open(URL,"ventana1","width=360,height=530,scrollbars=NO")
}
</script> 
 
  <script src="js/form.js"></script>  