<div class="_center col-space-2 col-span-2 col-space-2-md">
            <!-- HEADER CENTRAL / BREADCRUMB -->

            <!-- HEADER CENTRAL / BREADCRUMB -->
            <!-- TITULOS MOBILE -->
            <div class="ch _marg-27">
                <div class="ch _marg-27"></div>
                <h1 class="_color-titulo _no-marg">TERMINOS Y CONDICIONES</h1>
                <h3 class="_color-subtitulo _no-marg _normal">Bases y fundamentos enfocados en el desarrollo de la empresa</h3>
            </div>
            <!-- TITULOS MOBILE -->
            <!-- CONTENIDO -->

            <div class="_marg-27-bt">
                <article class="article">
                    <div class="row col-1 col-span-2 _center" style="height:calc( var(--altura-base) * 10)!important;">
                        <div class="breadcrumb _left _marg-27-bt">
                            <p>
                                <small>
                                    <strong>
                                    </strong>
                                    </small>
                            </p>
                        </div>
                    </div>
                    <div class="_marg-27-bt">
                        <h1 class="h2 _normal _color-titulo _no-marg">TERMINOS Y CONDICIONES</h1>
                        <h2 class="h3 _normal _color-subtitulo">Bases y fundamentos enfocados en el desarrollo de la empresa</h2>
                        <p class="_txt-base _light _margin-27-ud">
                            A continuación, se incluyen los <strong>Términos y Condiciones</strong> generales de utilización de los servicios ofrecidos en el Sitio Web que regirán los derechos y obligaciones entre los usuarios y <strong>Pascual Gorrassi S.A.</strong> <br>
Al ingresar en el Sitio, el Usuario declara saber, conocer y aceptar los presentes Términos y Condiciones de Uso. <br>
Los <strong>Términos y Condiciones</strong> de Uso, así como sus modificaciones, estarán vigentes en forma inmediata a su publicación en el Sitio. <br>
La utilización del Sitio implica el conocimiento y la aceptación plena por parte del Usuario de los Términos y Condiciones de Uso. <br>
En caso de no aceptar en los Términos y Condiciones de Uso o cualquier cambio o modificación de las mismas no deberá continuar utilizando el Sitio. <br>
El Sitio ha sido creado para que constituya un medio virtual para el acceso de los Usuarios a los productos disponibles en el local de ventas de <strong>Pascual Gorrassi de Talcahuano 1756</strong>. <br>
Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. <br>
No podrán utilizar los Servicios las personas que no tengan esa capacidad ni los menores de edad.<br><br>
                        </p>
						  <div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">PRECIOS</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
						   Los precios publicados son de Contado, pudiendo pagar los mismos en <strong>Efectivo, Tarjeta de débito o Tarjeta de Crédito en un Pago</strong>.<br>
Dado que el propósito del Sitio es permitir a los Usuarios visualizar los productos del local de ventas virtualmente, sin concurrir personalmente al mismo, los precios de cada producto deberán ser los que el Usuario observaría en caso de recorrer las instalaciones del local de ventas. 
No obstante que Pascual Gorrassi S.A se esfuerza por proporcionar información precisa sobre esos precios, pueden ocurrir errores. 
En el caso de que un producto figure en las listas del Sitio a un precio incorrecto debido a un error, <strong>Pascual Gorrassi S.A</strong> tendrá el derecho, de corregirlo por el precio vigente al momento de facturar en el local de ventas. 
En este caso, se dará aviso del error al Usuario, y con él la posibilidad de cancelar o modificar la compra del producto facturado u ofrecido de forma incorrecta. 
En los casos que el Sitio contenga promociones que consistan en la entrega gratuita o rebaja de un producto, se hará la entrega en el local de ventas de Talcahuano 1756. 
Las promociones no son acumulativas unas con otras.<br><br>
                        </p>
                       
					    <div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">PROMOCIONES</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
						   Las promociones publicadas en nuestras redes sociales tienen vigencia hasta agotar stock o hasta la fecha indicada en la promoción. 
En caso de no figurar el tiempo de validez en la imagen de la promoción siempre se puede consultar en el local de ventas o por nuestros canales de comunicación. 
Todas las imágenes de las promociones son meramente ilustrativas.<br><br>
                        </p>
					   
					   
					   
					    <div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">DESCRIPCIONES E IMÁGENES DE LA MERCADERÍA</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
						  <strong>Pascual Gorrassi S.A</strong> intenta ser lo más preciso posible en sus descripciones de productos. 
Sin embargo, es posible que las descripciones de los productos u otros contenidos de este Sitio no sean exactos o contengan errores. 
La información sobre características de los productos, a la que se accede a través de este Sitio se obtiene de afirmaciones hechas por el fabricante de cada producto. 
Por favor tenga en cuenta que, en ocasiones los fabricantes pueden alterar sus empaques y etiquetas, de manera que el verdadero embalaje del producto y materiales adjuntos pueden contener información diferente de la que se muestra en el Sitio. 
Para obtener información adicional acerca de un producto, por favor póngase en contacto con el fabricante, distribuidor o importador.<br><br>
                        </p>
					   
					   
					   
					     <div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">ENVIOS A DOMICILIO</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
						 *Los envíos a domicilio tienen un costo fijado por la empresa dependiendo la Zona de reparto.<br>
*La entrega de los productos es puerta a puerta.<br>
*No incluye instalación de artículos electrónicos o gas, ni armado de muebles.<br>
*Fuera de los días y radio asignados el envío tendrá un costo adicional<br><br>
                        </p>
						
						
						  <div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">TARJETAS DE CREDITO</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
						• Las cuotas sin interés como los planes ahora3, ahora 6 y ahora 12 son con tarjetas visa, mastercard y cabal de entidades bancarias.<br>
• Todos los planes sin interés están sujetos a modificaciones o cambios sin previo aviso.<br>
• Los planes ahora 3, ahora 6 y ahora 12 quedan sujetos a las renovaciones dispuestas por las entidades competentes.<br><br>
                        </p>
						
						
						  <div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">CREDITOS PERSONALES</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
						<strong>Boston Cred</strong><br><br>


<strong>PLAN DNI DNI</strong> + 2 Servicios<br>

<strong>PLAN RECIBO DE SUELDO DNI</strong> + Servicios + Recibos de Sueldo<br>

<strong>SI YA SOS CLIENTE</strong> DNI<br><br>



<strong>Pascual Gorrassi S.A</strong><br><br>


REQUISITOS PARA ABRIR CUENTA CORRIENTE EN PASCUAL GORRASSI S.A<br><br>

DOCUMENTACIÓN SOLICITANTE:<br><br>

<strong>EMPLEADO DNI</strong> + Últimos 3 Recibos de Sueldo (1 Año de Antigüedad) + Servicio o Impuesto<br>

<strong>COMERCIANTE DNI</strong> + Habilitación Comercial + Último Pago de Seguridad e Higiene + Servicio o Impuesto + Declaración Jurada de IIBB e Iva<br>

<strong>PROFESIONAL AUTÓNOMO DNI</strong> + Matrícula + Servicio o Impuesto + Aporte Autonomo<br>

<strong>MONOTRIBUTISTA DNI </strong>+ Últimos 3 Pagos Monotributo + Constancia de Inscripción (AFIP) (1 Año de Actividad) + Servicio o impuesto<br>

<strong>PROPIETARIO DNI </strong>+ Escritura + Servicio o Impuesto<br>

<strong>JUBILADO DNI</strong> + Últimos 3 Recibos de Cobro + Servicio o Impuesto<br>

<strong>PERSONAL SERVICIO DOMESTICO DNI</strong> + 3 Últimos Recibos de Sueldo + Ticket de aporte Previsional + Servicio o Impuesto ( 1 Año de Antigüedad )<br>

<strong>CON GARANTÍA DNI </strong>+ Servicio o Impuesto + Documentación Garante<br>

Aprobado este crédito accede a financiación de 3 cuotas sin interes o hasta máximo de 6 cuotas, abonando la primer cuota al realizar la operación y el resto del 1 al 10 de cada mes en nuestro local de ventas de Talcahuano 1756.<br><br>



                        </p>
						
						
						
						<div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">REDES SOCIALES</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
						Las únicas redes oficiales de Pascual Gorrassi S.A son:<br><br>

*Facebook : Pascual Gorrassi S.A<br>
*Instagram: pascualgorrassi<br>
*Whatsapp: 223-5056093<br><br>

No brindes información, ni participes en concursos o promociones que se hagan desde supuestas redes sociales de Pascual Gorrassi que no sean las antes detalladas.<br><br>


                        </p>
						
						
						
						
							<div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">CANALES DE VENTA</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
<strong>Pascual Gorrassi S.A</strong> solo comercializa sus productos por medio de su Local de Ventas en la calle Talcahuano 1756 en Mar del Plata, Web www.pascualgorrassi.com.ar, Venta Online por Whatsapp (223-5056093), Venta Telefónica (0223) 482-1607 y Venta E-mail a ventas@pascualgorrassi.com.ar. <br>
No brindes información si no es por los medios nombrados anteriormente.<br><br>

                        </p>
						
						
						
						
								<div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">SITIO WEB</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
El único sitio web oficial de Pascual Gorrassi S.A es www.pascualgorrassi.com.ar, si ingresas a un sitio que se muestra como Pascual Gorrassi, incluso usando su marca y logo, pero su URL no es la antes mencionada estas en un sitio falso, no efectúes compras ni brindes datos de medios de pago para evitar así posibles fraudes. Ante cualquier duda que tengas sobre la autenticidad de un sitio web o red social comunícate con nosotros al (0223) 482-1607, o envíanos un email a administracion@pascualgorrassi.com.ar .<br><br>


                        </p>
						
						
						
						
								<div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">PEDIDO ONLINE</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
<strong>EL PEDIDO ONLINE NO ES UNA COMPRA CONCRETADA</strong><br><br>

El pedido web dependerá de:<br><br>

* Stock disponible, nuestros operadores confirmarán si está disponible el producto solicitado, caso contrario se ofrecerá un producto similar en conformidad del cliente o se anulara el pedido de ese producto.<br>
* Se espera una confirmación de parte del cliente al llamado de nuestro operador.<br>
* Se validarán los datos del comprador.<br><br>

                        </p>
						
						
						
								<div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">NUESTROS CONTACTOS</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
Nunca te pediremos información personal, como tu número de tarjeta de crédito, identificación, claves de seguridad o CUIT, por e-mail o por teléfono. Revisa que el e-mail provenga de direcciones con dominio @pascualgorrassi.com.ar. Nunca enviamos e-mails desde casillas personales o con dominios como @gmail, @hotmail, @yahoo, etc.<br>

Los e-mails de los cuales podes recibir consultas, información o promociones son los siguientes:<br><br>

<strong>administración@pascualgorrassi.com.ar</strong><br>
<strong>ventas@pascualgorrassi.com.ar</strong><br><br>


Ante cualquier duda que tengas sobre la autenticidad de un E-Mail comunícate con nosotros al (0223) 482-1607, o envíanos un email a <strong>administracion@pascualgorrassi.com.ar</strong> .

                        </p>
						
						
						
					   
					   

                    </div>
                    
					
					
					
					<!--<div class="_marg-27">
                        <div class="row col-2 gap">
                            <div class="_card _marg-27 _center _bkg-base-w">Equilibrio</div>
                            <div class="_card _marg-27 _center _bkg-base-w">Claridad</div>
                            <div class="_card _marg-27 _center _bkg-base-w">Versatilidad</div>
                            <div class="_card _marg-27 _center _bkg-base-w">Adaptable</div>
                        </div>
                        <p class="_txt-base _light _margin-27-ud">
                            Los principios conceptuales son fundamentos teóricos que sirven como base para el desarrollo de cualquier disciplina o área de conocimiento.
                        </p>
                        <p class="_txt-base _light _margin-27-ud">
                            Estos principios buscan establecer los conceptos fundamentales y las relaciones entre ellos, permitiendo así una comprensión más profunda y amplia de la materia en cuestión.
                        </p>
                        <p class="_txt-base _light _margin-27-ud">
                            Nos brindan herramientas para un enfoque claro, concreto y objetivo dentro de espacios de heterogeneidad, como lo es la Universidad
                        </p>
                    </div>-->
					
					
					
					
					
                </article>
            </div>
            <!-- CONTENIDO -->

        </div>