<div class="ch" style="height: 198px;"></div>
<main class="_row _col-1">
  <section {sWebSin} class="_col-1 _marg-27">
    <!-- seccion slider Ofertas principales -->
    <div class="swiper misOfertas">
      <div class="swiper-wrapper"> 

				<!--BeginSlider-->
	      <div class="swiper-slide _rounded" style="background: url('img_prod/slider/{sImgSlider}') center center no-repeat;">

	      	
          <div class="titulo_rot"><!--{sNameSlider}--></div>
      		
	        <a class="small _fondo-base-hover _marg-9 bot-gen _bot-noborde _rounded" href="offers.php?art={iIdSliderEncrip}">Ver oferta</a>
	      </div>	
	      <!--EndSlider-->

			</div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  <!-- seccion slider Ofertas principales -->
  </section>
