
  
<div {sWebSin} class="col-6 slider">
	<div class="swiper-container">
		<div class="swiper-wrapper">

		<!--BeginSlider-->
							 
    <div class="swiper-slide" style="background:no-repeat center/130% url('img_prod/slider/{sImgSlider}');background-size:cover;">
      <div class="contenido_slide">

           <div class="titulo_rot"><!--{sNameSlider}--></div>
      </div>
    </div>
 
		<!--EndSlider-->
							    
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next swiper-button-white"></div>
		<div class="swiper-button-prev swiper-button-white"></div>
  </div>
</div>
