			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
						
			<ul class="breadcrumb">
			<li>
					<i class="icon-home"></i>
					<a href="cpanel_user.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="departamentos.php?depto={iId}">Volver</a>
				</li>
			</ul>

			<div class="row-fluid">	
				<div class="panel">
					<div class="box-header">
						<h2>Camara de seguridad</h2>
					</div>
					
					<div class="box-content">
							<script type="text/javascript">
			<!--
				var refreshrate=1;                 //SECONDS BETWEEN REFRESH
				var image="img/cam1.jpg";          //IMAGE NAME
				function switchImage() {
    				image = document.myForm.switch.options[document.myForm.switch.selectedIndex].value;
				}
				function refresh(){
        				document.images["pic"].src=image+"?"+new Date();
        				setTimeout('refresh()', refreshrate*1000);
				}
				document.write('<img src="'+image+'" class="img-responsive img-thumbnail" alt="Camara" name="pic" id="pic">');
				if(document.images)window.onload=refresh;
			// -->
			</script>
						 <!--BeginCAMARAS-->
                                        <!--EndCAMARAS-->
										<hr>
    			<form method="" action="" name="myForm">
    				<select class="form-control"name="switch" onchange="switchImage();">
        					<option value="img/cam1.jpg">Entrada principal</option>
        					<option value="img/cam2.jpg">Hall de acceso</option>
        					<option value="img/cam3.jpg">Escritorio de recepcion</option>
       						<option value="img/cam4.jpg">Asensores planta baja</option>
    				</select>
    			</form>

						<div class="clearfix"></div>
					</div>	
				</div><!--/span-->
			
			</div><!--/row-->

			
</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	
	
	<div class="clearfix"></div>
	

	
	<!-- start: JavaScript-->

		
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		
	
		<script src="js/jquery.masonry.min.js"></script>
	
		
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		
	
	

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->
		


	<!-- end: JavaScript-->
	<!-- end: JavaScript-->
	
</body>
</html>

