
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
						
			<ul class="breadcrumb">
			<li>
					<i class="icon-home"></i>
					<a href="cpanel_user.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="departamentos.php?depto={iId}">Volver al Departamento</a>
				</li>
			</ul>

			<div class="row-fluid">	
				<div class="box blue span12">
					<div class="box-header">
						<h2>Estado Actual</h2>
					</div>
					<div class="box-content">
						
						<a class="quick-button span2">
							<h1><i class="wi wi-thermometer"></i> {temperatura}&deg</h1>
							<p>Temperatura</p>
							<span class="notification blue">Sens {sensacion}&deg</span>
						</a>

						<a class="quick-button span2">
							<h1><i class="wi wi-humidity"></i> {humedad}% </h1>
							<p>Humedad</p>
						</a>

						<a class="quick-button span2">
							<h1><i class="wi wi-strong-wind"></i> {viento_vel} </h1>
							<p>Viento [km/h]</p>
							<span class="notification blue">{viento_dir}</span>
						</a>

						<a class="quick-button span2">
							<h1><i class="wi wi-barometer"></i> {presion} </h1>
							<p>Presion [mb]</p>
						</a>

						<a class="quick-button span2">
							<h1><i class="wi wi-day-sunny"></i> {uv} </h1>
							<p>Indice UV</p>
						        <span class="notification blue">{uv_desc}</span>
						</a>

						<a class="quick-button span2">
							<h1><i class="wi wi-sleet"></i> {lluvia} </h1>
							<p>Lluvia Diaria [mm]</p>
						</a>

						<div class="clearfix"></div>
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->

			<div class="row-fluid">	
				<div class="box blue span12">
					<div class="box-header">
						<h2>Pronostico</h2>
					</div>
					<div class="box-content">
						
						<a class="quick-button span2">
							<img src="{icon_ahora}"> 
							<p>Ahora</p>
						</a>

                                                <a class="quick-button span2">
                                                        <img src="{icon_man}">
                                                        <p>Ma&ntilde;ana</p>
                                                </a>

           					<a class="quick-button span2">
                                                        <img src="{icon_man_noche}">
                                                        <p>Ma&ntilde;ana/Noche</p>
                                                </a>

						<a class="quick-button span2">
                                                        <img src="{icon_pas}">
                                                        <p>Pasado</p>
                                                </a>

						<a class="quick-button span2">
                                                        <img src="{icon_pas_noche}">
                                                        <p>Pasado/Noche</p>
                                                </a>


						<div class="clearfix"></div>
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->
			</hr>

			<div class="container">
			    <a href="http://www.accuweather.com/es/ar/mar-del-plata/7893/weather-forecast/7893" target="new">Mas informacion<br><img src="img/accuweather.png" height="10" width="200"></a>
			</div>

</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	
	
	<div class="clearfix"></div>
	

	
	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
