	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
		
		<ul class="breadcrumb">
	<li>
					
					<a href="newServiceUser.php">Nuevo Servicio</a>  
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="nextUser.php">Servicios Disponibles</a>  
					<i class="icon-angle-right"></i>
				</li>
			<li>
					
					<a href="historyUser.php">Seguimiento</a>  
					<i class="icon-angle-right"></i>
				</li>
			<!--<li>
					
					<a href="servicesUser.php">Servicios Tecnicos</a>
					<i class="icon-angle-right"></i>
				</li>-->
				<li>
					
					<a href="complaUser.php">Reclamos</a>
				</li>
				
				
			</ul>
			
			
			
			
			
			
			
					<div class="row-fluid sortable">	
					
					<div class="box" style="{sDisplayNs}">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Nuevo Reclamo</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content" style="display:none;">
							<form  class="form-horizontal" id="frmNewOrder" name="frmNewOrder" action="complaUser.php" method="POST">
							<input type="hidden" name="sAction" id="newOrderAction" value="newCompla"/>
							<fieldset>
							

							<div class="control-group">
								<label class="control-label" for="focusedInput">CREDITO </label>
								<div class="controls">
								  <input class="input focused" required id="newModelo" name="newModelo" type="text" placeholder="Ingrese el número de Crédito" value="">
								 </div>
								
							  </div>
							
							
							
							  <div class="control-group">
								<label class="control-label" autofocus for="focusedInput">APELLIDO - NOMBRE</label>
								<div class="controls">
								  <input class="input focused" required placeholder="Ingrese el Apellido" id="newApellido" name="newApellido" type="text" value="">
								<input class="input focused" required id="newNombre" name="newNombre" type="text" placeholder="Ingrese el nombre" value="">
							
								</div>
							  </div>
							  
							  
			
							  <div class="control-group">
								<label class="control-label" for="focusedInput">DOMICILIO</label>
								<div class="controls">
								  <input class="inputfocused"  placeholder="Ingrese el Domicilio" id="newDNI" name="newDNI" type="text" value="">					
								</div>
							  </div>
							  							  <div class="control-group">
								<label class="control-label" for="focusedInput">TELEFONO - CELULAR</label>
								<div class="controls">
								  <input class="input focused"  placeholder="Ingrese el teléfono" id="newTelefono" name="newTelefono" type="text" value="">
								 <input class="input focused" required placeholder="Ingrese el celular" id="newCelular" name="newCelular" type="text" value="">
							
								</div>
							  </div>
							  
							
							   <div class="control-group">
								<label class="control-label" for="focusedInput">DISPONIBILIDAD HORARIO</label>
								<div class="controls">
								  <input class="input-xlarge focused" placeholder="Ingrese Horario" id="newEmail" name="newEmail" type="text" value="">
								</div>
							  </div>
							  
							 
							 
							   <div class="control-group">
								<label class="control-label" for="focusedInput">MARCA - ARTICULO</label>
								<div class="controls">
	
								  <select required id="newMarca" name="newMarca" >
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarcas}</option>
									<!--EndMarcasBlock-->
									
								  </select>
					<input class="input-xlarge focused" required placeholder="Ingrese el artículo" id="newArticulo" name="newArticulo" type="text" value="">
							
								</div>
							  </div>
							
							
							  
							 
							   
							   
							    <div class="control-group">
								<label class="control-label" for="focusedInput">FACTURA - FECHA COMPRA</label>
								<div class="controls">
								<input class="input-xlarge focused"  placeholder="Ingrese la factura" id="newFactura" name="newFactura" type="text" value="">
								  <input class="input-xlarge focused"  id="newFecha" name="newFecha" placeholder="Ingrese la fecha" type="date" value="">
								
								
								</div>
							  </div>
							  
							    
							   <div class="control-group">
								<label class="control-label" for="focusedInput">GARANTIA</label>
								<div class="controls">
								  <input class="input-xlarge focused" placeholder="Garantia" id="newCredito" name="newCredito" type="text" value="">
								</div>
							  </div>
							
							
							  <div class="control-group">
								<label class="control-label" for="focusedInput">DEFECTO</label>
								<div class="controls">
								  <textarea  required name="newProblema" autofocus placeholder="Ingrese el problema" rows="1" cols="90" id="textarea2"></textarea>
								</div>
							  </div>
							
							
							 
							    <div class="control-group">
							  <label class="control-label" for="textarea2">OBSERVACIONES</label>
							  <div class="controls">
								
							 
							 <textarea  name="newObservaciones" autofocus placeholder="Ingrese las observaciones" rows="4" cols="70" id="textarea2"></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
								 <div class="control-group">
								<label class="control-label" for="focusedInput">RECIBE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="newRecibe" name="newRecibe" placeholder="Ingrese quien lo recibe" type="text" value="{sSysUserName}">
								
								</div>
							  </div>
							
							
							
							
							
							  
							 <div class="alert alert-error" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Felicitaciones!</strong> {sResult}
						</div>
			
							  <div class="form-actions">
								<button type="button" class="btn btn-primary" onclick="newOrderComplo('complaUser.php');">Guardar</button>
								<button type="reset" class="btn" >Cancelar</button>
								
							  </div>
							</fieldset>
						  </form>
				</div><!--/span-->
			
			</div><!--/row-->
					
					

	</div><!--/.fluid-container-->
	
	<div class="box" style="{sDisplaySd}">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Reclamos</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
							<!--<a href="exportComplaAdmin.php" target="_blank"> Exportar</a>-->
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								
									 
									  <th>FECHA</th>
									  <th>APELLIDO</th>
									  <th>NOMBRE</th>
									  <th>TELEFONO</th>
									  <th>CELULAR</th>
									  <th>MARCA</th>
									  <th>ARTICULO</th>
									  <th>ESTADO</th>
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						   <!--BeginResultsBlock-->
								 <!--BeginResultsBlock-->
								<tr id="{iId}">
									
									<td class="center">{sFechaB}</td>
									<td class="center">{sApellido}</td>
									<td class="center">{sNombre}</td>
									<td class="center">{sTelefono}</td>
									<td class="center">{sCelular}</td>
									<td class="center">{sMarca}</td>
									<td class="center">{sArticulo}</td>
									<td class="center">{sEstado}</td>
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showComplaUserData('{iId}');">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<!--<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteCompla');">
									<i class="halflings-icon white trash"></i> 
									</a>-->
								</td>                                   
								</tr>
								<!--EndResultsBlock-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Editar Reclamo</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="complaUser.php" method="POST">
							<input type="hidden" name="sAction" value="editCompla"/>
							 <input type="hidden" id="iEditID" name="iEditID">
								
							
							<fieldset>
							
							
							<div class="control-group">
								<label class="control-label" for="focusedInput">CREDITO </label>
								<div class="controls">
								  <input class="input focused" required id="editModelo" name="editModelo" type="text" placeholder="Ingrese el número de Crédito" value="">
								 </div>
								
							  </div>
							 
							  <div class="control-group">
								<label class="control-label" for="focusedInput">APELLIDO - NOMBRE</label>
								<div class="controls">
								  <input class="input focused" required placeholder="Ingrese el Apellido" id="editApellido" name="editApellido" type="text" value="">
								  <input class="input focused" required id="editNombre" name="editNombre" type="text" placeholder="Ingrese el nombre" value="">
								</div>
							  </div>
							  
							    <div class="control-group">
								<label class="control-label" for="focusedInput">DOMICILIO</label>
								<div class="controls">
								  <input class="inputfocused"  placeholder="Ingrese el Domicilio" id="editDNI" name="editDNI" type="text" value="">
									</div>
							  </div>
			
							  <div class="control-group">
								<label class="control-label" for="focusedInput">TELEFONO - CELULAR</label>
								<div class="controls">
								
								  <input class="input focused"  placeholder="Ingrese el teléfono" id="editTelefono" name="editTelefono" type="text" value="">
								  <input class="input focused" required placeholder="Ingrese el celular" id="editCelular" name="editCelular" type="text" value="">
								
								</div>
							  </div>
							  
							   <div class="control-group">
							   
							   
								<label class="control-label" for="focusedInput">DISPONIBILIDAD HORARIA</label>
								<div class="controls">
								
								  <input class="input-xlarge focused"  placeholder="Ingrese Horario" id="editEmail" name="editEmail" type="text" value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">RECIBIO</label>
								<div class="controls">
								 <input class="input-xlarge focused"  id="editRecibe"  name="editRecibe" placeholder="Ingrese quien lo recibió" type="text" value="">
							
								</div>
							  </div>
							  
	
							   <div class="control-group">
								<label class="control-label" for="focusedInput">MARCA - ARTICULO</label>
								<div class="controls">
								  <select required id="editMarca" name="editMarca" >
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarcas}</option>
									<!--EndMarcasBlock-->
									
								  </select>
								<input class="input-xlarge focused" required placeholder="Ingrese el artículo" id="editArticulo" name="editArticulo" type="text" value="">
								
								</div>
							  </div>
							  
							  
							     <div class="control-group">
								<label class="control-label" for="focusedInput">FACTURA - FECHA COMPRA</label>
								<div class="controls">
								   
								<input class="input-xlarge focused"  placeholder="Ingrese la factura" id="editFactura" name="editFactura" type="text" value="">
								 <input class="input-xlarge focused"  id="editFecha" name="editFecha" placeholder="Ingrese la fecha" type="date" value="">
								
								</div>
							  </div>
	 
							 <div class="control-group">
							   
							   
								<label class="control-label" for="focusedInput">GARANTIA</label>
								<div class="controls">
								
								  <input class="input-xlarge focused"  placeholder="Ingrese Garantía" id="editCredito" name="editCredito" type="text" value="">
								</div>
							  </div>
	
	
	 <div class="control-group">
							   
							   
								<label class="control-label" for="focusedInput">DEFECTO</label>
								<div class="controls">
								
								 <textarea  required name="editProblema" placeholder="Ingrese el defecto" rows="1" cols="90" id="editProblema" value=""></textarea>
								</div>
							  </div>
	
	
	
	
	
							    <div class="control-group">
							  <label class="control-label" for="textarea2">OBSERVACIONES</label>
							  <div class="controls">
								
							  <textarea  name="editObservaciones" placeholder="Ingrese las observaciones" rows="4" cols="70" id="editObservaciones" value=""></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
							 <div class="control-group">
								<label class="control-label" for="focusedInput">ESTADO</label>
								<div class="controls">
								<select required id="editStatus" name="editStatus" >
									
									<option value=''>Selecione un estado</option>
									<option value='1'>ACTIVO</option>
									<option value='2'>FINALIZADO</option>
									
									
								  </select>
								 </div>
							  </div>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
	
				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
		<button type="submit" class="btn btn-primary">Guardar</button>
			<!--<input type="button" class="btn btn-warning"      btn btn-block btn-success btn-lg onclick="window.open('orders.php?id='+iEditID.value, '_blank');" value="Copia Orden">	-->		
								
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->


	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->