
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
						
			<ul class="breadcrumb">
			<li>
					<i class="icon-home"></i>
					<a href="cpanel_user.php">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<i class="icon-edit"></i>
					<a href="departamentos.php?depto={iId}">Volver</a>
				</li>
			</ul>

			<div class="row-fluid">
				
				
				<div class="span7">
					
							<div class="dark">
					
					<h2>Contacto</h2>
					
				 <form enctype="multipart/form-data" action="uploadData.php" class="form-vertical" method="POST">
				 <input type="hidden" name="sAction" value="Subida"/>
				 <input type="hidden" name="iDepto" value="{iId}"/>
						  <fieldset>
							<div class="control-group">
							  <label class="control-label" for="fileInput">Puede incluir una foto</label>
							  <div class="controls">
								<input class="input-file uniform_on" name="fileUpload" accept="image/*" id="fileInput" type="file">
							  </div>
							</div>          
							<div class="control-group">
							  <label class="control-label" for="textarea2">Ingrese su consulta</label>
							  <div class="controls">
								<textarea  name="description" autofocus rows="6" cols="50" id="textarea2"></textarea>
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							<div class="form-actions">
							  <button type="submit" class="btn btn-primary">Aceptar</button>
							  <button type="reset" class="btn">Cancelar</button>
							</div>
						  </fieldset>
						</form>
 <div class="alert alert-error" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert"></button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert"></button>
							Se consulta fue registrada con exito
						</div>						
				</div>
					
					
					
					
					
			
					
				</div>
				

				
				<div class="span5 noMarginLeft">
								

					<div class="box-content" style="{sDisplayRECLAMOS}">
						<ul class="chat">
						<!--BeginRECLAMOS-->
							<li class="left">
								<img class="avatar" alt="Question icon" src="img/question.png">
								<span class="message"><span class="arrow"></span>
									<span class="from"><strong>Consulta</strong></span>
									<span class="time">{sFecha}</span>
									<span class="text">
										{sMensaje}
									</span>
								</span>	                                  
							</li>
						
							<li class="right" style="{sDisplayRESPUESTA}">
								<img class="avatar" alt="Answer icon" src="img/answer.png">
								<span class="message"><span class="arrow"></span>
									<span class="from"><strong>Respuesta</strong></span>
									<span class="time">{sFechaRespuesta}</span>
									<span class="text">
										{sRespuesta}
									</span>
								</span>                                  
							</li>
							<!--EndRECLAMOS-->
						</ul>
						
					</div>
					
					<div class="clearfix"></div>	
			
				
				</div>	
						
			</div>
			
       

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	
	
	<div class="clearfix"></div>
	

	
	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
