﻿	
	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
		
	<ul class="breadcrumb">
	<li>
					
					<a href="newServiceUser.php">Nuevo Servicio</a>  
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="historyUser.php">Servicios Disponibles</a>  
					<i class="icon-angle-right"></i>
				</li>
			<li>
					
					<a href="nextUser.php">Seguimiento</a>  
					<i class="icon-angle-right"></i>
				</li>
			<li>
					
					<a href="servicesUser.php">Servicios Tecnicos</a>
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="complaUser.php">Reclamos</a>
				</li>
				
				
			</ul>
			
					<div class="row-fluid sortable">	
					
					
					
					
		
				
				
			
				
				
				
				
				
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Nuevo Servicio Técnico</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content" style="display: none;">
							<form class="form-horizontal" action="servicesUser.php" method="POST">
							<input type="hidden" name="sAction" value="newServices"/>
							<fieldset>
							
							
							
							 <div class="control-group">
								<label class="control-label" >MARCA</label>
								<div class="controls">
								  <select required id="newMarca" name="newMarca" data-rel="chosen">
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarca}</option>
									<!--EndMarcasBlock-->
									
								  </select>
								</div>
							  </div>
							
							 <div class="control-group">
								<label class="control-label" >TIPO</label>
								<div class="controls">
								  <select required id="newTipo" name="newTipo" data-rel="chosen">
									<option value=''>Selecione un tipo</option>
									<option value='1'>Interno</option>
									<option value='0'>Externo</option>
								  </select>
								</div>
							  </div>
							
							
							
							  <div class="control-group">
								<label class="control-label" for="focusedInput">NOMBRE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="newNombre" name="newNombre" type="text" placeholder="Ingrese el nombre" value="">
								</div>
							  </div>
				
							  <div class="control-group">
								<label class="control-label" for="focusedInput">TELEFONO</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el teléfono" id="newTelefono" name="newTelefono" type="text" value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CELLULAR</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el celular" id="newCelular" name="newCelular" type="text" value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">EMAIL</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el email" id="newEmail" name="newEmail" type="text" value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">DOMICILIO</label>
								<div class="controls">
								  <input class="input-xlarge focused"  placeholder="Ingrese el domicilio" id="newDomicilio" name="newDomicilio" type="text" value="">
								</div>
							  </div>
							    <div class="control-group">
								<label class="control-label" for="focusedInput">OBSERVACIONES</label>
								<div class="controls">
								  <input class="input-xlarge focused"  placeholder="Ingrese las observaciones" id="newObs" name="newObs" type="text" value="">
								</div>
							  </div>
							   
						
							 <div class="alert alert-error" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Felicitaciones!</strong> {sResult}
						</div>
			
							  <div class="form-actions">
								<button type="submit" class="btn btn-primary">Guardar</button>
								<button type="reset" class="btn" >Cancelar</button>
								
							  </div>
							</fieldset>
						  </form>
				</div><!--/span-->
			
			</div><!--/row-->

			
						
				
			
			
    

	</div><!--/.fluid-container-->
	
	<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Servicios Disponibles</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
							<!--<a href="exportServicesAdmin.php" target="_blank"> Exportar</a>-->
						</div>
					</div>
					<div class="box-content">
				 
			   <table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								 
									  <th>ID</th>
									  <th>MARCA</th>
									  <th>TELEFONO</th>
									  <th>CELULAR</th>
									  <th>NOMBRE</th>
									  <th>DOMICILIO</th>
									  <th>OBSERVACIONES</th>
									  <th>VER</th>	
							  </tr>
						  </thead>   
						  <tbody>
						  
								 <!--BeginResultsBlock-->
								<tr id="{iId}">
									
									<td class="center">{iId}</td>
									<td class="center">{sMarca}</td>
									<td class="center">{sTelefono}</td>
									<td class="center">{sCelular}</td>
									<td class="center">{sNombre}</td>
									<td class="center">{sDomicilio}</td>
									<td class="center">{sObservaciones}</td>
									
		
									<td class="center">
									<a class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="showServicesDataUser('{iId}');">
									<i class="halflings-icon white zoom-in"></i>  
									</a>
									<!--<a class="btn btn-info" href="#">
									<i class="halflings-icon white edit"></i>  
									</a>-->
									<a class="btn btn-danger" href="javascript:;" onclick="eliminar('{iId}','deleteServicesUser');">
									<i class="halflings-icon white trash"></i> 
									</a>
								</td>                                   
								</tr>
								<!--EndResultsBlock-->
							

							</tr>
						  </tbody>
					  </table> 
			   
					</div>
				</div><!--/span-->
			
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Editar Service</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="servicesUser.php" method="POST">
							<input type="hidden" name="sAction" value="editServices"/>
							<input type="hidden" id="iEditID" name="iEditID" value=""/>
							
							<fieldset>
							
							
							  
							   <div class="control-group">
								<label class="control-label" >MARCA</label>
								<div class="controls">
								  <select required id="editMarca" name="editMarca" >
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarca}</option>
									<!--EndMarcasBlock-->
									
								  </select>
								</div>
							  </div>
							  
							  
							    <div class="control-group">
								<label class="control-label" >TIPO</label>
								<div class="controls">
								  <select required id="editTipo" name="editTipo" >
									<option value=''>Selecione un tipo</option>
									<option value='1'>Interno</option>
									<option value='0'>Externo</option>
								  </select>
								</div>
							  </div>
							  
							  
							  
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">NOMBRE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="editNombre" name="editNombre" type="text" placeholder="Ingrese el nombre" value="">
								</div>
							  </div>
				
							  <div class="control-group">
								<label class="control-label" for="focusedInput">TELEFONO</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el teléfono" id="editTelefono" name="editTelefono" type="text" value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CELLULAR</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el celular" id="editCelular" name="editCelular" type="text" value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">EMAIL</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el email" id="editEmail" name="editEmail" type="text" value="">
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">DOMICILIO</label>
								<div class="controls">
								  <input class="input-xlarge focused"  placeholder="Ingrese el domicilio" id="editDomicilio" name="editDomicilio" type="text" value="">
								</div>
							  </div>
							    <div class="control-group">
								<label class="control-label" for="focusedInput">OBSERVACIONES</label>
								<div class="controls">
								  <input class="input-xlarge focused"  placeholder="Ingrese las observaciones" id="editObs" name="editObs" type="text" value="">
								</div>
							  </div>
	
				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
			<button type="submit" class="btn btn-primary">Guardar</button>
								
								
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->


	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->