﻿	
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
		
	<ul class="breadcrumb">
	<li>
					
					<a href="newServiceUser.php">Nuevo Servicio</a>  
					<i class="icon-angle-right"></i>
				</li>
				<li>
					
					<a href="historyUser.php">Servicios Disponibles</a>  
					<i class="icon-angle-right"></i>
				</li>
			<li>
					
					<a href="nextUser.php">Seguimiento</a>  
					<i class="icon-angle-right"></i>
				</li>
			<!--<li>
					
					<a href="servicesUser.php">Servicios Tecnicos</a>
					<i class="icon-angle-right"></i>
				</li>-->
				<li>
					
					<a href="complaUser.php">Reclamos</a>
				</li>
				
				
			</ul>
			
					
				
			
				
				
				
				
				
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Nuevo Servicio</h2>
						<div class="box-icon">
							
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
							<form  class="form-horizontal" action="newServiceUser.php" method="POST">
							<input type="hidden" name="sAction" value="newService"/>
							<fieldset>
							

							 <label class="control-label" for="focusedInput"><strong>CLIENTE</strong></label>
							 <hr>
							 
							 
							  <div class="control-group">
								<label class="control-label" autofocus for="focusedInput">APELLIDO -NOMBRE -DNI</label>
								<div class="controls">
								  <input class="input focused" required placeholder="Ingrese el Apellido" id="newApellido" name="newApellido" type="text" value="">
							<input class="input focused" required id="newNombre" name="newNombre" type="text" placeholder="Ingrese el nombre" value="">
							<input class="inputfocused" required placeholder="Ingrese el DNI" id="newDNI" name="newDNI" type="text" value="">					
							
								</div>
							  </div>
							  
	
							  	  <div class="control-group">
								<label class="control-label" for="focusedInput">TELEFONO - CELULAR</label>
								<div class="controls">
								  <input class="input focused" required placeholder="Ingrese el teléfono" id="newTelefono" name="newTelefono" type="text" value="">
								 <input class="input focused" required placeholder="Ingrese el celular" id="newCelular" name="newCelular" type="text" value="">
							
								</div>
							  </div>
							  
							 
							   <div class="control-group">
								<label class="control-label" for="focusedInput">EMAIL</label>
								<div class="controls">
								  <input class="input-xlarge focused" placeholder="Ingrese un email" id="newEmail" name="newEmail" type="text" value="">
								</div>
							  </div>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CREDITO</label>
								<div class="controls">
								  <input class="input-xlarge focused" maxlength="8" placeholder="Ingrese el Crédito" id="newCredito" name="newCredito" type="text" value="">
								
								
								</div>
							  </div>
							  <hr>
							   <label class="control-label" for="focusedInput"><strong>ARTEFACTO</strong></label>
							   <hr>
							   <br>
							   
							   <div class="control-group">
								<label class="control-label" for="focusedInput">MARCA - ARTICULO</label>
								<div class="controls">
							
								  <select required id="newMarca" name="newMarca" >
									
									<option value=''>Selecione una marca</option>
									<!--BeginMarcasBlock-->
									<option value='{iMarca}'>{sMarca}</option>
									<!--EndMarcasBlock-->
									
								  </select>
								
									<input class="input-xlarge focused" required placeholder="Ingrese el artículo" id="newArticulo" name="newArticulo" type="text" value="">
								
								</div>
							  </div>
							
							 
							  
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">MODELO - SERIE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el modelo" id="newModelo" name="newModelo" type="text" value="">
								<input class="input-xlarge focused"  id="newSerie" name="newSerie" placeholder="Ingrese el n° de serie" type="text" value="">
								
								</div>
							  </div>
							   
							   
							    <div class="control-group">
								<label class="control-label" for="focusedInput">FACTURA - FECHA COMPRA</label>
								<div class="controls">
								<input class="input-xlarge focused" maxlength="8" required placeholder="Ingrese la factura" id="newFactura" name="newFactura" type="text" value="">
								  <input class="input-xlarge focused" required id="newFecha" name="newFecha" placeholder="Ingrese la fecha" type="date" value="">
								
								
								</div>
							  </div>
							  
							      <div class="control-group">
								<label class="control-label" for="focusedInput">ACCESORIOS</label>
								<div class="controls">
								 
								<input class="input-xlarge focused"  id="newAcc" name="newAcc" placeholder="Ingrese accesorios" type="text" value="">
								
								</div>
							  </div>
							  
							
							 
							    <div class="control-group">
							  <label class="control-label" for="textarea2">DEFECTO - OBSERVACIONES</label>
							  <div class="controls">
								
							  <textarea  name="newProblema" autofocus placeholder="Ingrese el problema" rows="4" cols="70" id="textarea2"></textarea>
							 <textarea  name="newObservaciones" autofocus placeholder="Ingrese las observaciones" rows="4" cols="70" id="textarea2"></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
							
							
							
							 <div class="control-group">
								<label class="control-label" for="focusedInput">RECIBE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="newRecibe" name="newRecibe" placeholder="Ingrese quien lo recibe" type="text" value="{sSysUserName}">
								
								</div>
							  </div>
							  
							  
							 <div class="alert alert-error" style="{sDisplayError}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Error!</strong> Algo salio mal, intente de nuevo.
						</div>
						<div class="alert alert-success" style="{sDisplayOK}">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Felicitaciones!</strong> {sResult}
						</div>
			
							  <div class="form-actions">
								<button type="submit" class="btn btn-primary">Guardar</button>
								<button type="reset" class="btn" >Cancelar</button>
								
							  </div>
							</fieldset>
						  </form>
				</div><!--/span-->
			
			</div><!--/row-->

			
			
			
			
			
    

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Editar </h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="newServiceUser.php" method="POST">
							<input type="hidden" name="sAction" value="editService"/>
							<input type="hidden" id="iEditID" name="iEditID" value=""/>
							
							<fieldset>
							
							
							<div class="control-group">
								<label class="control-label" for="focusedInput">ORDEN </label>
								<div class="controls">
								  <input class="input focused" disabled required id="editOrden" name="editOrden" type="text" placeholder="Ingrese el número de orden" value="">
								 </div>
								
							  </div>
							 
							  <div class="control-group">
								<label class="control-label" for="focusedInput">APELLIDO - NOMBRE</label>
								<div class="controls">
								  <input class="input focused" required placeholder="Ingrese el Apellido" id="editApellido" name="editApellido" type="text" value="">
								  <input class="input focused" required id="editNombre" name="editNombre" type="text" placeholder="Ingrese el nombre" value="">
								</div>
							  </div>
							  
			
							  <div class="control-group">
								<label class="control-label" for="focusedInput">DNI - TELEFONO</label>
								<div class="controls">
								  <input class="inputfocused" required placeholder="Ingrese el DNI" id="editDNI" name="editDNI" type="text" value="">
								  <input class="input focused" required placeholder="Ingrese el teléfono" id="editTelefono" name="editTelefono" type="text" value="">
								</div>
							  </div>
							  
							   <div class="control-group">
								<label class="control-label" for="focusedInput">CREDITO - FACTURA</label>
								<div class="controls">
								  <input class="input-xlarge focused" maxlength="8" required placeholder="Ingrese el Crédito" id="editCredito" name="editCredito" type="text" value="">
								<input class="input-xlarge focused" maxlength="8" required placeholder="Ingrese la factura" id="editFactura" name="editFactura" type="text" value="">
								
								</div>
							  </div>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">EMAIL</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese un email" id="editEmail" name="editEmail" type="text" value="">
								</div>
							  </div>
							 
							  <hr>
							   <div class="control-group">
								<label class="control-label" for="focusedInput">MARCA - ARTICULO</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese la marca" id="editMarca" name="editMarca" type="text" value="">
								<input class="input-xlarge focused" required placeholder="Ingrese el artículo" id="editArticulo" name="editArticulo" type="text" value="">
								
								</div>
							  </div>
							  
							  
							  <div class="control-group">
								<label class="control-label" for="focusedInput">MODELO - SERIE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required placeholder="Ingrese el modelo" id="editModelo" name="editModelo" type="text" value="">
								<input class="input-xlarge focused" required id="editSerie" name="editSerie" placeholder="Ingrese el n° de serie" type="text" value="">
								
								</div>
							  </div>
							   
							   
							    <div class="control-group">
								<label class="control-label" for="focusedInput">FECHA COMPRA - ACCESORIOS</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="editFecha" name="editFecha" placeholder="Ingrese la fecha" type="date" value="">
								<input class="input-xlarge focused" required id="editAcc" name="editAcc" placeholder="Ingrese accesorios" type="text" value="">
								
								</div>
							  </div>
							  
							
							 
							    <div class="control-group">
							  <label class="control-label" for="textarea2">DEFECTO - OBSERVACIONES</label>
							  <div class="controls">
								<textarea  name="editProblema" placeholder="Ingrese el defecto" autofocus rows="4" cols="70" id="textarea1" value=""></textarea>
							  <textarea  name="editObservaciones" autofocus placeholder="Ingrese las observaciones" rows="4" cols="70" id="textarea2" value=""></textarea>
							
							  </div>
							  <!--al lado de texarea class="cleditor"-->
							</div>
							
							
							
							 <div class="control-group">
								<label class="control-label" for="focusedInput">RECIBE</label>
								<div class="controls">
								  <input class="input-xlarge focused" required id="editRecibe" name="editRecibe" placeholder="Ingrese quien lo recibe" type="text" value="">
								</div>
							  </div>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
	
				<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
			<button type="submit" class="btn btn-primary">Guardar</button>
								
								
		</div>
							 
							</fieldset>
						  </form>
		</div>
	
	</div>
	
	<div class="clearfix"></div>
	
	
	
	<!-- start: JavaScript-->


	
		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
	<!-- end: JavaScript-->