
		
	<div class="modal hide fade" id="myModalLogs">
		<div class="modal-header">
		
			<h3>Login y Logout de Usuarios</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cerrar</a>

		</div>
	</div>


</body>
</html>