<link rel="stylesheet" href="css/base.css">
<script>
    $(function () {

        $("#container").mixItUp({
            layout: {
                containerClass: 'list'
            }
        });

        var inputText;
        var $matching = $();

        // Delay function
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $("#input").keyup(function () {
            // Delay function invoked to make sure user stopped typing
            delay(function () {
                inputText = $("#input")
                    .val()
                    .toLowerCase();

                // Check to see if input field is empty
                if ((inputText.length) > 0) {
                    $('.mix').each(function () {
                        $this = $("this");

                        // add item to be filtered out if input text matches items inside the title
                        if ($(this).children('#title').text().toLowerCase().match(inputText)) {
                            $matching = $matching.add(this);
                        } else {
                            // removes any previously matched item
                            $matching = $matching.not(this);
                        }
                    });
                    $("#container").mixItUp('filter', $matching);
                } else {
                    // resets the filter to show all item if input is empty
                    $("#container").mixItUp('filter', 'all');
                }
            }, 200);
        });
    })
</script>

<div style="clear:both;"></div>
<div class="submenu col-88 gd">
    <div class="col-86 rowfixed">
        <p class="indice">
            <strong>{sCate}</strong>
            {sSubC}
            <hr>
        </p>
        <div class="subcat">
            <nav >
                <ul>
                    <li>
                        <a href="javascript:void(0);" id="open-busca">
                            <span class="fa fa-search"></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="filter" data-filter="all">todo</a>
                    </li>

                    <!--BeginSub-->
                    {sSubM}
                    <!--EndSub-->
                </ul>
            </nav>

        </div>

    </div>

    <!--paginator-->
    <div style="clear:both;"></div>
    <div id="paginadr">
        <div class="pager-list">
            <!-- Pagination buttons will be generated here -->
        </div>
    </div>

</div>

<div style="display: none" id="caja-busca" class="col-6"><input type="text" id="input" placeholder="Buscar por Titulo ej.:batidora"></div>
<div class="_row _col-1 ch _marg-27" style="height: 185px;"></div>
<div class="_row _col-1">
<div class="base col-88">
    <div id="container" class="col-86 container rowfixed tope list">
        <!-- poner contenido aqui... -->
        {sResultado}
        <!--<h2>Electrodomésticos</h2> style="{sDisplayResul}"-->
        <!--BeginProductosXArt-->
        <!-- MODULO_PRODUCTO -->

        <div class="col-2 mix category-{sCategory}" style="{sDisplayResul}">
            <div class="simpleCart_shelfItem prod_cont _rounded" style="{sDisplayResul}">
                <a href="products_simple.php?art={iId}">
                    <div
                        class="img_frame"
                        style="background:no-repeat center/100% url('img_prod/{sFile}') rgb(255, 255, 255);margin-top:50px"
                        "></div>
                    <h2 id="title" class="item_brand">{sBrand}</h2>
                    <h2 id="title" class="item_name">{sName}</h2>
                    <h2 style="display:none" class="item_image">img_prod/{sFile}</h2>
                    <h2 style="display:none" class="item_marca">{sBrand}</h2>
                    <h2 style="display:none" class="item_modelo">{sDescription1}</h2>
                    <div class="desc">{sDescription1}</div>

                    <h2 class="item_price">
                        $ {iValue}</h2>
                </a>
                <div class="">

                    <a id="add" class="item_add small _fondo-base-hover _fondo-base3 _marg-9 bot-gen _bot-noborde _rounded _txt-blanco" style="cursor: pointer;">AGREGAR AL CARRITO</a>
                </div>

            </div>

            <!-- ini modal -->

            <div id="openModal{iId}" class="simpleCart_shelfItem modalDialog">
                <!-- la id "openModalid" id modificalo para ponerle el id de cada producto ej:
                id="openModal<?php $idProd ?>" en el boton ver mas es lo mismo deben cohincidir.
                -->

                <div>
                    <a href="#close" title="Close" class="close">&#9679;</a>

                    <div id="mod_cont_prod col-6">

                        <div class="col-2">

                            <h2 id="title" class="item_name">{sBrand}<br>{sName}</h2>
                            <div class="ch col-6" style="text-align: center;">
                                <!-- <a href="/#">ver fotos</a> -->
                                <a id="gallery{iId}" href="/#">
                                    <div
                                        class="img_frame_modal"
                                        style="background:no-repeat center/90% url('img_prod/{sFile}') rgb(255, 255, 255);"></div>
                                </a>

                                <script type="text/javascript">
                                    $('#gallery{iId}').click(function (e) {
                                        e.preventDefault();
                                        $.swipebox([
                                            {
                                                href: "img_prod/{sFile1}",
                                                title: ""
                                            }, {
                                                href: "img_prod/{sFile2}",
                                                title: ""
                                            }, {
                                                href: "img_prod/{sFile3}",
                                                title: ""
                                            }
                                        ]);
                                    });
                                </script>

                            </div>

                            <div class="desc1">{sDescription}</div>
                            <strong>
                                <small class="frase_envio11">Precio Contado en 1 Pago</small>
                                <h2 class="item_price">
                                    $ {iValue}</h2>
                                <small class="frase_envio1">{sCartel}</small><br>
                                <small class="frase_envio1">{sCuotasNew}</small><br>
                                <small class="frase_envio1">PTF: $ {iFinanciado}</small>
                            </strong><br>
                            <small class="frase_envio1">CFT: {cft}% TEA: {tea}%</small>
                        </strong><br>
                        <!--<div class="bot_comprar icon item_add" id="add"><i class="fa
                        fa-shopping-cart"></i>&nbsp;&nbsp;COMPRAR</div>-->

                        <small class="frase_envio">
                            <i class="fa fa-info-circle"></i>
                            <strong>&nbsp;CONDICIONES</strong><br/>Todas las promociones son validas hasta
                                agotar stock y quedan sujetas a cambios de precios sin previo aviso.</small><br/><br/>

                        <small class="frase_envio">
                            <i class="fa fa-truck"></i>
                            <font color="green">
                                <strong>&nbsp;ENVÍO SIN CARGO</strong>
                            </font><br/>En Mar del Plata y Zona.</small><br/><br/>

                        <small class="frase_envio">
                            <i class="fa fa-credit-card"></i>
                            Medios de Pago</small>

                        <div><img src="img/medio_pagos.png" style="width: 200px;"></div><br/>

                    </div>

                    <div class="col-4 gd">

                        <section id="gallery" class="simplegallery">

                            <div class="content">

                                <img src="img_prod/{sFile}" class="image_1 vista_previa" alt=""/>

                                <img
                                    src="img_prod/{sFile1}"
                                    class="image_2 vista_previa"
                                    style="display:none"
                                    alt=""/>

                                <img
                                    src="img_prod/{sFile2}"
                                    class="image_3 vista_previa"
                                    style="display:none"
                                    alt=""/>

                                <img
                                    src="img_prod/{sFile3}"
                                    class="image_4 vista_previa"
                                    style="display:none"
                                    alt=""/>

                            </div>

                            <div class="clear"></div>

                            <div class="thumbnail">

                                <div class="thumb">

                                    <a href="#" rel="1">

                                        <img src="img_prod/{sFile}" id="thumb_1" alt="" width="100" height="100"/>

                                    </a>

                                </div>

                                <div class="thumb">

                                    <a href="#" rel="2">

                                        <img src="img_prod/{sFile1}" id="thumb_2" alt="" width="100" height="100"/>

                                    </a>

                                </div>

                                <div class="thumb">

                                    <a href="#" rel="3">

                                        <img src="img_prod/{sFile2}" id="thumb_3" alt="" width="100" height="100"/>

                                    </a>

                                </div>

                                <div class="thumb last">

                                    <a href="#" rel="4">

                                        <img src="img_prod/{sFile3}" id="thumb_4" alt="" width="100" height="100"/>

                                    </a>

                                </div>

                            </div>

                        </section>

                    </div>

                    <div style="clear: both;"></div>

                </div>

            </div>

        </div>

        <!-- fin modal -->

    </div>

    <!--EndProductosXArt-->

</div>
<!-- ...hasta aqui -->

<!--paginator-->
<div style="clear:both;"></div>
<div id="paginadr">
    <div class="pager-list">
        <!-- Pagination buttons will be generated here -->
    </div>
</div>

</div>
<!-- ...cont -->
</div>
<!-- ...cont -->
</div>

<script>
$("#open-busca").click(function () {
$("#caja-busca").toggle();
});
</script>