﻿ 
 
<div class="grid-container">

<div class="col-88 menu gd _nav-main" {sWebSin}>

<ul>

<!--BeginMenu-->

  <li><a href="subproducts.php?art={sSub}" tabindex="{iIdMenu}">{sDescriptionMenu}</a>

	{sSubmenu}

  </li>


 <!--EndMenu-->

</ul>

  </div>

