﻿ 
<!-- menu desktop -->
<nav class="_flex _col-1 gd _center" style="background-color: #FFEDD9;">
  <div class="navbar">

<!--BeginMenu-->
    <div class="dropdown">
        <button class="dropbtn">
          {sDescriptionMenu}
        </button>
        <div class="dropdown-content">
          <div class="row _col-4 _marg-27" style="margin-top: -30px;">
            <div class="header _marg-27-ud">
              <h2 class="_no-marg"><a href="subproducts.php?art={sSub}" class="_no-deco _color-titulo" tabindex="{iIdMenu}">{sDescriptionMenu}</a> </h2>
            </div>
            <!-- <ul class="_menu_gral_int _col-span-3">
              <li class="h4"> -->
              {sSubmenu} 
              <!-- </li>
            </ul> -->
                 
          </div>          
        </div>
    </div>
<!--EndMenu-->
<!-- menu desktop -->
  </div>
</nav>