
<div style="clear:both;"></div>
<div class="base col-88">
<div id="resolucionPc">
<div class="_row _col-1 _center" style="text-align:center;">
<div class="rowfixed" >
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>

<div class="_row _col-2" id="contact-form">

<div class="_row _center" >   
 <div style="padding-left:10%;padding-right:10%;">	<h1 class="_color-titulo _no-marg"><strong>¿Eres nuevo en Pascual Gorrassi?</strong></h1><br>	<h4 class="_marg-9 _color-titulo"> Aqui puedes crear tu cuenta y acceder a la compra de artículos de nuestro catálogo digital.</h4>
 <div class="box_mas_comprar" style="margin-left:20%;margin-right:20%;margin-top:30px;"><!--<a href="#openOffer904">ver más...</a>-->
 <a  href="altaclientes.php" class="bot_comprar icon ">CREAR CUENTA</a>  </div></div></div>
 
 
 
 <div class="_row _center" >
 <!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
 <div ><center><h1 class="_color-titulo _no-marg">INICIO DE SESION</h1></center><br><center><p> </p>
 <div >
 
 <form action="index.php" method="post" name="pedido" id="formulario">
 
 <fieldset><div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
 <label for="user" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Correo electrónico</strong></label>
 <input id="user" name="user" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail">
 <span class="highlight"></span><span class="bar"></span></div><div class="group" style="margin-left:10%;margin-right:10%;margin-bottom:10px;">
 <label for="pass" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Contraseña</strong></label>
 <input id="pass" name="pass" type="password" style=" width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"required="" class="validate input-field required"> <div style="text-align:left !important;float:left;margin-bottom:20px;">  
 <input type="checkbox" id="recordarme" name="recordarme" ><label class="_marg-9 _color-titulo"> Recordarme</label></div></div> </fieldset> 
 
 <div class="box_mas_comprar" style="margin-left:20%;margin-right:20%"><!--<a href="#openOffer904">ver más...</a>-->
 <button type="submit" name="go" class="bot_comprar icon" style="border: none;
outline: none;padding-left: 20%;font-family: 'Open Sans', sans-serif; margin-left:0px !important; margin-right:0px !important;
padding-right: 20%;">ACCEDER</button>
  </div>  
  
  <span style="margin-left:10px;display:inline-block;
    vertical-align:middle;font: normal 600 0.95em 'Open Sans', sans-serif;">
	<a href="olvidapassword.php" style="color:#ee8d03 " class="contactos">¿Olvidaste tu contraseña?</a></span>
	<br>
	<br>
 </form>
 
 </div>
 
 <p></p>  </center></div></div>
 
 
 
 
</div>
</div>
</div>
</div>

<div id="resolucionMovil" style="display:none">
<div class="_row _col-1 _center" style="text-align:center;">
<div class="col-86 rowfixed" ><!-- style="font-weight: bold; font: 110% Open Sans small-caps;"-->
<br><!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br><!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br>
<div style=" display: flex;align-items: center;border-bottom: 1px solid lightgray;"><!-- style="font-weight: bold; font: 110% Open Sans small-caps;"--><br><div style="padding-left:10%;padding-right:10%;margin-bottom:20px"><center><h1 class="_color-titulo _no-marg">INICIO DE SESION</h1></center><br><center><p> </p><div id="contact-form"><form action="" method="post" name="pedido" id="formulario"><fieldset>
<div class="group " style="margin-left:10%;margin-right:10%;margin-bottom:10px;"><label for="email" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Correo electrónico</strong></label><input id="email" name="email" type="text" required="" style="width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"class="validate input-field required mail"><span class="highlight"></span><span class="bar"></span></div>
<div class="group" style="margin-left:10%;margin-right:10%;margin-bottom:10px;"><label for="password" style="text-align:left !important;float:left;" class="_marg-9 _color-titulo"><strong>Contraseña</strong></label><input id="password" name="password" type="password" style=" width: 100%;  padding: 12px 20px;  margin: 8px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;"required="" class="validate input-field required"> <div style="text-align:left !important;float:left;margin-bottom:20px;">  <input type="checkbox" id="recordarme" name="recordarme"><label class="_marg-9 _color-titulo"> Recordarme</label></div></div> </fieldset> <div class="box_mas_comprar" style="margin-left:20%;margin-right:20%"><!--<a href="#openOffer904">ver más...</a>--><a  class="bot_comprar icon ">ACCEDER</a>  </div>
<span style="margin-left:10px;display:inline-block;
    vertical-align:middle;font: normal 600 0.95em 'Open Sans', sans-serif;">
	<a href="olvidapassword.php" style="color:#ee8d03 " class="contactos">¿Olvidaste tu contraseña?</a></span>
  </form></div><p></p>  </center></div></div><div  style="   display: flex;align-items: center;border-top: 1px solid lightgray;">    <div style="padding-left:10%;padding-right:10%;margin-top:20px">	<h1 class="_color-titulo _no-marg"><strong>¿Eres nuevo en Pascual Gorrassi?</strong></h1><br>	<h4 class="_marg-9 _color-titulo"> Aqui puedes crear tu cuenta y acceder a la compra de artículos de nuestro catálogo digital.</h4><div class="box_mas_comprar" style="margin-left:10%;margin-right:10%;margin-top:30px;"><!--<a href="#openOffer904">ver más...</a>--><a  href="altaclientes.php" class="bot_comprar icon ">CREAR CUENTA</a>  </div></div></div></div></div></div>
<!-- ...hasta aqui -->
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div>