<div class="base col-88">
<div class="col-86 rowfixed exito">
<h2>Tu consulta fue realizada con 
exito!</h2>
<img src="img/logo_success.svg">
<p>En breve se comunicará nuestro asesor.<br>
Gracias por darnos tu confianza!</p>
<img src="img/logo_inv.svg">
</div>
<div style="clear:both;"></div>
</div>

<div style="clear:both;"></div>
</div> 