<div style="clear:both;"></div>

<div class="base col-88">
	<div class="col-86 rowfixed exito">
		<!-- poner contenido aqui... -->
		<h1>Página en mantenimiento.</h1>
		<img src="img/outservice.webp">

		<h2>Pagina fuera de servicio</h2>
		<h2>Disculpe los inconvenientes</h2>
		<img src="img/logo_inv.svg">
	<!-- ...hasta aqui -->
	</div>

</div>
