.navbar {
    overflow: hidden;
    background-color: #ffedd9;
    font-family: Arial, Helvetica, sans-serif
}

.dropdown {
    float: left;
    overflow: hidden
}

.dropdown .dropbtn {
    border: none;
    outline: 0;
    color: #005273;
    padding: 27px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0
}

.dropdown:hover .dropbtn,
.navbar a:hover {
    background-color: #fafafa
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    left: 0;
    box-shadow: 0 20px 5px -20px rgba(0, 0, 0, .2);
    z-index: 10;
    padding: 27px
}

.dropdown-content .header {
    background: #fafafa;
    padding: 16px;
    color: #005273
}

.dropdown:hover .dropdown-content {
    display: block
}

.row-menu {
    padding-bottom: 54px
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #fafafa;
    height: 250px
}

.column a {
    float: none;
    color: #000;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left
}

.column a:hover {
    background-color: #ddd
}

.row-menu:after {
    content: "";
    display: table;
    clear: both
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
        height: auto
    }
}

ul._menu_gral_int {
    align-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
  }