@media (min-width: 0) {
    .svg-10:hover path:nth-child(1) {
        d: path("M 26,5 H 50");
    }
    .svg-10:hover path:nth-child(2) {
        d: path("M 3,27 H 50");
    }
    .svg-10:hover path:nth-child(3) {
        d: path("M 26,49 H 50");
    }
}

@media (min-width: 480px) {
    .svg-10:hover path:nth-child(1) {
        d: path("M 26,5 H 50");
    }
    .svg-10:hover path:nth-child(2) {
        d: path("M 3,27 H 50");
    }
    .svg-10:hover path:nth-child(3) {
        d: path("M 26,49 H 50");
    }
}

@media (min-width: 960px) {
    .svg-10:hover path:nth-child(1) {
        d: path("M 26,5 H 50");
    }
    .svg-10:hover path:nth-child(2) {
        d: path("M 3,27 H 50");
    }
    .svg-10:hover path:nth-child(3) {
        d: path("M 26,49 H 50");
    }
}