
/* SECCIONES BASE MOBILE BREAKPOINT  */

@media (min-width: 0) {
    .misOfertas.swiper {
        width: 80vw;
        height: 70vh;
        margin-left: auto;
        margin-right: auto;
    }
    
    .misOfertas .swiper-slide {
        height: 95%;
        box-sizing: content-box;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: end;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
        background-size: cover!important;
    }
    
    .misOfertas .swiper-slide a {
        margin: 27px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 14px;
        font-weight: bold;
        text-decoration: none;
        color: darkslategray;
    }
    
    .misOfertas .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}

@media (min-width:960px) {
    .misOfertas.swiper {
        width: 80vw;
        height: 90vh;
        margin-left: auto;
        margin-right: auto;
    }
    
    .misOfertas .swiper-slide {
        height: 95%;
        box-sizing: content-box;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: end;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
        background-size: cover!important;
    }
    
    .misOfertas .swiper-slide a {
        margin: 27px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 14px;
        font-weight: bold;
        text-decoration: none;
        color: darkslategray;
    }
    
    .misOfertas .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}