:root {
  --altura-base: 9px;
}
@media (min-width: 0) {
  .ch {
    display: grid;
  }
  .gd {
    display: none !important;
  }
  .rowmargin {
    padding: 6% !important;
  }
  .rowmargin-sm {
    margin: 0 6% !important;
  }
  ._col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-1-xs {
    grid-column-start: 1 !important;
  }
  ._col-span-1-xs {
    grid-column: span 2 / span 2;
  }
  ._col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-2-sm {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  ._col-2-xs {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  ._col-space-2-xs {
    grid-column-start: 2;
  }
  ._col-space-2-x {
    grid-column-start: 1;
  }
  ._col-span-2-xs {
    grid-column: span 1 / span 1;
  }
  ._col-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-3-xs {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  ._col-space-3-xs {
    grid-column-start: 3 !important;
  }
  ._col-span-3-xs {
    grid-column: span 1 / span 1;
  }
  ._col-span-3-xs {
    grid-column: span 3 / span 3 !important;
  }
  ._col-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-4-xs {
    grid-column-start: 1 !important;
  }
  ._col-span-4-xs {
    grid-column: span 1 / span 1;
  }
  ._col-5 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-5-sm {
    grid-template-columns: repeat(5, 1fr);
  }
  ._col-5-xs {
    grid-template-columns: repeat(5, 1fr);
  }
  ._col-space-5-xs {
    grid-column-start: 1 !important;
  }
  ._col-span-5-xs {
    grid-column: span 1 / span 1;
  }
  ._col-6 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-6-xs {
    grid-column-start: 1 !important;
  }
  ._col-span-6-xs {
    grid-column: span 1 / span 1;
  }
  ._col-7 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-7-xs {
    grid-column-start: 1 !important;
  }
  ._col-span-7-xs {
    grid-column: span 1 / span 1;
  }
  ._col-8 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-8-xs {
    grid-column-start: 1 !important;
  }
  ._col-span-8-xs {
    grid-column: span 1 / span 1;
  }
  ._col-9 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-9-xs {
    grid-column-start: 1 !important;
  }
  ._col-span-9-xs {
    grid-column: span 1 / span 1;
  }
  ._col-10 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-10-xs {
    grid-column-start: 1 !important;
  }
  ._col-span-10-xs {
    grid-column: span 1 / span 1;
  }
  ._col-11 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-11-xs {
    grid-column-start: 1 !important;
  }
  ._col-span-11-xs {
    grid-column: span 1 / span 1;
  }
  ._col-12 {
    grid-template-columns: repeat(3, 1fr);
  }
  ._col-space-12-xs {
    grid-column-start: 3 !important;
  }
  ._col-span-12-xs {
    grid-column: span 3 / span 3;
  }
}
@media (min-width: 480px) {
  .ch {
    display: grid;
  }
  .gd {
    display: none;
  }
  .rowmargin {
    padding: 0 6% !important;
  }
  ._col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-1-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  ._col-space-1-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-1-sm {
    grid-column: span 2 / span 2;
  }
  ._col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-2-sm {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  ._col-space-2-xs {
    grid-column-start: 0;
  }
  ._col-space-2-x {
    grid-column-start: 2;
  }
  ._col-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-3-sm {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  ._col-space-3-sm {
    grid-column-start: 3 !important;
  }
  ._col-span-3-sm {
    grid-column: span 1 / span 1;
  }
  ._col-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-4-sm {
    grid-template-columns: repeat(4, 1fr);
  }
  ._col-space-4-sm {
    grid-column-start: 4 !important;
  }
  ._col-span-4-sm {
    grid-column: span 1 / span 1;
  }
  ._col-5 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-5-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-5-sm {
    grid-column: span 1 / span 1;
  }
  ._col-6 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-6-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-6-sm {
    grid-column: span 1 / span 1;
  }
  ._col-7 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-7-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-7-sm {
    grid-column: span 1 / span 1;
  }
  ._col-8 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-8-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-8-sm {
    grid-column: span 1 / span 1;
  }
  ._col-9 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-9-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-9-sm {
    grid-column: span 1 / span 1;
  }
  ._col-10 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-10-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-10-sm {
    grid-column: span 1 / span 1;
  }
  ._col-11 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-11-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-11-sm {
    grid-column: span 1 / span 1;
  }
  ._col-12 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-12-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-12-sm {
    grid-column: span 1 / span 1;
  }
}
@media (min-width: 720px) {
  .gd {
    display: none !important;
  }
  .ch {
    display: none !important;
  }
  ._col-span-2 {
    grid-column: span 2 / span 2;
  }
  ._col-span-1-sm {
    grid-column: none !important;
  }
  ._col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-1-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  ._col-space-1-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-1-sm {
    grid-column: span 2 / span 2;
  }
  ._col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-2-sm {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  ._col-space-2-xs {
    grid-column-start: 0;
  }
  ._col-space-2-x {
    grid-column-start: 2;
  }
  ._col-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-3-sm {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  ._col-space-3-sm {
    grid-column-start: 3 !important;
  }
  ._col-span-3-sm {
    grid-column: span 1 / span 1;
  }
  ._col-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-4-sm {
    grid-template-columns: repeat(4, 1fr);
  }
  ._col-space-4-sm {
    grid-column-start: 4 !important;
  }
  ._col-span-4-sm {
    grid-column: span 1 / span 1;
  }
  ._col-5 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-5-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-5-sm {
    grid-column: span 1 / span 1;
  }
  ._col-6 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-6-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-6-sm {
    grid-column: span 1 / span 1;
  }
  ._col-7 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-7-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-7-sm {
    grid-column: span 1 / span 1;
  }
  ._col-8 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-8-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-8-sm {
    grid-column: span 1 / span 1;
  }
  ._col-9 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-9-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-9-sm {
    grid-column: span 1 / span 1;
  }
  ._col-10 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-10-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-10-sm {
    grid-column: span 1 / span 1;
  }
  ._col-11 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-11-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-11-sm {
    grid-column: span 1 / span 1;
  }
  ._col-12 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-12-sm {
    grid-column-start: 1 !important;
  }
  ._col-span-12-sm {
    grid-column: span 1 / span 1;
  }
}
@media (min-width: 960px) {
  .gd {
    display: grid !important;
  }
  .ch {
    display: none !important;
  }
  ._80vh {
    min-height: 80vh;
  }
  ._90vh {
    min-height: 90vh;
  }
  ._100vh {
    min-height: 100vh;
  }
  ._col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-1 {
    grid-column-start: 1 !important;
  }
  ._col-span-1 {
    grid-column: span 1 / span 1;
  }
  ._col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  ._col-space-2 {
    grid-column-start: 2 !important;
  }
  ._col-span-2 {
    grid-column: span 2 / span 2;
  }
  ._col-space-2-xs {
    grid-column-start: none;
  }
  ._col-space-2-x {
    grid-column-start: none;
  }
  ._col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  ._col-space-3 {
    grid-column-start: 3 !important;
  }
  ._col-span-3 {
    grid-column: span 3 / span 3;
  }
  ._col-4 {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  ._col-space-4 {
    grid-column-start: 4 !important;
  }
  ._col-span-4 {
    grid-column: span 4 / span 4;
  }
  ._col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  ._col-space-5 {
    grid-column-start: 5 !important;
  }
  ._col-span-5 {
    grid-column: span 5 / span 5;
  }
  ._col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  ._col-space-6 {
    grid-column-start: 6 !important;
  }
  ._col-span-6 {
    grid-column: span 6 / span 6;
  }
  ._col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  ._col-space-7 {
    grid-column-start: 7 !important;
  }
  ._col-span-7 {
    grid-column: span 7 / span 7;
  }
  ._col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  ._col-space-8 {
    grid-column-start: 8 !important;
  }
  ._col-span-8 {
    grid-column: span 8 / span 8;
  }
  ._col-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  ._col-space-9 {
    grid-column-start: 9 !important;
  }
  ._col-span-9 {
    grid-column: span 9 / span 9;
  }
  ._col-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  ._col-space-10 {
    grid-column-start: 10 !important;
  }
  ._col-span-10 {
    grid-column: span 10 / span 10;
  }
  ._col-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  ._col-space-11 {
    grid-column-start: 11 !important;
  }
  ._col-span-11 {
    grid-column: span 11 / span 11;
  }
  ._col-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  ._col-space-12 {
    grid-column-start: 12 !important;
  }
  ._col-span-12 {
    grid-column: span 12 / span 12;
  }
}
@media (min-width: 1200px) {
  .rowmargin {
    padding: 0 calc(100% / 12) !important;
  }
  ._col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  ._col-space-1 {
    grid-column-start: 1 !important;
  }
  ._col-span-1 {
    grid-column: span 1 / span 1;
  }
  ._col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  ._col-space-2 {
    grid-column-start: 2 !important;
  }
  ._col-span-2 {
    grid-column: span 2 / span 2;
  }
  ._col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  ._col-space-3 {
    grid-column-start: 3 !important;
  }
  ._col-span-3 {
    grid-column: span 3 / span 3;
  }
  ._col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  ._col-space-4 {
    grid-column-start: 4 !important;
  }
  ._col-span-4 {
    grid-column: span 4 / span 4;
  }
  ._col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  ._col-space-5 {
    grid-column-start: 5 !important;
  }
  ._col-span-5 {
    grid-column: span 5 / span 5;
  }
  ._col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  ._col-space-6 {
    grid-column-start: 6 !important;
  }
  ._col-span-6 {
    grid-column: span 6 / span 6;
  }
  ._col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  ._col-space-7 {
    grid-column-start: 7 !important;
  }
  ._col-span-7 {
    grid-column: span 7 / span 7;
  }
  ._col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  ._col-space-8 {
    grid-column-start: 8 !important;
  }
  ._col-span-8 {
    grid-column: span 8 / span 8;
  }
  ._col-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  ._col-space-9 {
    grid-column-start: 9 !important;
  }
  ._col-span-9 {
    grid-column: span 9 / span 9;
  }
  ._col-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  ._col-space-10 {
    grid-column-start: 10 !important;
  }
  ._col-span-10 {
    grid-column: span 10 / span 10;
  }
  ._col-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  ._col-space-11 {
    grid-column-start: 11 !important;
  }
  ._col-span-11 {
    grid-column: span 11 / span 11;
  }
  ._col-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  ._col-space-12 {
    grid-column-start: 12 !important;
  }
  ._col-span-12 {
    grid-column: span 12 / span 12;
  }
}
body,
html {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
[class*="col-"] {
  box-sizing: border-box;
}
nav {
  height: calc(var(--altura-base) * 9) !important;
}
.row {
  display: grid;
}
._w100 {
  width: 100vw;
}
._100vh {
  min-height: 100vh;
}
section {
  min-height: calc(var(--altura-base) * 21);
}
.row > div {
  display: grid;
}
._center {
  align-content: center;
  justify-content: center;
  justify-items: center;
}
._center-left {
  align-content: center;
  justify-content: left;
  text-align: left;
}
._bottom_left {
  align-content: flex-end;
  justify-content: left;
}
._top_left {
  align-content: flex-start;
  justify-content: left;
}
._right {
  align-content: center;
  justify-content: right;
  text-align: right;
}
._left {
  align-content: center;
  justify-content: left;
}
._square {
  aspect-ratio: 1;
}
span {
  display: inline-flex;
}
._flex {
  display: flex;
}